@charset "Shift_JIS";

body  {
    font-size:10pt;
    font-family:Arial,Helvetica,San-serif;
    background:#FFF;
    margin:0px;
    padding:0px;
}

a  {
    text-decoration:none;
}

a:link  {
    color:#0066CC;
}

a:visited {
    color:#663399;
}

a:active {
    color:#FF3300;
}

a:hover {
    color:#FF3300;
}

#wrapper {
    background:#FFFFFF;
    margin:0px auto;
    padding:0px;
    height:auto;
    text-align:left;
}

#header {
    height:40px;
    margin:0px;
    padding:20px 20px 3px 20px;
    border-bottom:solid 1px #ccc;
    vertical-align:middle;
}

#header_inside {
    width:840px;
}

.header_left {
    float:left;
    margin:0px;
    padding:0px;
}

.header_right {
    float:right;
    text-align:right;
    margin-top:5px;
    padding:0px;
    margin-right:5px;
}

.senna_banner {
    float:right;
    margin-top:5px;
    padding:0px;
}

.form_input {
    width:10em;
    height:1em;
}

.form_button {
    vertical-align:text-bottom;
}

.form_select {
    width:8em;
    height:1.3em;
}

.caption {
    font-size:10pt;
}

#under_header {
    text-align:right;
    padding:5px 20px 10px 0px;
}

#main {
    width:100%;
    margin:auto;
    text-align:center;
}

#main img {
    margin:20px;
}

#contents {
    margin:50px 100px 50px 100px;
    padding:0px;
    line-height:140%;
}

#footer_menu {
    text-align:center;
    margin:0px;
    padding:0px 0px 0px 0px;
}

.guide {
    width:100%;
    margin:0px;
    padding:10px 0px 5px 0px;
    border-bottom:solid 1px #ccc;
}

.service {
    margin:0px;
    padding:5px 0px 0px 0px;
}

.banner {
    margin:0px;
    padding:10px 0px 50px 0px;
}

.banner img {
    padding:5px;
}

.condition {
    margin:0px;
    padding:20px 5px 5px 5px;
    text-align:center;
}

#footer {
    margin:50px 0px 0px 0px;
    padding;
    0px;
    height:45px;
    width:100%;
    height:50px;
}

.footer_left {
    float:left;
    margin:0px;
    padding:10px 0px 5px 20px;
    width:240px;
}

.footer_right {
    float:right;
    margin:0px;
    padding:10px 20px 5px 0px;
    width;
    240px;
}

