.red-packets {
    position: fixed;
    right: 12px;
    bottom: 164px;
    z-index: 110;
}

.red-packets a {
    width: 65px;
    height: 84px;
    font-size: 14px;
    line-height: 70px;
    text-align: center;
    color: #fff;
    word-spacing: 8px;
    letter-spacing: 1px;
    display: block;
    box-sizing: border-box;
    background: url(//pic05.babytreeimg.com/img/ng/dist/common/css/img/redbag-170122.902cc089.png) no-repeat center center;
    background-size: contain;
    border: none;
    outline: none;
}

.red-packets-intro-wraps {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 200;
    display: none;
    background-color: rgba(0, 0, 0, .6);
}

.red-packets-intro-wraps .red-packets-intro {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    padding-top: 194px;
    margin: -166px 0 0 -150px;
    background: url(//pic05.babytreeimg.com/img/ng/dist/common/css/img/redbag-bg-170122.5d6a88f7.png) no-repeat center center;
    background-size: cover;
}

.red-packets-intro p {
    margin-bottom: 4px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #fff;
}

.red-packets-intro span {
    display: block;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #ffda6a;
}

.red-packets-intro p  strong {
    font-size: 20px;
    color: #FFF349;
}

.red-packets-intro-go {
    display: block;
    width: 136px;
    height: 42px;
    margin: 10px auto 0;
    font-size: 20px;
    line-height: 42px;
    text-align: center;
    background-color: transparent;
    color: #692f2f;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    outline: none;
}

.qf73a478ce296b829f5c0b3151f87f370,
.qdec102a6b5aa42bdde839baa79618cf7 {
    position: fixed;
    bottom: -180px;
    left: 0;
    z-index: 110;
    box-sizing: border-box;
    width: 100%;
    height: 60px;
    background: #F5F8FA;
    border-top: 1px #ddd solid;
    -webkit-transition: .4s;
    transition: .4s;
}

.qdec102a6b5aa42bdde839baa79618cf7.q4a3de7ea2b048cfc72b070438acce5b3,
.qf73a478ce296b829f5c0b3151f87f370.q4a3de7ea2b048cfc72b070438acce5b3 {
    bottom: 0;
}

.qdec102a6b5aa42bdde839baa79618cf7 .qd0b11f8b900368cf39bb5c16c4de0b3f {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 46px;
    height: 46px;
}

.qdec102a6b5aa42bdde839baa79618cf7 .q9fc643add1b25aa76910e4e291384707 {
    position: absolute;
    top: 6px;
    left: 0;
    min-width: 150px;
    padding-left: 64px;
    font-size: 12px;
    color: #666;
    -webkit-transition: .4s;
    transition: .4s;
}

.qdec102a6b5aa42bdde839baa79618cf7 .q9fc643add1b25aa76910e4e291384707 .title {
    font-size: 16px;
    color: #222;
    line-height: 24px;
}

.qdec102a6b5aa42bdde839baa79618cf7 .q9fc643add1b25aa76910e4e291384707 p {
    line-height: 16px;
}

.qdec102a6b5aa42bdde839baa79618cf7 a {
    display: inline-block;
    outline: none;
}

.qf73a478ce296b829f5c0b3151f87f370 a {
    display: inline-block;
    padding-bottom: 16px;
    outline: none;
    color: #727d7f;
}

.qdec102a6b5aa42bdde839baa79618cf7 .qc243566cf1ea57ab57e622b5cc5b2c33 {
    position: absolute;
    right: 25px;
    bottom: 10px;
    display: block;
    width: 115px;
    height: 36px;
    line-height: 36px;
    font-size: 16px;
    text-align: center;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.qdec102a6b5aa42bdde839baa79618cf7 .qd5b5639adfd2ac9cad5d7f40ecd2394a,
.qf73a478ce296b829f5c0b3151f87f370 .qd5b5639adfd2ac9cad5d7f40ecd2394a {
    position: absolute;
    top: 6px;
    right: 6px;
    width: 12px;
    height: 12px;
    font-size: 0;
    background: url(//pic05.babytreeimg.com/img/ng/dist/common/css/img/icon-close.6f7b192c.png) no-repeat 50% 50%;
    opacity: .5;
    border: none;
    background-size: contain;
}

.qf73a478ce296b829f5c0b3151f87f370 {
    height: 178px;
    text-align: center;
}

.qf73a478ce296b829f5c0b3151f87f370 p,
.qbede1e7201935035d0d3d0906e96b72e p {
    font-size: 14px;
    color: #727d7f;
    line-height: 16px;
    text-align: center;
}

.qf73a478ce296b829f5c0b3151f87f370:after {
    position: absolute;
    right: 5px;
    bottom: 5px;
}

.qf73a478ce296b829f5c0b3151f87f370 .qd0b11f8b900368cf39bb5c16c4de0b3f {
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -32px;
    width: 64px;
    height: 64px;
}

.qf73a478ce296b829f5c0b3151f87f370 .q9fc643add1b25aa76910e4e291384707 {
    box-sizing: border-box;
    width: 100%;
    margin: 82px auto 5px;
    text-align: center;
}

.qf73a478ce296b829f5c0b3151f87f370 .q9fc643add1b25aa76910e4e291384707 .title {
    font-size: 16px;
    line-height: 26px;
}

.qf73a478ce296b829f5c0b3151f87f370  .qc243566cf1ea57ab57e622b5cc5b2c33 {
    display: block;
    width: 180px;
    height: 36px;
    margin: 0 auto;
    line-height: 36px;
    text-align: center;
}

.qdec102a6b5aa42bdde839baa79618cf7.q1d57fbbfc90fc4722bff05adc4591bfc .qc243566cf1ea57ab57e622b5cc5b2c33,
.qf73a478ce296b829f5c0b3151f87f370.q1d57fbbfc90fc4722bff05adc4591bfc .qc243566cf1ea57ab57e622b5cc5b2c33 {
    color: #fff;
    background: -webkit-linear-gradient(left, #FF5E46, #FD5194);
    background: linear-gradient(left, #FF5E46, #FD5194);
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.qdec102a6b5aa42bdde839baa79618cf7.q1d57fbbfc90fc4722bff05adc4591bfc .qc243566cf1ea57ab57e622b5cc5b2c33.q3fb9b1235b480072f81fc0bb802aa079,
.qf73a478ce296b829f5c0b3151f87f370.q1d57fbbfc90fc4722bff05adc4591bfc .qc243566cf1ea57ab57e622b5cc5b2c33.q3fb9b1235b480072f81fc0bb802aa079 {
    color: #181818;
    background: #f5d336;
}
/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary {
    display: block
}

audio,canvas,progress,video {
    display: inline-block
}

audio:not([controls]) {
    display: none;
    height: 0
}

progress {
    vertical-align: baseline
}

[hidden],template {
    display: none
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects
}

a:active,a:hover {
    outline-width: 0
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted
}

b,strong {
    font-weight: inherit
}

b,strong {
    font-weight: bolder
}

dfn {
    font-style: italic
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

mark {
    background-color: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub,sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

img {
    border-style: none
}

svg:not(:root) {
    overflow: hidden
}

code,kbd,pre,samp {
    font-family: monospace,monospace;
    font-size: 1em
}

figure {
    margin: 1em 40px
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

button,input,select,textarea {
    font: inherit;
    margin: 0
}

optgroup {
    font-weight: 700
}

button,input {
    overflow: visible
}

button,select {
    text-transform: none
}

[type=reset],[type=submit],button,html [type=button] {
    -webkit-appearance: button
}

[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner {
    border-style: none;
    padding: 0
}

[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring {
    outline: 1px dotted ButtonText
}

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

textarea {
    overflow: auto
}

[type=checkbox],[type=radio] {
    box-sizing: border-box;
    padding: 0
}

[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-input-placeholder {
    color: inherit;
    opacity: .54
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

.pull-left {
    float: left
}

.pull-right {
    float: right
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

body {
    position: relative;
    font-family: tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #656565;
    background-color: #fff;
    padding: 44px 0
}

body.fixed {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0;
    margin-top: 24px;
    margin-bottom: 24px
}

.h1,h1 {
    font-size: 22px;
    line-height: 24px
}

.h2,h2 {
    font-size: 19px;
    line-height: 24px
}

.h3,h3 {
    font-size: 18px;
    line-height: 24px
}

.h4,h4 {
    font-size: 16px;
    line-height: 24px
}

.h5,h5 {
    font-size: 14px;
    line-height: 24px
}

.h6,h6 {
    font-size: 12px;
    line-height: 24px
}

p {
    text-align: justify;
    color: #656565
}

.small,small {
    font-weight: 400
}

ol,ul {
    padding: 0;
    margin-top: 24px;
    margin-bottom: 24px;
    list-style: none
}

ol ol,ol ul,ul ol,ul ul {
    margin: 0
}

dl {
    margin-top: 24px;
    margin-bottom: 24px
}

dt {
    font-weight: 800
}

dd {
    margin-left: 0;
    padding: 0
}

input,textarea {
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none
}

a {
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0)
}

@font-face {
    font-family:icomoon;src:url(/img/mg/dist/base/icon/font/icomoon.1a0bba10.eot);src:url(/img/mg/dist/base/icon/font/icomoon.1a0bba10.eot#iefix) format('embedded-opentype'),url(/img/mg/dist/base/icon/font/icomoon.87304633.ttf) format('truetype'),url(/img/mg/dist/base/icon/font/icomoon.a8fbaa29.woff) format('woff'),url(/img/mg/dist/base/icon/font/icomoon.f0a4b6e7.svg#icomoon) format('svg');font-weight:400;font-style:normal
}

[class*=" icon-"],[class^=icon-] {
    font-family: icomoon!important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.icon-ask:before {
    content: "\e900"
}

.icon-baike:before {
    content: "\e901"
}

.icon-bchao:before {
    content: "\e902"
}

.icon-browse:before {
    content: "\e903"
}

.icon-comment:before {
    content: "\e904"
}

.icon-fs:before {
    content: "\e905"
}

.icon-hot:before {
    content: "\e906"
}

.icon-login:before {
    content: "\e907"
}

.icon-music:before {
    content: "\e908"
}

.icon-nengchi:before {
    content: "\e909"
}

.icon-participator:before {
    content: "\e90a"
}

.icon-search-2:before {
    content: "\e90b"
}

.icon-shequ:before {
    content: "\e90c"
}

.icon-shipu:before {
    content: "\e90d"
}

.icon-shop:before {
    content: "\e90e"
}

.icon-shu:before {
    content: "\e90f"
}

.icon-yzc:before {
    content: "\e910"
}

.btn {
    margin-bottom: 0;
    text-align: center;
    vertical-align: top;
    position: relative;
    display: inline-block;
    padding: 0 .5rem;
    font-weight: 400;
    color: #656565;
    white-space: nowrap;
    background-color: #fff;
    border: 1px solid #6FD2D2;
    border-radius: .5rem
}

.btn.active,.btn:active {
    color: inherit;
    background-color: #656565
}

.btn.disabled,.btn:disabled {
    opacity: .6
}

.btn-primary {
    color: #fff;
    background-color: #6FD2D2;
    border: 1px solid #48c6c6
}

.btn-primary.active,.btn-primary:active {
    color: #fff;
    background-color: #48c6c6;
    border: 1px solid #48c6c6
}

.btn-positive {
    color: #fff;
    background-color: #FF848A;
    border: 1px solid #FF848A
}

.btn-positive.active,.btn-positive:active {
    color: #fff;
    background-color: #ff5159;
    border: 1px solid #ff5159
}

.btn-negative {
    color: #fff;
    background-color: #eee;
    border: 1px solid #eee
}

.btn-negative.active,.btn-negative:active {
    color: #fff;
    background-color: #d5d5d5;
    border: 1px solid #d5d5d5
}

.btn-outlined {
    background-color: transparent
}

.btn-outlined.btn-primary {
    color: #656565
}

.btn-outlined.btn-positive {
    color: #656565
}

.btn-outlined.btn-negative {
    color: #656565
}

.btn-outlined.btn-negative:active,.btn-outlined.btn-positive:active,.btn-outlined.btn-primary:active {
    color: #656565
}

.btn-link {
    padding-top: 6px;
    padding-bottom: 6px;
    color: #656565;
    background-color: transparent;
    border: 0
}

.btn-link.active,.btn-link:active {
    color: #e6e6e6;
    background-color: transparent
}

.btn-block {
    margin-bottom: 0;
    display: block;
    width: 100%;
    padding: 15px 0
}

input[type=button],input[type=reset],input[type=submit] {
    width: 100%
}

.btn .badge {
    margin: -2px -4px -2px 4px;
    background-color: rgba(0,0,0,.15)
}

.btn .badge-inverted,.btn:active .badge-inverted {
    background-color: transparent
}

.btn-negative:active .badge-inverted,.btn-positive:active .badge-inverted,.btn-primary:active .badge-inverted {
    color: #fff
}

.btn-block .badge {
    position: absolute;
    right: 0;
    margin-right: 10px
}

.btn .icon {
    font-size: inherit
}

.bar {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 20;
    height: 44px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: #fff;
    border-bottom: 1px solid #656565;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

.bar-header-secondary {
    top: 44px
}

.bar-footer {
    bottom: 0
}

.bar-footer-secondary {
    bottom: 44px
}

.bar-footer-secondary-tab {
    bottom: 50px
}

.bar-footer,.bar-footer-secondary,.bar-footer-secondary-tab {
    border-top: 1px solid #656565;
    border-bottom: 0
}

.bar-nav {
    top: 0
}

.bar-title {
    position: absolute;
    display: block;
    width: 100%;
    margin: 0 -10px;
    padding: 0;
    font-size: 16px;
    line-height: 44px;
    color: #000;
    text-align: center;
    white-space: nowrap
}

.bar-title a {
    display: block;
    color: inherit
}

.bar-tab {
    display: table;
    bottom: 0;
    width: 100%;
    height: 50px;
    padding: 0;
    table-layout: fixed;
    border-top: 1px solid #656565;
    border-bottom: 0
}

.bar-tab .tab-item {
    position: relative;
    display: table-cell;
    width: 1%;
    height: 50px;
    text-align: center;
    vertical-align: middle
}

.bar-tab .tab-item.active,.bar-tab .tab-item:active {
    color: #6FD2D2
}

.bar-tab .tab-item .badge {
    position: absolute;
    top: 3px;
    left: 50%;
    vertical-align: top
}

.bar-tab .tab-item .icon {
    top: 3px;
    width: 24px;
    height: 24px;
    padding-top: 0;
    padding-bottom: 0
}

.bar-tab .tab-item .icon~.tab-label {
    display: block;
    font-size: 11px
}

.bar .btn {
    position: relative;
    top: 7px;
    z-index: 20;
    margin-top: 0;
    font-weight: 400
}

.bar .btn.pull-right {
    margin-left: 10px
}

.bar .btn.pull-left {
    margin-right: 10px
}

.bar .btn-link {
    top: 0;
    font-size: 16px;
    line-height: 44px;
    color: #fff;
    border: 0
}

.bar .btn-link.active,.bar .btn-link:active {
    color: #e6e6e6
}

.bar .btn-block {
    top: 6px;
    padding: 7px 0;
    margin-bottom: 0;
    font-size: 16px
}

.bar .btn-nav.pull-left {
    margin-left: -5px
}

.bar .btn-nav.pull-left .icon-left-nav {
    margin-right: -3px
}

.bar .btn-nav.pull-right {
    margin-right: -5px
}

.bar .btn-nav.pull-right .icon-right-nav {
    margin-left: -3px
}

.bar .icon {
    position: relative;
    z-index: 20;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 22px;
    line-height: 24px
}

.bar .btn .icon {
    top: 3px;
    padding: 0
}

.bar .title .icon {
    padding: 0
}

.bar .title .icon.icon-caret {
    top: 4px;
    margin-left: -5px
}

.bar input[type=search] {
    height: 29px;
    margin: 6px 0
}

.bar .segmented-control {
    top: 7px;
    margin: 0 auto
}

.badge {
    display: inline-block;
    padding: 2px 9px 3px;
    font-size: 12px;
    line-height: 1;
    color: #656565;
    background-color: rgba(0,0,0,.15);
    border-radius: 100px
}

.badge.badge-inverted {
    padding: 0 5px 0 0;
    background-color: transparent
}

.badge-primary {
    color: #fff;
    background-color: #428bca
}

.badge-primary.badge-inverted {
    color: #428bca
}

.badge-positive {
    color: #fff;
    background-color: #5cb85c
}

.badge-positive.badge-inverted {
    color: #5cb85c
}

.badge-negative {
    color: #fff;
    background-color: #d9534f
}

.badge-negative.badge-inverted {
    color: #d9534f
}

.card {
    margin: 10px;
    overflow: hidden;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: .5rem
}

.card .table-view {
    margin-bottom: 0;
    border-top: 0;
    border-bottom: 0
}

.card .table-view .table-view-divider:first-child {
    top: 0;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem
}

.card .table-view .table-view-divider:last-child {
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem
}

.card .table-view-cell:last-child {
    border-bottom: 0
}

.segmented-control {
    position: relative;
    display: table;
    overflow: hidden;
    font-size: 12px;
    line-height: 24px;
    font-weight: 400;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: .5rem
}

.segmented-control .control-item {
    display: table-cell;
    width: 1%;
    padding-top: 0;
    padding-bottom: 0;
    overflow: hidden;
    line-height: 24px;
    color: #656565;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-left: 1px solid #ccc
}

.segmented-control .control-item:first-child {
    border-left-width: 0
}

.segmented-control .control-item:active {
    background-color: #eee
}

.segmented-control .control-item.active {
    background-color: #eee
}

.segmented-control-primary {
    border-color: #fff
}

.segmented-control-primary .control-item {
    color: #fff;
    border-color: inherit
}

.segmented-control-primary .control-item:active {
    background-color: #fff
}

.segmented-control-primary .control-item.active {
    color: #eee;
    background-color: #fff
}

.segmented-control-positive {
    border-color: #6FD2D2
}

.segmented-control-positive .control-item {
    color: #6FD2D2;
    border-color: inherit
}

.segmented-control-positive .control-item:active {
    background-color: #f7fdfd
}

.segmented-control-positive .control-item.active {
    color: #fff;
    background-color: #6FD2D2
}

.segmented-control-negative {
    border-color: #656565
}

.segmented-control-negative .control-item {
    color: #656565;
    border-color: inherit
}

.segmented-control-negative .control-item:active {
    background-color: #bebebe
}

.segmented-control-negative .control-item.active {
    color: #fff;
    background-color: #656565
}

.control-content {
    display: none
}

.control-content.active {
    display: block
}

.backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 15;
    background-color: rgba(0,0,0,.3)
}

.popover .btn-block {
    margin-bottom: 5px
}

.popover .btn-block:last-child {
    margin-bottom: 0
}

.popover .bar-nav {
    border-bottom: 1px solid #656565;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none
}

.popover .table-view {
    max-height: 300px;
    margin-top: 0;
    margin-bottom: 0;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    background-color: #fff;
    border-top: 0;
    border-bottom: 0;
    border-radius: .5rem
}

button,input,select,textarea {
    font-family: tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;
    font-size: 12px
}

input[type=text],input[type=password],input[type=datetime],input[type=datetime-local],input[type=date],input[type=month],input[type=time],input[type=week],input[type=email],input[type=url],input[type=tel],input[type=color],input[type=number],input[type=search],select,textarea {
    width: 100%;
    height: 35px;
    -webkit-appearance: none;
    padding: 0 15px;
    margin-bottom: 15px;
    line-height: 24px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: .5rem;
    outline: 0
}

input[type=search] {
    padding: 0 10px;
    font-size: 16px;
    border-radius: .5rem;
    box-sizing: border-box
}

input[type=search]:focus {
    text-align: left
}

textarea {
    height: auto
}

select {
    height: auto;
    font-size: 14px;
    background-color: #f8f8f8;
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.1);
    -ms-box-shadow: inset 0 1px 1px rgba(0,0,0,.1);
    -o-box-shadow: inset 0 1px 1px rgba(0,0,0,.1);
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.1)
}

.input-group {
    background-color: #fff
}

.input-group input,.input-group textarea {
    margin-bottom: 0;
    background-color: transparent;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-radius: 0;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none
}

.input-row {
    overflow: hidden;
    height: 35px;
    border-bottom: 1px solid #ddd
}

.input-row label {
    float: left;
    width: 35%;
    padding: 8px 15px;
    font-family: tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;
    line-height: 1.1
}

.input-row input {
    float: right;
    width: 65%;
    padding-left: 0;
    margin-bottom: 0;
    margin-bottom: 0;
    border: 0
}

.table-view {
    padding-left: 0;
    margin: 24px 0 15px;
    background-color: #fff;
    border-top: 1px solid #656565;
    border-bottom: 1px solid #656565
}

.table-view-cell {
    position: relative;
    padding: 11px 65px 11px 15px;
    overflow: hidden;
    border-bottom: 1px solid #656565
}

.table-view-cell:last-child {
    border-bottom: 0
}

.table-view-cell&gt;a:not(.btn) {
    position: relative;
    display: block;
    padding: inherit;
    margin: -11px -65px -11px -15px;
    overflow: hidden;
    color: inherit
}

.table-view-cell&gt;a:not(.btn):active {
    background-color: #eee
}

.table-view-cell p {
    margin-bottom: 0
}

.table-view-divider {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 15px;
    margin-top: -1px;
    margin-left: 0;
    font-weight: 500;
    color: #999;
    background-color: #fafafa;
    border-top: 1px solid #656565;
    border-bottom: 1px solid #656565
}

.table-view .media,.table-view .media-body {
    overflow: hidden
}

.table-view .media-object.pull-left {
    margin-right: 10px
}

.table-view .media-object.pull-right {
    margin-left: 10px
}

.table-view-cell&gt;.badge,.table-view-cell&gt;.btn,.table-view-cell&gt;.toggle,.table-view-cell&gt;a&gt;.badge,.table-view-cell&gt;a&gt;.btn,.table-view-cell&gt;a&gt;.toggle {
    position: absolute;
    top: 50%;
    right: 15px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%)
}

.table-view-cell .navigate-left&gt;.badge,.table-view-cell .navigate-left&gt;.btn,.table-view-cell .navigate-left&gt;.toggle,.table-view-cell .navigate-right&gt;.badge,.table-view-cell .navigate-right&gt;.btn,.table-view-cell .navigate-right&gt;.toggle,.table-view-cell .push-left&gt;.badge,.table-view-cell .push-left&gt;.btn,.table-view-cell .push-left&gt;.toggle,.table-view-cell .push-right&gt;.badge,.table-view-cell .push-right&gt;.btn,.table-view-cell .push-right&gt;.toggle,.table-view-cell&gt;a .navigate-left&gt;.badge,.table-view-cell&gt;a .navigate-left&gt;.btn,.table-view-cell&gt;a .navigate-left&gt;.toggle,.table-view-cell&gt;a .navigate-right&gt;.badge,.table-view-cell&gt;a .navigate-right&gt;.btn,.table-view-cell&gt;a .navigate-right&gt;.toggle,.table-view-cell&gt;a .push-left&gt;.badge,.table-view-cell&gt;a .push-left&gt;.btn,.table-view-cell&gt;a .push-left&gt;.toggle,.table-view-cell&gt;a .push-right&gt;.badge,.table-view-cell&gt;a .push-right&gt;.btn,.table-view-cell&gt;a .push-right&gt;.toggle {
    right: 35px
}

.content&gt;.table-view:first-child {
    margin-top: 15px
}

.table-model li {
    padding: 12px 10px;
    box-sizing: border-box
}

.table-model li:active {
    background: #E5E5E5
}

.table-model .pull-block {
    position: relative;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -moz-flexbox;
    display: flex;
    overflow: hidden
}

.table-model .pull-left {
    float: none;
    margin-right: 10px
}

.table-model .pull-left img {
    display: block;
    width: 116px;
    height: 83px;
    border: 1px solid #A3B1B3
}

.table-model .pull-body {
    position: relative;
    -webkit-flex: 1;
    -moz-flex: 1;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    color: #656565
}

.table-model .pull-tit {
    font-size: 16px;
    line-height: 24px;
    display: -webkit-box;
    display: box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    overflow: hidden;
    text-align: initial;
    color: #B9B9B9
}

.table-model .pull-sub {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -moz-flexbox;
    display: flex
}

.table-model .pull-sub .price-new {
    font-size: 19px;
    line-height: 24px;
    color: #FF848A;
    margin-right: 10px
}

.table-model .pull-sub .price-old {
    font-size: 14px;
    line-height: 24px;
    display: inline-block;
    width: 50px;
    color: #A3B1B3;
    -webkit-flex: 1;
    -moz-flex: 1;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1
}

.content.fade {
    left: 0;
    opacity: 0;
    -ms-transition: opacity .4s;
    -o-transition: opacity .4s;
    -webkit-transition: opacity .4s;
    -moz-transition: opacity .4s;
    transition: opacity .4s
}

.content.fade.in {
    opacity: 1
}

.content.sliding {
    z-index: 2;
    -webkit-transition: -webkit-transform .4s;
    -moz-transition: -moz-transform .4s;
    transition: transform .4s;
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0)
}

.content.sliding.left {
    z-index: 1;
    -webkit-transform: translate3d(-100%,0,0);
    -ms-transform: translate3d(-100%,0,0);
    transform: translate3d(-100%,0,0)
}

.content.sliding.right {
    z-index: 3;
    -webkit-transform: translate3d(100%,0,0);
    -ms-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0)
}

.navigate-left:after,.navigate-right:after,.push-left:after,.push-right:after {
    position: absolute;
    top: 50%;
    display: inline-block;
    font-family: Ratchicons;
    font-size: inherit;
    line-height: 1;
    color: #bbb;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%)
}

.navigate-left:after,.push-left:after {
    left: 15px;
    content: '\e822'
}

.navigate-right:after,.push-right:after {
    right: 15px;
    content: '\e826'
}

.toggle {
    position: relative;
    display: block;
    width: 74px;
    height: 30px;
    background-color: #fff;
    border: 2px solid #ddd;
    border-radius: .5rem;
    -webkit-transition-property: background-color border;
    -moz-transition-property: background-color border;
    transition-property: background-color border;
    -ms-transition-duration: .2s;
    -o-transition-duration: .2s;
    -webkit-transition-duration: .2s;
    -moz-transition-duration: .2s;
    transition-duration: .2s
}

.toggle .toggle-handle {
    position: absolute;
    top: -1px;
    left: -1px;
    z-index: 2;
    width: 28px;
    height: 28px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: .5rem;
    -webkit-transition-property: -webkit-transform,border,width;
    -moz-transition-property: -moz-transform,border,width;
    transition-property: transform,border,width;
    -ms-transition-duration: .2s;
    -o-transition-duration: .2s;
    -webkit-transition-duration: .2s;
    -moz-transition-duration: .2s;
    transition-duration: .2s
}

.toggle:before {
    position: absolute;
    top: 3px;
    right: 11px;
    font-size: 13px;
    color: #656565;
    text-transform: uppercase;
    content: "Off"
}

.toggle.active {
    background-color: #5cb85c;
    border: 2px solid #5cb85c
}

.toggle.active .toggle-handle {
    border-color: #5cb85c;
    -webkit-transform: translate3d(44px,0,0);
    -ms-transform: translate3d(44px,0,0);
    transform: translate3d(44px,0,0)
}

.toggle.active:before {
    right: auto;
    left: 15px;
    color: #fff;
    content: "On"
}

.toggle input[type=checkbox] {
    display: none
}

body {
    padding: 0
}

h1,h2,h3,h4,h5,h6,p {
    padding: 0;
    margin: 0
}

.wrap {
    padding: 0;
    margin: 0;
    font-size: 16px;
    background-color: #fff
}

.wrap section {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    padding: 1rem .8rem
}

.wrap section.seach {
    text-align: center;
    padding-top: 6.4rem;
    background-image: url(/img/mg/dist/project/index/img/index-logo.png);
    background-repeat: no-repeat;
    background-position: 50% 3rem;
    background-size: 12rem auto
}

.wrap section.seach h5 {
    font-weight: 400;
    color: #181818
}

.wrap section.seach h5:after,.wrap section.seach h5:before {
    vertical-align: middle;
    display: inline-block;
    width: 10px;
    border-top: 1px #E5E5E5 solid;
    content: ''
}

.wrap section.seach h5:before {
    margin-right: 2px
}

.wrap section.seach h5:after {
    margin-left: 2px
}

.wrap section.seach .seach-con {
    margin-top: 2rem
}

.wrap section.seach .seach-con form {
    position: relative
}

.wrap section.seach .seach-con .search-box {
    font-size: 16px;
    -moz-box-shadow: 1px 1px 4px #ccc;
    -ms-box-shadow: 1px 1px 4px #ccc;
    -o-box-shadow: 1px 1px 4px #ccc;
    -webkit-box-shadow: 1px 1px 4px #ccc;
    box-shadow: 1px 1px 4px #ccc;
    height: 42px;
    padding: 0 3rem 0 2rem;
    margin: 0;
    color: #B9B9B9;
    text-align: center;
    border: 1px #B9B9B9 solid;
    border-radius: 20px;
    outline: 0;
    -webkit-tap-highlight-color: transparent;
    tap-highlight-color: transparent
}

.wrap section.seach .seach-con .icon {
    font-size: 22px;
    line-height: 24px;
    position: absolute;
    top: 50%;
    right: 5%;
    z-index: 2;
    margin-top: -12px;
    color: #B9B9B9
}

.wrap section.seach .seach-con .search-btn {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
    width: 50px;
    height: 40px;
    font-size: 0;
    background: 0 0;
    outline: 0
}

.wrap section.category div {
    margin-bottom: 20px
}

.wrap section.category div:last-child {
    margin-bottom: 0
}

.wrap section.category div h4 {
    margin-bottom: 1.4rem;
    color: #B9B9B9
}

.wrap section.category div h4:before {
    font-size: 22px;
    line-height: 24px;
    vertical-align: -3px;
    margin-right: 6px;
    color: #FFB4B7
}

.wrap section.category div ul {
    display: block;
    margin: 0;
    font-size: 0
}

.wrap section.category div ul li {
    display: inline-block;
    margin-bottom: 16px;
    width: 33.3%;
    text-align: center
}

@media screen and (min-width:400px) {
    .wrap section.category div ul li {
        width: 25%
    }
}

.wrap section.category div ul li a {
    font-size: 14px;
    line-height: 24px;
    display: inline-block;
    color: #656565!important
}

.wrap section.category div ul li a:active,.wrap section.category div ul li a:link,.wrap section.category div ul li a:visited {
    color: #656565
}

.wrap section.category div ul li a.hot {
    position: relative;
    color: #FF527B!important
}

.wrap section.category div ul li a.hot:active,.wrap section.category div ul li a.hot:link,.wrap section.category div ul li a.hot:visited {
    color: #FF527B
}

.wrap section.category div ul li a .icon-hot {
    font-size: 19px;
    line-height: 24px;
    position: absolute;
    top: -5px;
    right: -20px;
    color: #FF527B
}

.wrap section.category div ul li a .icon-hot:active,.wrap section.category div ul li a .icon-hot:link,.wrap section.category div ul li a .icon-hot:visited {
    color: #FF527B
}

.wrap section.category div ul li a.sec-title {
    color: #181818!important
}

.wrap section.tools {
    display: none;
    position: relative
}

.wrap section.tools:before {
    position: absolute;
    top: 26px;
    left: 50%;
    margin-left: -45%;
    width: 90%;
    border-top: 1px #E5E5E5 solid;
    content: ''
}

.wrap section.tools h6 {
    text-align: center;
    position: relative;
    z-index: 10;
    width: 60px;
    margin: 0 auto 1rem;
    font-weight: 400;
    color: #989898;
    background: #fff
}

.wrap section.tools ul {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -moz-flexbox;
    display: flex;
    -webkit-box-pack: space-between;
    -moz-box-pack: space-between;
    -ms-flex-pack: space-between;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    flex-flow: row wrap
}

.wrap section.tools ul li {
    margin-bottom: 10px
}

.wrap section.tools ul li a {
    font-size: 12px;
    line-height: 24px;
    text-align: center;
    display: block;
    width: 6rem;
    color: #656565!important
}

.wrap section.tools ul li a:active {
    color: #656565
}

.wrap section.tools ul li a i {
    font-size: 22px;
    line-height: 24px;
    display: block;
    color: #333
}

.wrap section.tools .more {
    font-size: 12px;
    line-height: 24px;
    text-align: right;
    display: block;
    padding: 1.5rem 0;
    color: #989898
}

footer {
    font-size: 12px;
    line-height: 24px
}

footer p {
    text-align: center;
    color: #B9B9B9
}

footer p:first-child {
    display: none
}
