body {
    font-family: 'Microsoft YaHei', '微软雅黑';
    font-size: 12px;
    color: #000;
    line-height: 20px;
    background: #FFF url(http://images.china.cn/images1/ch/2015china/images/top_bg.gif) repeat-x left top;
    -webkit-text-size-adjust: 100%;
}

a {
    color: #000;
}

.gqgdbg {
    background: url(http://images.china.cn/images1/ch/2016firsttop/a8.jpg) repeat-x 0 0;
}

.w1000 {
    clear: both;
    width: 1000px;
}

.wauto {
    margin: 0px auto;
}

.hauto {
    overflow: hidden;
    zoom: 1;
}

.w728 {
    width: 728px;
}

.w660 {
    width: 660px;
}

.w648 {
    width: 648px;
}

.w325 {
    width: 325px;
}

.w320 {
    width: 320px;
}

.w250 {
    width: 250px;
}

.w242 {
    width: 242px;
}

.fl {
    display: inline;
    float: left;
}

.fr {
    display: inline;
    float: right;
}

.ml10 {
    margin-left: 10px;
}

.mr20 {
    margin-right: 20px;
}

.mtb12a {
    margin: 12px auto 20px;
}

.mb17 {
    margin-bottom: 17px;
}

.mb25 {
    margin-bottom: 25px;
}

.mb40 {
    margin-bottom: 40px;
}

.pt5 {
    padding-top: 5px;
}

.pt20 {
    padding-top: 20px;
}

.pb11 {
    padding-bottom: 11px;
}

.pb15 {
    padding-bottom: 15px;
}

.pb25 {
    padding-bottom: 25px;
}
/*顶部导航*/

.topNav {
    color: #FFF;
    line-height: 42px;
    background: #CF0101;
    height: 42px;
}

.topNav a {
    color: #FFF;
}

.topNav li {
    background: url(http://images.china.cn/images1/ch/2015china/images/b_1.gif) no-repeat right center;
    display: inline-block;
    margin-right: 10px;
    padding-right: 10px;
}

.topNav .ts {
    background: none;
    margin-right: 25px;
    padding-right: 0px;
}

.topNav .last {
    background: url(http://images.china.cn/images1/ch/2015china/images/b_2.gif) no-repeat right 20px;
    height: auto;
    margin-right: 0px;
    padding-right: 20px;
    position: relative;
    z-index: 9999;
}

.topNav .last ul {
    display: none;
    width: 80px;
    position: absolute;
    left: 0px;
    top: 42px;
    z-index: 9999;
}

.topNav .last li {
    line-height: 20px;
    background: #CF0101;
    border-top: 1px solid #FFF;
    display: block;
    margin: 0px;
    padding: 5px 10px;
}
/*头部信息*/

.logo {
    margin-top: 8px;
}

.navigation {
    font-family: Arial;
    font-size: 14px;
    color: #CC0000;
    line-height: 30px;
    border-bottom: 1px dotted #C9C9C9;
    width: 780px;
    margin: 5px 0px 0px 80px;
}

.navigation a {
    color: #CC0000;
    margin: 0px 7px;
}

.navigation .t {
    color: #000;
}

.topInfo {
    width: 710px;
    padding-top: 25px;
}

.time {
    margin: 0px 10px 0px 35px;
}

.weather {
    margin-right: 10px;
}

.weather a {
    color: #c90000;
    font-weight: bold;
}

.weather a:hover {
    text-decoration: none;
}

.chinaSearch form {
    margin-right: 15px;
}

.keyword {
    border: 1px solid #1D6BBE;
    width: 120px;
    height: 20px;
}

.fotmbtn {
    font-family: "Microsoft YaHei", "微软雅黑", "SimSun", "宋体";
    color: #FFF;
    background: #4096ED;
    border: 1px solid #1D6BBE;
    height: 22px;
    padding: 0px 5px;
}

.library {
    text-align: center;
    width: 230px;
}

.library a {
    margin: 0px 7px;
}

.button2 {
    background: url(http://images.china.cn/images1/ch/2016firsttop/a1.gif) no-repeat;
    width: 25px;
    height: 20px;
    border: none;
}
/*频道导航*/

.subNav {
    border-bottom: 1px solid #E2E2E2;
    padding: 5px 0px;
    border-top: 1px solid #E2E2E2;
    margin-top: 10px;
}

.subNav ul {
    display: block;
    padding-left: 8px;
}

.subNav li {
    font-size: 14px;
    line-height: 30px;
    display: block;
    overflow: hidden;
    zoom: 1;
    word-break: keep-all;
    white-space: nowrap;
}

.subNav li a {
    display: inline;
    float: left;
    margin: 0px 5px;
    _margin: 0 5px;
}
/*热词*/

.hotWords {
    line-height: 30px;
    white-space: nowrap;
    padding: 10px 0px;
    overflow: hidden;
    zoom: 1;
}

.hotWords a {
    line-height: 30px;
    padding: 0 4px 0 5px;
}

.hotword1 {
    width: 495px;
    float: left;
    border-right: 1px solid #e2e2e2;
}

.hotword2 {
    width: 40px;
    float: left;
    color: #CF0101;
    text-align: center;
}

.hotword3 {
    width: 464px;
    float: left;
}
/*网上直播*/

.live {
    width: 1000px;
    height: 22px;
    overflow: hidden;
    line-height: 22px;
    position: relative;
    z-index: 1;
}

.live a {
    line-height: 22px;
}

.live1 {
    width: 8000px;
}

.live1 h1 {
    padding: 0 15px 0 23px;
    background: url(http://images.china.cn/images1/ch/2016firsttop/a2.gif) no-repeat 0 0;
}

.live1 h2 {
    padding-right: 10px;
    color: #900;
}

.live1 h2 a {
    color: #900;
}

.live1 h3 {
    padding-right: 6px;
    font-weight: normal;
}

.live1 h4 {
    font-weight: normal;
    padding: 0 7px 0 17px;
    background: url(http://images.china.cn/images1/ch/2016firsttop/a3.gif) no-repeat 0 0;
}

.live2 {
    height: 22px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.live2 ul {
    height: 22px;
}

.live2 li {
    float: left;
    display: inline;
}

.live2 li a {
    display: block;
    padding: 0 7px 0 17px;
    background: url(http://images.china.cn/images1/ch/2016firsttop/a3.gif) no-repeat 0 0;
}
/*头条新闻*/

.topNews {
    clear: both;
    width: 1000px;
    margin: 0 auto 15px;
    zoom: 1;
    overflow: hidden;
    border-bottom: 1px solid #E2E2E2;
}

.topTxt h1 {
    text-align: center;
    line-height: 40px;
    font-size: 30px;
}

.topTxt h1 a {
    line-height: 40px;
    font-size: 30px;
}

.topTxt p {
    color: #333;
    line-height: 20px;
    text-align: center;
    clear: both;
    width: 100%;
    height: 20px;
    overflow: hidden;
    padding: 10px 0;
}

.topTxt p a {
    color: #333;
    letter-spacing: 1px;
}
/*要闻区*/

.leftNews p {
    height: 30px;
    overflow: hidden;
    line-height: 30px;
    font-size: 14px;
    color: #212121;
    background: url(http://images.china.cn/images1/ch/2016firsttop/mm-02.jpg) no-repeat 0 14px;
    padding-left: 10px;
}

.leftNews p a {
    line-height: 30px;
    font-size: 14px;
    color: #212121;
    letter-spacing: 1px;
}

.leftNews .keyNew {
    font-size: 18px;
    color: #900;
    line-height: 28px;
    background: none;
    padding: 0;
}

.leftNews .keyNew a {
    font-size: 18px;
    color: #900;
    line-height: 28px;
    font-weight: bold;
}

.rightPic {
    width: 648px;
    height: 427px;
    overflow: hidden;
    position: relative;
    padding-top: 6px;
}

.rightPic li {
    width: 648px;
    height: 427px;
    position: relative;
    display: none;
}

.rightPic li img {
    width: 648px;
    height: 427px;
}

.rightPic li p {
    width: 608px;
    height: 55px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    background: #000;
    padding: 0 20px;
    font-weight: bold;
    font-size: 16px;
    color: #FFF;
    line-height: 55px;
}

.rightPic li p a {
    font-size: 16px;
    color: #FFF;
    line-height: 55px;
}

.rightPic .pmenu {
    width: 55px;
    height: 55px;
    position: absolute;
    bottom: 0;
    right: 65px;
    font-size: 16px;
    line-height: 55px;
    color: #6D6D6D;
    z-index: 2;
}

.rightPic .pmenu span {
    color: #E50012;
}

.rightPic .plr {
    width: 76px;
    height: 55px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
    cursor: pointer;
}
/*推荐点击*/

.commend {
    height: 50px;
    background: #EEE;
}

.commend h1 {
    width: 50px;
    height: 50px;
    overflow: hidden;
    text-align: center;
    background: #D11B00;
    font-size: 14px;
    color: #fff;
    line-height: 24px;
    letter-spacing: 4px;
    margin-right: 10px;
}

.commend1 {
    width: 625px;
    height: 50px;
    overflow: hidden;
}

.commend1 li {
    width: 625px;
    float: left;
    color: #369;
    line-height: 25px;
}

.gdmenu .commend1 li a {
    width: 625px;
    float: left;
    color: #369;
    line-height: 25px;
}

.cmp {
    width: 40px;
    height: 50px;
    float: left;
}

.cmp span {
    cursor: pointer;
    display: block;
    float: left;
    display: inline;
    width: 19px;
    height: 50px;
    overflow: hidden;
}

.cmp .cml {
    background: url(http://images.china.cn/images1/ch/2016firsttop/a6.gif);
}

.cmp .cmr {
    background: url(http://images.china.cn/images1/ch/2016firsttop/a7.gif);
}
/*推荐点击下方新闻*/

.sedNews p {
    height: 30px;
    overflow: hidden;
    line-height: 30px;
    font-size: 14px;
    color: #212121;
}

.sedNews p a {
    line-height: 30px;
    font-size: 14px;
    color: #212121;
    letter-spacing: 1px;
}

.sedNews .nmnew {
    background: url(http://images.china.cn/images1/ch/2016firsttop/mm-02.jpg) no-repeat 0 14px;
    padding-left: 10px;
}

.sedNews .mmmm {
    background: url(http://images.china.cn/images1/ch/kms/10.gif) no-repeat 0 10px;
    padding-left: 24px;
}

.sedNews p span {
    color: #900;
    font-weight: bold;
    padding-right: 6px;
}

.sedNews p span a {
    color: #900;
}

.sedPic {
    overflow: hidden;
}

.sedPic ul {
    zoom: 1;
    overflow: hidden;
    clear: both;
    width: 800px;
}

.sedPic li {
    width: 205px;
    float: left;
    display: inline;
    margin: 0 4px 0 12px;
}

.sedPic h1 {
    height: 30px;
    overflow: hidden;
    border-bottom: 1px solid #AAA;
    margin-bottom: 15px;
    font-size: 14px;
    color: #2C2C2C;
    line-height: 30px;
}

.sedPic h1 a {
    font-size: 14px;
    color: #2C2C2C;
    line-height: 30px;
}

.sedPic h1 span {
    float: right;
    font-size: 12px;
    color: #999;
    font-weight: normal;
}

.sedPic h1 span a {
    font-size: 12px;
    color: #999;
}

.sedPic div {
    clear: both;
    width: 205px;
    height: 140px;
    position: relative;
    overflow: hidden;
}

.sedPic div img {
    width: 205px;
    height: 140px;
}

.sedPic div p {
    width: 195px;
    height: 30px;
    overflow: hidden;
    padding: 0 5px;
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: center;
    background: #000;
    font-size: 14px;
    color: #fff;
    line-height: 30px;
}

.sedPic div p a {
    font-size: 14px;
    color: #fff;
    line-height: 30px;
}
/*国情&&观点*/

.gd1 .gdmenu, .gd2 .gdmenu, .gd3 .gdmenu {
    height: 58px;
    overflow: hidden;
}

.gd1 .gdmenu img {
    float: left;
}

.gd1 .gdmenu p {
    float: right;
    padding-top: 26px;
    font-weight: normal;
    color: #999;
}

.gd1 .gdmenu p a {
    color: #999;
    margin: 0 4px;
}

.gd1 .caijing {
    clear: both;
    margin-bottom: 15px;
}

.gd1 .caijing li {
    background: none;
    padding: 0;
}

.gd1 .pic {
    width: 320px;
    height: 180px;
    clear: both;
    overflow: hidden;
    position: relative;
    margin-bottom: 15px;
}

.gd1 .pic img {
    width: 320px;
    height: 180px;
}

.gd1 .pic p {
    width: 310px;
    height: 35px;
    padding: 0 5px;
    background: #000;
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: center;
    font-size: 14px;
    color: #fff;
    line-height: 35px;
}

.gd1 .pic p a {
    font-size: 14px;
    color: #fff;
    line-height: 35px;
}

.gd1 ul {
    clear: both;
}

.gd1 ul li {
    height: 30px;
    overflow: hidden;
    font-size: 14px;
    color: #272727;
    line-height: 30px;
    background: url(http://images.china.cn/images1/ch/2016firsttop/mm-02.jpg) no-repeat 0 14px;
    padding-left: 10px;
}

.gd1 ul li a {
    font-size: 14px;
    color: #272727;
    line-height: 30px;
    letter-spacing: 1px;
}

.gd2 {
    overflow: hidden;
}

.gd2 .gdmenu p {
    padding: 25px 0 0 0;
    display: block;
    float: left;
    font-size: 14px;
    color: #656565;
    font-weight: bold;
}

.gd2 .gdmenu p a {
    font-size: 14px;
    color: #656565;
    margin: 0 10px;
}

.gd2 .gdmenu .gdblue, .gd2 .gdmenu .gdblue a {
    color: #369;
}

.gd2 .pic {
    width: 500px;
    clear: both;
    zoom: 1;
    overflow: hidden;
    margin-bottom: 12px;
}

.gd2 .pic.mb8 {
    margin-bottom: 8px;
}

.gd2 .pic li {
    width: 150px;
    height: 92px;
    overflow: hidden;
    float: left;
    display: inline;
    margin-right: 19px;
    position: relative;
}

.gd2 .pic li img {
    width: 150px;
    height: 92px;
}

.gd2 .pic p {
    width: 140px;
    height: 30px;
    text-align: center;
    position: absolute;
    left: 0;
    bottom: 0;
    background: #000;
    padding: 0 5px;
    font-size: 14px;
    color: #fff;
    line-height: 30px;
}

.gd2 .pic p a {
    font-size: 14px;
    color: #fff;
    line-height: 30px;
}

.gd2 .list {
    clear: both;
}

.gd2 .list li {
    height: 30px;
    overflow: hidden;
    font-size: 14px;
    color: #272727;
    line-height: 30px;
    background: url(http://images.china.cn/images1/ch/2016firsttop/mm-02.jpg) no-repeat 0 14px;
    padding-left: 10px;
}

.gd2 .list li a {
    font-size: 14px;
    color: #272727;
    line-height: 30px;
    letter-spacing: 1px;
}

.gd2 .list .video {
    padding-left: 28px;
    background: url(http://images.china.cn/images1/ch/2016firsttop/a11.jpg) no-repeat 0 10px;
}

#gdlm1 .pic, #gdlm1 .list {
    display: none;
}

.gd3 {
    overflow: hidden;
}

.gd3 .gdmenu span {
    padding: 25px 0 0 0;
    float: left;
    font-size: 14px;
    color: #656565;
    font-weight: bold;
}

.gd3 .gdmenu span a {
    font-size: 14px;
    color: #656565;
}

.gd3 .gdmenu .blue,.gd3 .gdmenu .blue a {
    color: #336599;
}

.gd3 .gdmenu p {
    float: right;
    padding-top: 26px;
    font-weight: normal;
    color: #999;
}

.gd3 .gdmenu p a {
    color: #999;
}

.gd3 .gdadv {
    width: 320px;
    height: 90px;
    margin-bottom: 4px;
}

.gd3 .gdadv img {
    width: 320px;
    height: 90px;
}

.gd3 .gdadv1 {
    width: 320px;
    height: 180px;
    margin-bottom: 10px;
    position: relative;
}

.gd3 .gdadv1 img {
    width: 320px;
    height: 180px;
}

.gd3 .gdadv1 p {
    width: 310px;
    height: 35px;
    overflow: hidden;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 0 5px;
    font-size: 14px;
    color: #fff;
    line-height: 35px;
    background: #000;
}

.gd3 .gdadv1 p a {
    font-size: 14px;
    color: #fff;
    line-height: 35px;
}

.gd3 .gdblk {
    clear: both;
    width: 360px;
}

.gd3 .gdblk li {
    float: left;
    display: inline;
    text-align: center;
    margin: 0 4px 3px 0;
    font-size: 14px;
    color: #fff;
}

.gd3 .gdblk li a {
    font-size: 14px;
    color: #fff;
    letter-spacing: 4px;
}

.gd3 .gdblk .blk1 {
    background: #00315B;
    width: 158px;
    height: 90px;
    line-height: 90px;
}

.gd3 .gdblk .blk2 {
    background: #1E5684;
    width: 158px;
    height: 90px;
    line-height: 90px;
}

.gd3 .gdblk .blk3 {
    background: #3A6386;
    width: 104px;
    height: 64px;
    line-height: 64px;
}

.gd3 .gdblk .blk4 {
    background: #447EAE;
    width: 104px;
    height: 64px;
    line-height: 64px;
}

.gd3 .gdblk .blk5 {
    background: #215077;
    width: 104px;
    height: 64px;
    line-height: 64px;
}

.gd3 .gdblk .blk1 a, .gd3 .gdblk .blk2 a {
    line-height: 90px;
}

.gd3 .gdblk .blk3 a, .gd3 .gdblk .blk4 a, .gd3 .gdblk .blk5 a {
    line-height: 64px;
}
/*互动中国*/
#hdyk .fr p,#hdyk .hdyk {
    display: none;
}

.gd3 .pic {
    width: 320px;
    height: 180px;
    clear: both;
    overflow: hidden;
    position: relative;
    margin-bottom: 15px;
}

.gd3 .pic img {
    width: 320px;
    height: 180px;
}

.gd3 .pic p {
    width: 310px;
    height: 35px;
    padding: 0 5px;
    background: #000;
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: center;
    font-size: 14px;
    color: #fff;
    line-height: 35px;
}

.gd3 .pic p a {
    font-size: 14px;
    color: #fff;
    line-height: 35px;
}

.gd3 .gdkey {
    clear: both;
    height: 24px;
    overflow: hidden;
    margin: 13px 0 8px;
}

.gd3 .gdkey span {
    float: left;
    margin: 0 6px;
    font-weight: bold;
    font-size: 14px;
    color: #656565;
    line-height: 24px;
}

.gd3 .gdkey span a {
    font-size: 14px;
    color: #656565;
    line-height: 24px;
    padding-right: 6px;
}

.gd3 .gdkey .kfirst, .gd3 .gdkey .kfirst a {
    color: #336599;
}

.gd3 .gdkey .klast {
    float: right;
    margin: 0;
}

.gd3 .list {
    clear: both;
}

.gd3 .list li {
    height: 30px;
    overflow: hidden;
    font-size: 14px;
    color: #272727;
    line-height: 30px;
    background: url(http://images.china.cn/images1/ch/2016firsttop/mm-02.jpg) no-repeat 0 14px;
    padding-left: 10px;
}

.gd3 .list li a {
    font-size: 14px;
    color: #272727;
    line-height: 30px;
}
/*各栏目导航*/

.boxma {
    width: 1000px;
    margin: auto;
    padding-bottom: 40px;
    zoom: 1;
    overflow: hidden;
    clear: both;
}

.boxma1 {
    width: 320px;
    float: left;
}

.boxma1 h1 {
    padding-left: 15px;
    line-height: 38px;
    font-size: 16px;
    color: #336699;
    background-image: url(http://images.china.cn/images1/ch/2016firsttop/mm-01.jpg);
    background-repeat: repeat-x;
    background-position: center top;
}

.boxma1 h1 a {
    line-height: 38px;
    font-size: 16px;
    color: #336699;
}

.boxma1 h1 span {
    float: right;
    line-height: 38px;
    font-size: 12px;
    color: #6f6f6f;
    font-weight: normal;
    padding: 0 10px;
}

.boxma1 h1 span a {
    line-height: 38px;
    font-size: 12px;
    color: #6f6f6f;
    font-weight: normal;
}

.boxma1 h2 {
    font-size: 16px;
    color: #369;
}

.boxma1 h2 a {
    font-size: 16px;
    color: #369;
}

.boxma1 dl {
    padding: 13px 0;
    clear: both;
    zoom: 1;
    overflow: hidden;
}

.boxma1 dt {
    width: 150px;
    float: left;
}

.boxma1 dt img {
    width: 150px;
    height: 90px;
}

.boxma1 dd {
    width: 155px;
    float: right;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 1px;
}

.boxma1 dd a {
    font-size: 14px;
    line-height: 30px;
    font-weight: bold;
    letter-spacing: 1px;
}

.boxma1 ul {
    clear: both;
}

.boxma1 li {
    line-height: 30px;
    font-size: 14px;
    height: 30px;
    overflow: hidden;
    letter-spacing: 1px;
    background-image: url(http://images.china.cn/images1/ch/2016firsttop/mm-02.jpg);
    background-repeat: no-repeat;
    background-position: left 12px;
    padding-left: 10px;
}

.boxma1 li a {
    line-height: 30px;
    font-size: 14px;
    letter-spacing: 1px;
}

.boxma2 dl {
    clear: both;
    zoom: 1;
    overflow: hidden;
    padding-bottom: 10px;
}

.boxma2 dt a {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 2px;
}

.boxma2 dd a {
    font-size: 14px;
    line-height: 22px;
}
/*关于我们*/
.Info {
    width: 1000px;
    margin: 0 auto;
    background: url(http://images.china.cn/images1/ch/2016firsttop/bg_ma2.jpg) no-repeat left top;
    height: 175px;
    overflow: hidden;
    padding-top: 40px;
    color: #FFF;
}

.Info a {
    color: #FFF;
}

.AboutUs {
    width: 206px;
    padding: 0 23px 0 7px;
    float: left;
}

.Map {
    width: 209px;
    padding: 0 10px 0 20px;
    float: left;
}

.Contact {
    width: 228px;
    padding: 0 30px 0 30px;
    float: left;
}

.Copyright {
    width: 190px;
    padding: 0 7px 0 20px;
    float: left;
}
/*页尾*/
.footer {
    border-top: 1px solid #DFDFDF;
    text-align: center;
    padding: 20px 0px;
    position: relative;
}

.footer .xxjb {
    width: 235px;
    height: 40px;
    position: absolute;
    top: 80px;
    left: 0px;
}

.footer .cxwz {
    position: absolute;
    top: 80px;
    right: 118px;
}

.footer .cxwz img {
    height: 40px;
}

.footer .kxwz {
    position: absolute;
    top: 80px;
    right: 0px;
}

.footer .kxwz img {
    height: 40px;
}

.footer .weibo {
    line-height: 30px;
    text-align: center;
    margin-left: 390px;
    padding: 20px 0px;
}

.footer .weixin {
    line-height: 30px;
    text-align: center;
    margin-right: 390px;
    padding: 20px 0px;
}

.clearB {
    clear: both;
}

.mb10 {
    margin-bottom: 10px;
}

.mb30 {
    margin-bottom: 30px;
}

.tCenter {
    text-align: center;
}
/*财经中心部分*/
.c:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

.c {
    zoom: 1;
    display: inline-block;
    display: block;
}

.r-btn {
    height: 34px;
    border-bottom: 1px solid #dfdfdf;
}

.r-btn li {
    float: left;
    width: 79px;
    height: 34px;
    text-align: center;
    line-height: 34px;
    overflow: hidden;
    border-right: 1px solid #d6d6d6;
    font-weight: bold;
}

li.w78 {
    width: 78px;
    margin-right: -1px;
}

.r-btn a {
    display: block;
    color: #333;
    font-size: 14px;
}

.r-btn a:hover {
    text-decoration: none;
}

.r-btn li.on {
    height: 34px;
    line-height: 32px;
    background: #f3f3f3;
    margin-left: 0;
}

.r-btn li.on a {
    color: #339;
}

.r-data p {
    text-align: center;
    padding: 2px;
}

.CutOver_demand {
    height: 20px;
    position: relative;
    padding-left: 35px;
}

.text {
    float: left;
    padding: 2px;
    width: 130px;
    height: 14px;
    line-height: 14px;
    background: #fff;
    border: 1px solid #dadbde;
}

.selfbuttom_b select {
    float: left;
    width: 54px;
    height: 20px;
    line-height: 20px;
    border: 1px solid #dadbde;
    overflow: hidden;
}

.submit_b {
    float: left;
    border: 1px solid #dadbde;
    width: 46px;
    height: 20px;
    background: #efefef;
}

.mr6 {
    margin-right: 6px;
}

.ml6 {
    margin-left: 6px;
}
/*右侧浮动二维码*/
.rightIfrAdd {
    width: 120px;
    height: 170px;
    overflow: hidden;
    margin-left: 525px;
    position: fixed;
    left: 50%;
    top: 290px;
    _position: absolute;
    _top: expression(documentElement.scrollTop + 290 + "px");
}

@charset "UTF-8";

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,input,select,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display: block
}

audio,canvas,video {
    display: inline-block;
    *display: inline;
    *zoom: 1
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

img {
    border: 0;
    vertical-align: top
}

ol,ul {
    list-style: none
}

a {
    text-decoration: none
}

a:hover {
    text-decoration: underline
}

.tal {
    text-align: left
}

.tac {
    text-align: center
}

.tar {
    text-align: right
}

.bc {
    margin-left: auto;
    margin-right: auto
}

.fl,.fr {
    display: inline
}

.fl {
    float: left
}

.fr {
    float: right
}

.cb {
    clear: both
}

.cl {
    clear: left
}

.cr {
    clear: right
}

.clearfix {
    overflow: hidden;
    zoom: 1
}

.hide {
    visibility: hidden
}

.none {
    display: none
}
