@import "/style/frontend.css?7";

.wrn_txt a, .wrn_txt2 a {
    text-decoration: underline;
}

.wrn_txt {
    padding: 8px 0;
}

.wrn_txt2 {
    padding: 0 0 10px 0;
}

.wrn_txt3 {
    width: 100%;
    padding-top: 10px;
}

.tzbtn {
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    background: linear-gradient(rgb(255, 255, 255) 0%, rgb(123, 197, 244) 100%) 0% 0% repeat scroll transparent;
    color: rgb(0, 0, 0);
    border-radius: 4px;
    padding: 7px 45px;
    font-weight: bold;
    border: 1px solid black;
}

.warn {
    font-size: 16pt;
    padding-bottom: 10px;
    color: red;
    text-align: center;
}

.warnIp {
    text-align: center;
    font-weight: bold;
    padding: 8px 0px;
    font-size: 14px;
}

.trtyellow {
    color: red;
    background-color: yellow;
    padding: 5px;
}
