.div, span, input {
    outline: none;
}

.hidden {
    display: none;
}

.clear {
    clear: both;
    margin: 0px;
    padding: 0px;
    display: block;
}

.loading-main-block {
    width: 100%;
    height: 100%;
    overflow: auto;
    font-family: Arial, Helvetica, sans-serif;
}

.loading-mid-white-block {
    height: 100%;
    width: 100%;
}

.loading-cloud {
    width: 222px;
    height: 158px;
    background-image: url(https://g.cdn1.mega.co.nz/3/images/mega/loading-sprite_v4.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -79px 0 0 -111px;
}

.loading-m-block {
    width: 60px;
    height: 60px;
    position: absolute;
    left: 81px;
    top: 65px;
    background-color: white;
    background-image: url(https://g.cdn1.mega.co.nz/3/images/mega/loading-sprite_v4.png);
    background-repeat: no-repeat;
    background-position: -81px -65px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    z-index: 10;
}

.loading-percentage {
    width: 80px;
    height: 80px;
    background-color: #e1e1e1;
    position: absolute;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    overflow: hidden;
    background-image: url(https://g.cdn1.mega.co.nz/3/images/mega/loading-sprite_v4.png);
    background-repeat: no-repeat;
    background-position: -70px -185px;
    left: 71px;
    top: 55px;
}

.loading-percentage ul {
    list-style-type: none;
}

.loading-percentage li {
    position: absolute;
    top: 0px;
}

.loading-percentage p, .loading-percentage li, .loading-percentage ul {
    width: 80px;
    height: 80px;
    padding: 0;
    margin: 0;
}

.loading-percentage span {
    display: block;
    width: 40px;
    height: 80px;
}

.loading-percentage ul :nth-child(odd) {
    clip: rect(0px, 80px, 80px, 40px);
}

.loading-percentage ul :nth-child(even) {
    clip: rect(0px, 40px, 80px, 0px);
}

.loading-percentage .right-c span {
    -moz-border-radius-topleft: 40px;
    -moz-border-radius-bottomleft: 40px;
    -webkit-border-top-left-radius: 40px;
    -webkit-border-bottom-left-radius: 40px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    background-color: #dc0000;
}

.loading-percentage .left-c span {
    margin-left: 40px;
    -moz-border-radius-topright: 40px;
    -moz-border-radius-bottomright: 40px;
    -webkit-border-top-right-radius: 40px;
    -webkit-border-bottom-right-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    background-color: #dc0000;
}

.loading-main-bottom {
    max-width: 940px;
    width: 100%;
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin: 0 0 0 -470px;
    text-align: center;
}

.loading-bottom-button {
    height: 29px;
    width: 29px;
    float: left;
    background-image: url(https://g.cdn1.mega.co.nz/3/images/mega/loading-sprite_v4.png);
    background-repeat: no-repeat;
    cursor: pointer;
}

.st-social-block-load {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    height: 43px;
    text-align: center;
}

.st-bottom-button {
    height: 24px;
    width: 24px;
    margin: 0 8px;
    display: inline-block;
    background-image: url(https://g.cdn1.mega.co.nz/3/images/mega/loading-sprite_v4.png);
    background-repeat: no-repeat;
    background-position: 11px -405px;
    cursor: pointer;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: background-color 200ms ease-in-out;
    -o-transition: background-color 200ms ease-in-out;
    -ms-transition: background-color 200ms ease-in-out;
    transition: background-color 200ms ease-in-out;
    background-color: #999999;
}

.st-bottom-button.st-google-button {
    background-position: 11px -405px;
}

.st-bottom-button.st-google-button {
    background-position: -69px -405px;
}

.st-bottom-button.st-twitter-button {
    background-position: -29px -405px;
}

.st-bottom-button:hover {
    background-color: #334f8d;
}

.st-bottom-button.st-twitter-button:hover {
    background-color: #1a96f0;
}

.st-bottom-button.st-google-button:hover {
    background-color: #d0402a;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
    .maintance-block, .loading-percentage, .loading-m-block, .loading-cloud, .loading-bottom-button,.st-bottom-button, .st-bottom-scroll-button {
        background-image: url(https://g.cdn1.mega.co.nz/3/images/mega/loading-sprite_v4@2x.png);
        background-size: 222px auto;
    }
}

