#newsletter-subscribe {
    background: #c13832;
    color: #fff;
    padding: 0;
    margin: 40px 0 -60px
}

#newsletter-subscribe .billboard {
    background: transparent;
    border: 0;
    padding: 0;
    box-shadow: none
}

#newsletter-subscribe h3,#newsletter-subscribe h4 {
    color: #fff;
    text-shadow: none
}

#newsletter-subscribe .container {
    width: 1000px;
    margin: 0 auto;
    padding: 40px 0
}

@media(max-width:1000px) {
    #newsletter-subscribe .container {
        width: 760px
    }
}

@media(max-width:760px) {
    #newsletter-subscribe .container {
        width: 320px
    }
}

#newsletter-subscribe .form-title {
    float: left;
    width: 300px;
    margin: 0 10px;
    background: url("/media/img/newsletter/mozorg-newsletter.db230ae1e11b.svg") left top no-repeat;
    -webkit-background-size: 150px 150px;
    background-size: 150px 150px;
    margin-left: -540px;
    margin-top: -20px;
    min-height: 120px;
    padding: 10px 0 20px 180px;
    text-align: left;
    text-shadow: none;
    min-height: 135px
}

#newsletter-subscribe .form-title h3 {
    font-size: 40px;
    font-size: 2.5rem;
    margin: 0 0 .2em
}

#newsletter-subscribe .form-title h4 {
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 1.1
}

@media(max-width:1000px) {
    #newsletter-subscribe .form-title {
        -webkit-background-size: 120px 120px;
        background-size: 120px 120px;
        float: left;
        width: 220px;
        margin: 0 10px;
        background-position: left 10px;
        padding-left: 140px;
        margin-left: -400px;
        margin-top: -10px
    }

    #newsletter-subscribe .form-title h3 {
        font-size: 32px;
        font-size: 2rem
    }

    #newsletter-subscribe .form-title h4 {
        font-size: 20px;
        font-size: 1.25rem
    }
}

@media(max-width:760px) {
    #newsletter-subscribe .form-title {
        -webkit-background-size: 100px 100px;
        background-size: 100px 100px;
        float: none;
        width: auto;
        margin: 0 10px;
        background-position: center top;
        margin-top: 0;
        min-height: 0;
        padding-left: 0;
        padding-top: 120px;
        text-align: center
    }

    #newsletter-subscribe .form-title h3 {
        font-size: 32px;
        font-size: 2rem
    }
}

#newsletter-subscribe .newsletter-form {
    float: left;
    width: 380px;
    margin: 0 10px;
    margin-left: 570px;
    padding-top: 20px
}

#newsletter-subscribe .newsletter-form .form-submit,#newsletter-subscribe .newsletter-form .form-contents {
    float: none;
    width: auto;
    margin: 0 10px
}

@media(max-width:1000px) {
    #newsletter-subscribe .newsletter-form {
        float: left;
        width: 280px;
        margin: 0 10px;
        margin-left: 430px
    }
}

@media(max-width:760px) {
    #newsletter-subscribe .newsletter-form {
        float: none;
        width: auto;
        margin: 0 10px
    }
}

#newsletter-subscribe .field-format label {
    display: inline;
    margin-right: 20px
}

#newsletter-subscribe input[type='email'] {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: none;
    font-size: 16px;
    font-size: 1rem;
    border: 0;
    padding: .75em 20px;
    width: 100%;
    height: auto;
    background: #fff
}

#newsletter-subscribe select {
    font-size: 14px;
    font-size: .875rem;
    font-family: inherit
}

#newsletter-subscribe .button-newsletter {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: none;
    font-size: 16px;
    font-size: 1rem;
    -webkit-transition: background-color .15s ease;
    transition: background-color .15s ease;
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    padding: .75em 20px;
    text-shadow: none;
    text-transform: uppercase;
    width: 100%
}

#newsletter-subscribe .button-newsletter:hover,#newsletter-subscribe .button-newsletter:focus {
    background: #33aae4;
    background: rgba(255,255,255,0.1)
}

#newsletter-subscribe a {
    color: #fff;
    text-decoration: underline
}

#newsletter-subscribe #footer-email-errors {
    float: none;
    width: auto;
    margin: 0 10px;
    margin-bottom: 20px
}

#newsletter-subscribe #footer-email-errors .errorlist {
    background: #fff;
    color: #af3232
}

#newsletter-subscribe #newsletter-form-thankyou {
    float: none;
    width: auto;
    margin: 0 10px;
    color: #fff
}

#newsletter-subscribe #newsletter-form-thankyou h3 {
    color: #fff
}

@media(max-width:760px) {
    #newsletter-subscribe {
        margin-bottom: 0
    }
}

#home #newsletter-subscribe {
    margin-bottom: 0
}

#home #newsletter-subscribe h3 {
    padding: 0;
    text-align: left
}

@media(max-width:760px) {
    #home #newsletter-subscribe h3 {
        text-align: center
    }
}

#home #newsletter-subscribe ::-webkit-input-placeholder {
    color: #333;
    font-weight: normal
}

#home #newsletter-subscribe ::-moz-placeholder {
    color: #333;
    font-weight: normal
}

#home #newsletter-subscribe :-ms-input-placeholder {
    color: #333;
    font-weight: normal
}

#newsletter-subscribe.light {
    background: #fff;
    color: #333;
    margin-bottom: 0
}

#newsletter-subscribe.light h3,#newsletter-subscribe.light h4 {
    color: #333
}

#newsletter-subscribe.light .form-title {
    position: relative;
    background: 0;
    width: 500px;
    padding-left: 170px
}

#newsletter-subscribe.light .form-title:before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    background: #c13832 url("/media/img/newsletter/mozorg-newsletter.db230ae1e11b.svg") 23px 23px no-repeat;
    -webkit-background-size: 105px 105px;
    background-size: 105px 105px;
    border-radius: 50%;
    width: 150px;
    height: 150px
}

@media(max-width:1000px) {
    #newsletter-subscribe.light .form-title {
        width: 380px
    }
}

@media(max-width:760px) {
    #newsletter-subscribe.light .form-title {
        width: auto;
        padding-left: 0;
        padding-top: 170px
    }

    #newsletter-subscribe.light .form-title:before {
        left: 50%;
        margin-left: -75px
    }
}

#newsletter-subscribe.light input[type="email"] {
    border: 1px solid #b2b2b2
}

#newsletter-subscribe.light #newsletter-form-thankyou {
    color: #333
}

#newsletter-subscribe.light #newsletter-form-thankyou h3 {
    color: #333
}

#newsletter-subscribe.light #footer-email-errors .errorlist {
    background: #af3232;
    color: #fff
}

.fx-privacy-link {
    font-size: 16px;
    font-size: 1rem;
    display: block;
    text-align: center;
    text-shadow: none
}

.fx-privacy-link a:link,.fx-privacy-link a:visited {
    color: #fff
}

.fx-privacy-link a:hover,.fx-privacy-link a:focus {
    text-decoration: underline
}

.fxfamilynav-cta-wrapper .button,.fxfamilynav-cta-wrapper a.button:link,.fxfamilynav-cta-wrapper a.button:visited {
    font-size: 14px;
    font-size: .875rem;
    padding: 10px 18px
}

ul.download-list {
    list-style-type: none;
    margin-bottom: 10px
}

ul.download-list li {
    margin-left: 0
}

ul.download-list strong {
    font-weight: normal
}

.infobar a.button {
    font-size: 16px;
    font-size: 1rem;
    margin-left: 20px;
    padding: 5px 18px
}

.download-dumb ul {
    list-style: none
}

.download-dumb ul li {
    display: inline-block;
    margin: 20px 0 0
}

.download-dumb ul li .button {
    font-size: 14px;
    font-size: .875rem;
    margin-left: 3px;
    padding: 6px
}

.download-button {
    display: inline-block;
    vertical-align: top
}

.download-other {
    font-size: 11px;
    font-size: .6875rem;
    color: #666
}

.download-other a:link,.download-other a:visited {
    color: #999
}

.download-other a:hover,.download-other a:focus,.download-other a:active {
    color: #999;
    text-decoration: underline
}

.download-button .ios-download,.download-button .linux-arm-download,.download-button .unrecognized-download,.download-button .unsupported-download,.download-button .unsupported-download-osx,.download-button .nojs-download {
    display: none
}

.download-button .os_winsha1,.download-button .os_win64,.download-button .os_linux,.download-button .os_linux64,.android .download-button-desktop,.windows.arm .download-button .os_win,.linux.arm .download-button .os_linux,.linux.x86.x64 .download-list .os_linux,.download-button .os_win,.download-button .os_osx,.download-button .os_android,.download-button .os_ios,.no-js .download-list,.other .download-list {
    display: none!important
}

.linux .download-button .os_linux,.linux.x86.x64 .download-button .os_linux64,.windows .download-button .os_win,.osx .download-button .os_osx,.android .download-button .os_android,.download-button-android .os_android,.android .download-button-desktop .download-list,.android .download-button-desktop small.os_win,.download-button-ios .os_ios,.ios .download-button .os_ios,.ios .download-button .ios-download,.ios .download-button-desktop .download-list,.other .download-button-android .download-list,.other .download-button small.os_win {
    display: block!important
}

.windows.arm .download-button .unsupported-download,.linux.arm .download-button .linux-arm-download,.oldwin .download-button .unsupported-download,.oldmac .download-button .unsupported-download {
    display: block;
    max-width: 250px
}

.windows.arm .download-button .fx-privacy-link,.linux.arm .download-button .fx-privacy-link,.oldwin .download-button .fx-privacy-link,.oldmac .download-button .fx-privacy-link {
    display: none
}

.android .download-button-desktop .nojs-download,.ios .download-button-desktop .nojs-download,.no-js .download-button .nojs-download {
    display: block
}

.other .download-button .unrecognized-download {
    display: block
}

.download-button .download-list .os_android.x86,.download-button .download-other.os_android .api-15,.android.x86 .download-button .download-list .os_android.armv7up,.android.x86 .download-button .download-other.os_android .x86 {
    display: none!important
}

.android.x86 .download-button .download-list .os_android.x86 {
    display: block!important
}

.android.x86 .download-button .download-other.os_android .armv7up {
    display: inline!important
}

.windows.sha-1 .download-button .os_win {
    display: none!important
}

.windows.sha-1 .download-button .os_winsha1 {
    display: block!important
}

html[lang="ml"] .button {
    padding: 10px 16px
}

body {
    border-top: 0
}

#masthead {
    background: #ff8c8e;
    color: #000
}

#masthead .content {
    padding: 51px 20px 0
}

#masthead .masthead-logo {
    background: #ff8c8e;
    height: 30px;
    left: 0;
    margin: 0;
    padding: 10px 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%
}

#masthead .masthead-logo img {
    height: 30px
}

.masthead-nav-main .toggle {
    background-color: #ff8c8e;
    background-image: url("/media/img/pebbles/icon-menu-dark.d12612893396.svg")
}

#nav-download-firefox {
    display: none
}

@media screen and (min-width:760px) {
    #masthead {
        background: #ff8c8e;
        padding: 0
    }

    #masthead .content {
        padding-top: 0
    }

    #masthead .masthead-logo {
        float: left;
        position: relative;
        width: 115px
    }

    #nav-main-menu,.js #nav-main-menu {
        padding: 15px 0
    }

    #nav-main-menu li,.js #nav-main-menu li {
        border-right: 1px solid #000
    }

    #nav-main-menu li:last-child,.js #nav-main-menu li:last-child {
        border-right: 0;
        padding-right: 0
    }

    #nav-main-menu a,#nav-main-menu a:hover,#nav-main-menu a:focus,.js #nav-main-menu a,.js #nav-main-menu a:hover,.js #nav-main-menu a:focus {
        color: #000
    }
}

@media screen and (min-width:1000px) {
    #nav-main-menu li,.js #nav-main-menu li {
        padding: 0 20px
    }

    #nav-download-firefox {
        display: inline-block;
        float: right
    }

    #nav-download-firefox ul.download-list {
        margin-bottom: 0
    }

    #nav-download-firefox .button {
        font-size: 14px;
        font-size: .875rem;
        border-radius: 0;
        padding: 13px 20px;
        text-decoration: none;
        text-transform: uppercase
    }

    #nav-download-firefox .fx-privacy-link {
        display: none
    }
}

@supports(display:flex) {
@    media screen and (min-width:760px) {
        #nav-main-menu,.js #nav-main-menu{display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: flex-end;
        justify-content: flex-end
    }
}}

main {
    overflow: hidden
}

#intro {
    background: #00a7de;
    color: #fff;
    position: relative
}

#intro h2,#intro h3 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff;
    margin: 0 auto;
    text-align: center;
    text-shadow: 0 0 10px rgba(0,0,0,0.01),0 0 5px rgba(0,0,0,0.025),0 1px 1px rgba(0,0,0,0.5)
}

#intro .content {
    background: rgba(0,20,40,0.5);
    display: block;
    height: 100%;
    padding: 20px;
    position: relative;
    width: 100%;
    z-index: 2
}

#intro h2 {
    font-size: 32px;
    font-size: 2rem;
    font-style: italic;
    line-height: 1.3;
    padding: 70px 40px;
    max-width: 980px
}

@media screen and (min-width:760px) {
    #intro h2 {
        font-size: 48px;
        font-size: 3rem
    }
}

@media screen and (min-width:760px) and (min-height:600px) {
    #intro h2 {
        padding: 110px 40px
    }
}

@media screen and (min-width:1000px) and (min-height:600px) {
    #intro h2 {
        padding: 130px 40px
    }
}

@media screen and (min-width:1400px) {
    #intro h2 {
        font-size: 56px;
        font-size: 3.5rem
    }
}

@media screen and (min-width:1400px) and (min-height:600px) {
    #intro h2 {
        padding: 150px 40px
    }
}

#intro h3 {
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 1.3;
    padding: 0 40px 10px;
    max-width: 740px
}

@media screen and (min-width:760px) {
    #intro h3 {
        font-size: 22px;
        font-size: 1.375rem
    }
}

@media screen and (min-width:1000px) {
    #intro h3 {
        font-size: 26px;
        font-size: 1.625rem
    }
}

@media screen and (min-width:1400px) {
    #intro h3 {
        font-size: 28px;
        font-size: 1.75rem;
        padding-bottom: 20px
    }
}

#intro #home-slideshow {
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1
}

#intro .slide {
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: none;
    height: 100%;
    width: 100%
}

#intro #slide-two {
    display: block;
    background-image: url("/media/img/home/2016/intro/intro-learning-600.1ad8b9287179.jpg")
}

@media screen and (min-width:760px) {
    #intro .slide {
        display: block
    }

    #intro #slide-one {
        background-image: url("/media/img/home/2016/intro/intro-mitchell-1000.8a0f27a1dcfa.jpg")
    }

    #intro #slide-two {
        background-image: url("/media/img/home/2016/intro/intro-learning-1000.f9cb264d06f6.jpg")
    }

    #intro #slide-three {
        background-image: url("/media/img/home/2016/intro/intro-advocacy-1000.9c71b3310f72.jpg")
    }

    #intro #slide-four {
        background-image: url("/media/img/home/2016/intro/intro-vr-1000.f0168079cdf7.jpg")
    }
}

@media screen and (min-width:1400px) {
    #intro #slide-one {
        background-image: url("/media/img/home/2016/intro/intro-mitchell-2000.bf146ac8f856.jpg")
    }

    #intro #slide-two {
        background-image: url("/media/img/home/2016/intro/intro-learning-2000.33e7203ee1b7.jpg")
    }

    #intro #slide-three {
        background-image: url("/media/img/home/2016/intro/intro-advocacy-2000.87ee1882af49.jpg")
    }

    #intro #slide-four {
        background-image: url("/media/img/home/2016/intro/intro-vr-2000.221706812461.jpg")
    }
}

@media screen and (min-width:1000px) {
    [lang^='en'] #intro h2 {
        font-size: 56px;
        font-size: 3.5rem
    }
}

@media screen and (min-width:1400px) {
    [lang^='en'] #intro h2 {
        font-size: 64px;
        font-size: 4rem
    }
}

.section-content {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    min-width: 300px;
    padding: 10px 20px 20px;
    text-align: center
}

.section-content:before {
    content: '';
    display: block;
    height: 250px;
    margin-bottom: 20px;
    background-repeat: no-repeat
}

.section-content .section-headline {
    font-size: 32px;
    font-size: 2rem;
    margin-bottom: 20px
}

.section-content p {
    padding-bottom: 20px
}

@media screen and (min-width:760px) {
    .section-content {
        padding: 10px 40px 20px
    }

    .section-content p {
        font-size: 18px;
        font-size: 1.125rem
    }
}

@media screen and (min-width:1000px) {
    .section-content p {
        font-size: 20px;
        font-size: 1.25rem
    }
}

#impact {
    background: #fff;
    color: #56565a
}

#impact .section-headline {
    color: #d93a33
}

#impact .section-content:before {
    background-image: url("/media/img/home/2016/speaker.2a1099aca683.png");
    background-size: 200px 200px;
    background-position: center
}

@media only screen and (-webkit-min-device-pixel-ratio:1.5),only screen and (min-resolution:1.5dppx),only screen and (min-resolution:144dpi) {
    #impact .section-content:before {
        background-image: url("/media/img/home/2016/speaker-high-res.34dd5b0e1f05.png");
        background-size: 200px 200px
    }
}

#impact .icon-links a {
    color: #d93a33
}

#impact .icon-links a:before {
    background-color: #d93a33
}

#impact .icon-links .icon use {
    fill: #fff
}

#innovate {
    background: #d93a33;
    color: #fff
}

#innovate .section-content:before {
    background-image: url("/media/img/home/2016/vr.b7375fc683b0.png");
    background-size: 200px 200px;
    background-position: center
}

@media only screen and (-webkit-min-device-pixel-ratio:1.5),only screen and (min-resolution:1.5dppx),only screen and (min-resolution:144dpi) {
    #innovate .section-content:before {
        background-image: url("/media/img/home/2016/vr-high-res.31e068165622.png");
        background-size: 200px 200px
    }
}

#innovate .icon-links a {
    color: #fff
}

#innovate .icon-links a:before {
    background-color: #fff
}

#innovate .icon-links .icon use {
    fill: #d93a33
}

@media screen and (min-width:760px) {
    #impact-innovate-wrapper {
        display: table
    }

    #impact,#innovate {
        display: table-cell;
        width: 50%
    }
}

.icon-links {
    margin: 20px 0
}

.icon-links li {
    margin-bottom: 10px
}

.icon-links a {
    font-weight: bold;
    text-decoration: none
}

.icon-links a:after {
    content: "\00A0\25B8";
    white-space: nowrap
}

.icon-links a:after {
    -webkit-transition: right 150ms cubic-bezier(0.3,-0.5,0.6,1.5);
    transition: right 150ms cubic-bezier(0.3,-0.5,0.6,1.5);
    position: relative;
    right: 0
}

.icon-links a:hover:after,.icon-links a:focus:after {
    right: -4px
}

.icon-links .icon {
    display: none
}

@media screen and (min-width:760px) {
    .icon-links {
        margin-left: auto;
        margin-right: auto;
        text-align: left;
        width: 60%
    }

    .icon-links li {
        margin: 30px 0 20px;
        position: relative;
        min-height: 40px;
        padding: 0 0 0 54px
    }

    .icon-links a {
        font-size: 18px;
        font-size: 1.125rem
    }

    .icon-links a:before {
        -webkit-transition: transform 150ms cubic-bezier(0.3,-0.5,0.6,1.5);
        transition: transform 150ms cubic-bezier(0.3,-0.5,0.6,1.5);
        border-radius: 50%;
        content: '';
        display: block;
        height: 55px;
        left: -25px;
        position: absolute;
        top: -12px;
        width: 55px
    }

    .icon-links a:hover:before,.icon-links a:focus:before {
        -webkit-transform: scale(1.15);
        transform: scale(1.15);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%
    }

    .icon-links .icon {
        border-radius: 50%;
        display: inline-block;
        height: 45px;
        left: -25px;
        padding: 5px;
        position: absolute;
        top: -12px;
        width: 45px
    }

    .icon-links .icon svg path,.icon-links .icon svg rect {
        fill: inherit
    }
}

@media screen and (min-width:1000px) {
    .icon-links a {
        font-size: 20px;
        font-size: 1.25rem
    }
}

#icon-sprite {
    display: none
}

#firefox {
    background: #2d253a;
    color: #fff;
    text-align: center
}

#firefox h2 {
    font-size: 24px;
    font-size: 1.5rem;
    padding-top: 40px
}

#firefox h2:before {
    background-image: url("/media/img/firefox/template/logo-large.db198f32d472.png");
    background-size: auto auto;
    -webkit-background-size: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    content: '';
    display: block;
    height: 84px;
    margin: 0 auto 10px;
    width: 80px
}

@media only screen and (-webkit-min-device-pixel-ratio:1.5),only screen and (min-resolution:1.5dppx),only screen and (min-resolution:144dpi) {
    #firefox h2:before {
        background-image: url("/media/img/firefox/template/logo-large-high-res.6b70bc06eb5c.png");
        background-size: auto auto
    }
}

@media screen and (min-width:480px) {
    #firefox h2 {
        font-size: 36px;
        font-size: 2.25rem
    }

    #firefox h2:before {
        height: 142px;
        width: 136px
    }
}

@media only screen and (-webkit-min-device-pixel-ratio:1.5),only screen and (min-resolution:1.5dppx),only screen and (min-resolution:144dpi) {
    #firefox h2:before {
        -webkit-background-size: 100%;
        background-size: 100%
    }
}

#firefox .horizon {
    background-color: #092d6c;
    background-image: linear-gradient(-180deg,#092d6c 0,#10659c 40%,#7babbf 68%,#e9c39f 85%,#ff9a4a 100%);
    background-repeat: no-repeat
}

#firefox .horizon .content {
    padding-bottom: 270px
}

#firefox .stars {
    background: url("/media/img/firefox/horizon/stars.8398dac91f60.svg") center 60px no-repeat
}

#firefox .content p {
    margin-bottom: 40px
}

#firefox .content a,#firefox .content a:hover {
    color: #fff
}

@media screen and (min-width:760px) {
    #firefox .content {
        font-size: 24px;
        font-size: 1.5rem
    }
}

@media screen and (min-width:1000px) {
    #firefox .content p {
        max-width: 780px;
        margin: 0 auto 40px
    }
}

#firefox .forest-container {
    height: 416px;
    margin-top: -254px;
    position: relative
}

#firefox .mountains-container {
    height: 483px;
    left: 50%;
    margin-left: -1046px;
    position: absolute;
    top: 0;
    width: 1770px
}

#firefox .mountains-container .layer {
    left: 0;
    position: absolute;
    width: 1770px
}

@media screen and (min-width:760px) {
    #firefox .mountains-container {
        margin-left: -885px
    }
}

#firefox .sun {
    height: 318px;
    left: 50%;
    margin-left: -161px;
    position: absolute;
    top: 30px;
    width: 322px
}

#firefox .mountains {
    height: 482px;
    top: 0
}

#firefox .foreground-shape {
    background-image: url("/media/img/firefox/horizon/foreground.9d87fe44d0ee.png");
    background-size: 1770px 254px;
    background-position: top left;
    background-repeat: no-repeat;
    bottom: 0;
    height: 254px
}

@media only screen and (-webkit-min-device-pixel-ratio:1.5),only screen and (min-resolution:1.5dppx),only screen and (min-resolution:144dpi) {
    #firefox .foreground-shape {
        background-image: url("/media/img/firefox/horizon/foreground-high-res.1ab1938aae64.png");
        background-size: 1770px 254px
    }
}

#firefox .trees-left {
    bottom: 70px;
    height: 602px;
    left: -375px;
    position: absolute;
    width: 909px
}

#firefox .trees-right {
    bottom: 120px;
    height: 550px;
    position: absolute;
    right: -420px;
    width: 922px
}

#firefox .fox {
    bottom: 39px;
    height: 254px;
    position: absolute;
    right: 140px;
    width: 522px
}

#firefox #fxmobile-download-buttons {
    display: none
}

#firefox #fxmobile-download-buttons li {
    margin-bottom: 12px
}

#firefox #fxmobile-download-buttons.visible {
    display: block
}

.section-externals {
    background: #f5f5f5;
    text-align: center
}

.section-externals ul {
    position: relative;
    padding: 60px 0 40px;
    zoom: 1
}

.section-externals ul:after {
    clear: both;
    content: '';
    display: block;
    height: 0;
    visibility: hidden
}

.section-externals ul li {
    max-width: 460px;
    margin: 0 auto 30px
}

@media screen and (min-width:760px) {
    .section-externals ul li {
        float: left;
        width: 33.3%;
        margin: 0
    }
}

.section-externals h3 {
    font-size: 18px;
    font-size: 1.125rem;
    color: #484848;
    padding-top: 100px;
    position: relative
}

.section-externals h3:before {
    -webkit-background-size: fill;
    background-size: fill;
    background-position: center center;
    background-repeat: no-repeat;
    content: '';
    height: 84px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%
}

@media screen and (min-width:760px) {
    .section-externals h3 {
        font-size: 20px;
        font-size: 1.25rem
    }
}

.section-externals a {
    display: block;
    padding: 0 20px;
    text-align: center;
    text-decoration: none
}

.section-externals a.add-ons h3:before {
    background-image: url("/media/img/home/2016/icon-addons.013eb22dbe38.svg")
}

.section-externals a.careers h3:before {
    background-image: url("/media/img/home/2016/icon-careers.986c678e3af5.svg")
}

.section-externals a.help h3:before {
    background-image: url("/media/img/home/2016/icon-help.6a0176e2ed1d.svg")
}

.section-externals a:hover,.section-externals a:active,.section-externals a:focus {
    text-decoration: none
}

.section-externals a:hover h3,.section-externals a:active h3,.section-externals a:focus h3 {
    text-decoration: underline
}

.section-externals p {
    font-size: 16px;
    font-size: 1rem;
    color: #484848
}

#newsletter-subscribe.section-newsletter {
    margin: 0;
    background: #d93a33
}

#newsletter-subscribe.section-newsletter .newsletter-form,#newsletter-subscribe.section-newsletter .form-title,#newsletter-subscribe.section-newsletter .form-contents {
    zoom: 1;
    float: none;
    margin: 0 auto
}

#newsletter-subscribe.section-newsletter .newsletter-form:after,#newsletter-subscribe.section-newsletter .form-title:after,#newsletter-subscribe.section-newsletter .form-contents:after {
    clear: both;
    content: '';
    display: block;
    height: 0;
    visibility: hidden
}

#newsletter-subscribe.section-newsletter .form-title {
    -webkit-background-size: 100px,100px;
    background-size: 100px,100px;
    background-position: center top;
    margin-top: 0;
    padding-left: 0;
    padding-top: 120px;
    text-align: center
}

#newsletter-subscribe.section-newsletter .form-title h3 {
    font-size: 32px;
    font-size: 2rem;
    font-style: italic;
    text-align: center
}

#newsletter-subscribe.section-newsletter .form-title h4 {
    font-size: 18px;
    font-size: 1.125rem;
    font-weight: normal;
    line-height: 1.5
}

#newsletter-subscribe.section-newsletter .form-contents .field {
    margin: 0 0 1em
}

#newsletter-subscribe.section-newsletter .errorlist {
    padding: 10px
}

#newsletter-subscribe.section-newsletter #newsletter-form-thankyou {
    padding: 0
}

.js #form-details {
    display: none
}

@media screen and (min-width:760px) {
    #newsletter-subscribe.section-newsletter .newsletter-form {
        padding-left: 380px;
        width: 310px
    }

    #newsletter-subscribe.section-newsletter .newsletter-form .form-title {
        -webkit-background-size: 120px 120px;
        background-size: 120px 120px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        background-position: left top;
        float: left;
        margin-left: -380px;
        padding: 10px 0 0 140px;
        width: 350px
    }

    #newsletter-subscribe.section-newsletter .newsletter-form .form-title h3,#newsletter-subscribe.section-newsletter .newsletter-form .form-title h4 {
        text-align: left
    }

    #newsletter-subscribe.section-newsletter .newsletter-form .form-contents,#newsletter-subscribe.section-newsletter .newsletter-form .form-submit {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        float: left;
        margin: 0;
        width: 100%
    }
}

@font-face {
    font-family:'Fira Sans';font-weight:normal;font-style:normal;src:url("/media/fonts/FiraSans-Regular.186ecd9aa674.woff2") format("woff2"),url("/media/fonts/FiraSans-Regular.ee9e7b0e9f83.woff") format("woff")
}

@font-face {
    font-family:'Fira Sans';font-weight:bold;font-style:normal;src:url("/media/fonts/FiraSans-Bold.a17d9aba47f9.woff2") format("woff2"),url("/media/fonts/FiraSans-Bold.44da4efe6cff.woff") format("woff")
}

@font-face {
    font-family:'Fira Sans';font-weight:normal;font-style:italic;src:url("/media/fonts/FiraSans-Italic.5ae687f8add5.woff2") format("woff2"),url("/media/fonts/FiraSans-Italic.f48c1c4b80e2.woff") format("woff")
}

@font-face {
    font-family:'Fira Sans';font-weight:bold;font-style:italic;src:url("/media/fonts/FiraSans-BoldItalic.d5e1f32f6fea.woff2") format("woff2"),url("/media/fonts/FiraSans-BoldItalic.be74b21f1137.woff") format("woff")
}

@font-face {
    font-family:'Fira Sans Light';font-weight:normal;font-style:normal;src:url("/media/fonts/FiraSans-Light.3940026cbaf9.woff2") format("woff2"),url("/media/fonts/FiraSans-Light.dd876b54b258.woff") format("woff")
}

@font-face {
    font-family:'Fira Sans Light';font-weight:normal;font-style:italic;src:url("/media/fonts/FiraSans-LightItalic.4566879438f1.woff2") format("woff2"),url("/media/fonts/FiraSans-LightItalic.1925d1a4bdd3.woff") format("woff")
}

@font-face {
    font-family:'Fira Sans Light';font-weight:bold;font-style:normal;src:url("/media/fonts/FiraSans-Regular.186ecd9aa674.woff2") format("woff2"),url("/media/fonts/FiraSans-Regular.ee9e7b0e9f83.woff") format("woff")
}

@font-face {
    font-family:'Fira Sans Light';font-weight:bold;font-style:italic;src:url("/media/fonts/FiraSans-Italic.5ae687f8add5.woff2") format("woff2"),url("/media/fonts/FiraSans-Italic.f48c1c4b80e2.woff") format("woff")
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary {
    display: block
}

audio,video,canvas {
    display: inline-block
}

html,body,form,fieldset,legend,h1,h2,h3,h4,h5,h6,hr,p,pre,blockquote,figure,figcaption,table,ul,ol,li,dl,dt,dd {
    margin: 0;
    padding: 0
}

blockquote:before,blockquote:after,q:before,q:after {
    content: ''
}

blockquote,q {
    quotes: '' ''
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

fieldset,iframe,a img {
    border: 0
}

input,select,textarea {
    font-family: inherit;
    font-size: 100%
}

img,video,object,embed {
    -ms-interpolation-mode: bicubic;
    height: auto;
    max-width: 100%
}

html {
    font-size: 100%;
    background: #fff
}

body {
    font-size: 100%;
    background: #fff;
    border-top: 2px solid #fff;
    color: #000;
    font-family: "Fira Sans",X-LocaleSpecific,sans-serif;
    line-height: 1.5
}

#strings {
    display: none
}

.hidden {
    display: none
}

h1,h2,h3,h4,h5,h6,legend {
    font-weight: bold;
    line-height: 1.1;
    margin: 0 0 .25em
}

h1 {
    font-size: 38px;
    font-size: 2.375rem
}

@media screen and (min-width:760px) {
    h1 {
        font-size: 50px;
        font-size: 3.125rem
    }
}

h2 {
    font-size: 28px;
    font-size: 1.75rem
}

@media screen and (min-width:760px) {
    h2 {
        font-size: 38px;
        font-size: 2.375rem
    }
}

h3 {
    font-size: 21px;
    font-size: 1.3125rem
}

@media screen and (min-width:760px) {
    h3 {
        font-size: 28px;
        font-size: 1.75rem
    }
}

h4 {
    font-size: 16px;
    font-size: 1rem
}

@media screen and (min-width:760px) {
    h4 {
        font-size: 21px;
        font-size: 1.3125rem
    }
}

h5,h6 {
    font-size: 16px;
    font-size: 1rem
}

p,ul,ol,dl,table {
    margin-bottom: 1.25em
}

a {
    color: #00a7e0;
    text-decoration: underline
}

a:hover,a:focus,a:active,a:visited:hover,a:visited:focus,a:visited:active {
    color: #0081ad;
    text-decoration: underline
}

a:visited {
    color: #75bad1
}

ul,ol {
    list-style: none
}

ul.prose {
    list-style: disc;
    margin-left: 30px
}

ul.prose ul {
    list-style: circle;
    margin-left: 20px;
    margin-bottom: 0
}

ul.prose ol {
    list-style: decimal;
    margin-left: 20px;
    margin-bottom: 0
}

ol.prose {
    list-style: decimal;
    margin-left: 30px
}

ol.prose ol {
    list-style: lower-alpha;
    margin-left: 20px;
    margin-bottom: 0
}

ol.prose ul {
    list-style: disc;
    margin-left: 20px;
    margin-bottom: 0
}

[dir='rtl'] ul.prose,[dir='rtl'] ol.prose {
    margin-left: 0;
    margin-right: 30px
}

[dir='rtl'] ul.prose ul,[dir='rtl'] ul.prose ol,[dir='rtl'] ol.prose ul,[dir='rtl'] ol.prose ol {
    margin-left: 0;
    margin-right: 20px
}

.data-table {
    border-collapse: collapse;
    border-spacing: 0
}

.data-table caption {
    text-align: left;
    padding-bottom: 1px;
    margin-bottom: -1px;
    width: 100%
}

.data-table th,.data-table td {
    border-top: 1px solid rgba(0,0,0,0.2);
    padding: .5em 10px;
    text-align: left
}

.data-table thead th,.data-table thead td {
    border-top: 0;
    padding-top: 0
}

[dir='rtl'] .data-table caption,[dir='rtl'] .data-table th,[dir='rtl'] .data-table td {
    text-align: right
}

button,input,select,textarea {
    font-family: inherit
}

textarea {
    height: auto;
    max-width: 100%
}

textarea,input[type=email],input[type=url],input[type=tel],input[type=password],input[type=search],input[type=text],input[type=number],input[type=date],input[type=time] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 100ms linear;
    transition: all 100ms linear;
    background: #fff;
    border-radius: .3em;
    border: 1px solid #b2b2b2;
    display: inline-block;
    line-height: 1.25;
    padding: .25em 10px
}

textarea:focus,input[type=email]:focus,input[type=password]:focus,input[type=search]:focus,input[type=text]:focus,input[type=tel]:focus,input.focus {
    -webkit-transition: all 100ms linear;
    transition: all 100ms linear;
    border-color: #42a4e0;
    box-shadow: 0 0 0 2px rgba(73,173,227,0.4)
}

select:focus {
    box-shadow: 0 0 0 2px rgba(73,173,227,0.4)
}

textarea:-moz-ui-invalid:not(output),input[type=email]:-moz-ui-invalid:not(output),input[type=password]:-moz-ui-invalid:not(output),input[type=search]:-moz-ui-invalid:not(output),input[type=text]:-moz-ui-invalid:not(output),input[type=tel]:-moz-ui-invalid:not(output),input.invalid {
    -webkit-transition: all 100ms linear;
    transition: all 100ms linear;
    border-color: #a91300;
    box-shadow: 0 0 0 2px rgba(255,80,80,0.4)
}

.section,.content {
    zoom: 1;
    position: relative
}

.section:after,.content:after {
    clear: both;
    content: '';
    display: block;
    height: 0;
    visibility: hidden
}

.content {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 20px;
    min-width: 300px
}

@media screen and (min-width:760px) {
    .content {
        width: 740px
    }
}

@media screen and (min-width:1000px) {
    .content {
        width: 980px
    }
}

@media screen and (min-width:1400px) {
    .content {
        width: 1380px
    }
}

#masthead {
    min-height: 50px
}

#masthead .content {
    padding-top: 0;
    padding-bottom: 0
}

.masthead-logo {
    font-size: 16px;
    font-size: 1rem;
    margin: 0;
    padding: 30px 0 20px
}

.masthead-nav-main {
    font-family: "Fira Sans Light",X-LocaleSpecific-Light,"Fira Sans",X-LocaleSpecific,sans-serif;
    font-weight: normal;
    font-size: 14px;
    font-size: .875rem;
    left: 0;
    position: absolute;
    text-transform: uppercase;
    top: 0;
    z-index: 99
}

.masthead-nav-main a {
    text-decoration: none
}

.masthead-nav-main a:hover,.masthead-nav-main a:focus,.masthead-nav-main a:active {
    text-decoration: underline
}

.masthead-nav-main .toggle {
    overflow: hidden;
    text-indent: 120%;
    white-space: nowrap;
    background: #c13832 url("/media/img/pebbles/icon-menu-light.1cad887d8ecb.svg") center center no-repeat;
    -webkit-background-size: 22px auto;
    background-size: 22px auto;
    cursor: pointer;
    display: block;
    height: 50px;
    overflow: hidden;
    position: relative;
    width: 50px
}

.masthead-nav-main .nav-main-menu {
    background: #fff;
    box-shadow: 2px 2px 0 rgba(0,0,0,0.2);
    left: -300px;
    margin: 0;
    overflow: visible;
    position: absolute;
    top: 50px;
    width: 200px;
    z-index: 99
}

.masthead-nav-main .nav-main-menu li {
    border-bottom: 1px solid #ccc
}

.masthead-nav-main .nav-main-menu li:last-child {
    border: 0
}

.masthead-nav-main .nav-main-menu a {
    background: #fff;
    color: #000;
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    -webkit-transition: background-color 150ms ease,border-width 150ms ease,color 150ms ease,padding 150ms ease;
    transition: background-color 150ms ease,border-width 150ms ease,color 150ms ease,padding 150ms ease
}

.masthead-nav-main .nav-main-menu a:hover,.masthead-nav-main .nav-main-menu a:focus {
    background-color: #f5f5f5;
    border-right: 6px solid #c13832;
    color: #c13832;
    text-decoration: underline
}

.masthead-nav-main:hover .nav-main-menu,.nav-main-menu:target {
    left: auto
}

.js .masthead-nav-main .nav-main-menu {
    left: auto;
    display: none
}

@media screen and (min-width:760px) {
    .masthead-nav-main {
        float: right;
        margin: 0 20px;
        position: relative
    }

    .masthead-nav-main .nav-main-menu {
        width: auto;
        position: static;
        background: transparent;
        box-shadow: none;
        padding: 20px 0
    }

    .masthead-nav-main .nav-main-menu li {
        display: inline;
        border: 0;
        padding: 0 10px
    }

    .masthead-nav-main .nav-main-menu a {
        background: transparent;
        display: inline-block;
        padding: 0
    }

    .masthead-nav-main .nav-main-menu a:hover,.masthead-nav-main .nav-main-menu a:focus {
        background: transparent;
        border: 0
    }

    .masthead-nav-main .toggle {
        display: none
    }

    .js .masthead-nav-main .nav-main-menu {
        display: block
    }
}

@media screen and (min-width:1000px) {
    .masthead-nav-main .nav-main-menu li {
        padding: 0 20px
    }
}

@supports(display:flex) {
@    media screen and (min-width:760px) {
        .nav-main-menu,.js .nav-main-menu{display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: flex-end;
        justify-content: flex-end
    }
}}

html[dir="rtl"] .masthead-nav-main {
    left: auto;
    right: 0
}

html[dir="rtl"] .masthead-nav-main .nav-main-menu a:active,html[dir="rtl"] .masthead-nav-main .nav-main-menu a:focus,html[dir="rtl"] .masthead-nav-main .nav-main-menu a:hover {
    border-right: 0;
    border-left: 6px solid #c13832
}

#tabzilla {
    position: relative;
    float: right
}

#tabzilla a {
    background-image: url("/media/img/tabzilla/tabzilla-static.953a65a1f4a4.png");
    background-size: 147px 37px;
    overflow: hidden;
    text-indent: 120%;
    white-space: nowrap;
    background-repeat: no-repeat;
    display: block;
    height: 37px;
    position: relative;
    width: 147px;
    z-index: 2
}

@media only screen and (-webkit-min-device-pixel-ratio:1.5),only screen and (min-resolution:1.5dppx),only screen and (min-resolution:144dpi) {
    #tabzilla a {
        background-image: url("/media/img/tabzilla/tabzilla-static-high-res.c4e717b903f2.png");
        background-size: 147px 37px
    }
}

#tabzilla:before {
    background-color: transparent;
    content: '';
    display: block;
    height: 26px;
    left: 28px;
    position: absolute;
    top: 0;
    width: 88px;
    z-index: 1
}

#colophon {
    font-family: "Fira Sans",X-LocaleSpecific,sans-serif;
    font-size: 14px;
    font-size: .875rem;
    background: #fff;
    color: #000;
    line-height: 1.5;
    margin: 0;
    padding: 40px 0;
    width: 100%
}

#colophon a:link,#colophon a:visited {
    color: #00a7e0;
    text-decoration: none
}

#colophon a:hover,#colophon a:focus,#colophon a:active {
    color: #0081ad;
    text-decoration: underline
}

#colophon .logo {
    font-size: 16px;
    font-size: 1rem;
    margin-bottom: .5em
}

#colophon .logo a {
    background: url("/media/img/pebbles/moz-wordmark-dark-reverse.2cbc28bb9895.svg") no-repeat;
    -webkit-background-size: 100px,32px;
    background-size: 100px,32px;
    overflow: hidden;
    text-indent: 120%;
    white-space: nowrap;
    display: inline-block;
    height: 32px;
    width: 100px
}

#colophon li {
    margin: 0;
    list-style-type: none
}

#colophon.dark {
    background: #000;
    color: #fff
}

#colophon.dark a:link,#colophon.dark a:visited {
    color: #23c7db;
    text-decoration: none
}

#colophon.dark a:hover,#colophon.dark a:focus,#colophon.dark a:active {
    color: #23c7db;
    text-decoration: underline
}

#colophon.blue {
    background-color: #005189;
    color: #fff
}

#colophon.blue a:link,#colophon.blue a:visited {
    color: #bee1f5;
    text-decoration: none
}

#colophon.blue a:hover,#colophon.blue a:focus,#colophon.blue a:active {
    color: #fff;
    text-decoration: underline
}

#colophon.dark .logo a,#colophon.blue .logo a {
    background-image: url("/media/img/pebbles/moz-wordmark-light-reverse.cb1bdf6d1de6.svg")
}

#colophon.universal h5 {
    font-weight: bold
}

#colophon.universal .row {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    zoom: 1;
    margin: 0 auto;
    padding: 0 20px;
    min-width: 300px
}

#colophon.universal .row:after {
    clear: both;
    content: '';
    display: block;
    height: 0;
    visibility: hidden
}

@media screen and (min-width:760px) {
    #colophon.universal .row {
        padding: 0 10px;
        width: 740px
    }
}

@media screen and (min-width:1000px) {
    #colophon.universal .row {
        width: 980px
    }
}

@media screen and (min-width:1400px) {
    #colophon.universal .row {
        width: 1380px
    }
}

#colophon.universal .col {
    margin-bottom: 20px
}

@media screen and (min-width:760px) {
    #colophon.universal .col {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        float: left;
        width: 33.332%;
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 0
    }
}

@media screen and (min-width:760px) {
    #colophon.universal .primary {
        border-bottom: 1px solid #666
    }

    #colophon.universal .primary .col-1 {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        float: left;
        width: 16.666%;
        padding-left: 10px;
        padding-right: 10px
    }

    #colophon.universal .primary .col-2,#colophon.universal .primary .col-3 {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        float: left;
        width: 41.665%;
        padding-left: 10px;
        padding-right: 10px
    }

    #colophon.universal .secondary {
        padding-top: 20px
    }

    #colophon.universal .secondary .col-1 {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        float: left;
        width: 33.332%;
        padding-left: 10px;
        padding-right: 10px
    }

    #colophon.universal .secondary .col-2 {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        float: left;
        width: 66.664%;
        padding-left: 10px;
        padding-right: 10px
    }

    #colophon.universal .license {
        margin-bottom: 0
    }
}

#colophon.universal.dark h5,#colophon.universal.blue h5 {
    color: #fff
}

@media screen and (min-width:760px) {
    #colophon.universal.dark .primary,#colophon.universal.blue .primary {
        border-bottom: 1px solid #fff
    }
}

#colophon.universal .social-links {
    display: inline;
    margin: 0
}

#colophon.universal .social-links li {
    display: inline
}

#colophon.universal .social-links li:before {
    content: '\00B7\00A0'
}

#colophon.universal .social-links li:first-child:before {
    content: ''
}

#colophon.universal .social-links li span {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute!important;
    width: 1px
}

#colophon.universal .legal-links li {
    display: inline
}

#colophon.universal .legal-links li:before {
    content: ' | '
}

#colophon.universal .legal-links li:first-child:before {
    content: ''
}

[dir='rtl'] #colophon.universal .col-2,[dir='rtl'] #colophon.universal .col-3 {
    float: none
}

@media screen and (min-width:760px) {
    [dir='rtl'] #colophon.universal .col,[dir='rtl'] #colophon.universal .col-2,[dir='rtl'] #colophon.universal .col-3 {
        float: right
    }
}

#colophon.old .row {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    zoom: 1;
    margin: 0 auto;
    padding: 0 20px;
    min-width: 300px
}

#colophon.old .row:after {
    clear: both;
    content: '';
    display: block;
    height: 0;
    visibility: hidden
}

@media screen and (min-width:760px) {
    #colophon.old .row {
        padding: 0 10px;
        width: 740px
    }
}

@media screen and (min-width:1000px) {
    #colophon.old .row {
        width: 980px
    }
}

@media screen and (min-width:1400px) {
    #colophon.old .row {
        width: 1380px
    }
}

#colophon.old .col {
    margin-bottom: 20px
}

@media screen and (min-width:760px) {
    #colophon.old .col {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        float: left;
        width: 33.332%;
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 0
    }
}

#colophon.old .col-2 ul {
    overflow: hidden
}

#colophon.old .col-2 ul.fx-footer-links li {
    float: none
}

#colophon.old .col-2 ul li {
    float: left
}

#colophon.old .col-2 ul li.wrap:before {
    content: '\00A0\00B7\00A0'
}

#colophon.old .col-2 ul li.clear {
    clear: both
}

#colophon.old .links-social li ul {
    display: inline;
    margin: 0
}

#colophon.old .links-social li li {
    display: inline
}

#colophon.old .links-social li li:before {
    content: '\00B7\00A0'
}

#colophon.old .links-social li li:first-child:before {
    content: ''
}

#colophon.old .links-social li li span {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute!important;
    width: 1px
}

#colophon.old .lang-switcher {
    margin-top: 20px
}

[dir='rtl'] #colophon.old .col-2 ul li {
    float: right
}

@media screen and (min-width:760px) {
    [dir='rtl'] #colophon.old .col,[dir='rtl'] #colophon.old .col-2 ul li {
        float: right
    }
}

.button,button.button,a.button:link,a.button:visited,.button.button-hollow,button.button.button-hollow,a.button.button-hollow:link,a.button.button-hollow:visited,button.form-button,input[type="submit"].form-button,input[type='button'].form-button {
    font-size: 18px;
    font-size: 1.125rem;
    -webkit-transition: background-color 100ms ease-in-out;
    transition: background-color 100ms ease-in-out;
    background: 0;
    border-radius: 4px;
    border-style: solid;
    border-width: 2px;
    cursor: pointer;
    display: inline-block;
    padding: .5em 36px;
    position: relative;
    text-align: center;
    text-shadow: none;
    text-decoration: none
}

@media screen and (min-width:760px) {
    .button,button.button,a.button:link,a.button:visited,.button.button-hollow,button.button.button-hollow,a.button.button-hollow:link,a.button.button-hollow:visited,button.form-button,input[type="submit"].form-button,input[type='button'].form-button {
        font-size: 20px;
        font-size: 1.25rem
    }
}

.button:active,a.button:active:link,a.button:active:visited,button.button.button-hollow:active,button.form-button:active,input[type="submit"].form-button:active,input[type='button'].form-button:active {
    position: relative;
    top: 1px
}

.button:hover,a.button:hover:link,a.button:hover:visited,button.button.button-hollow:hover,button.form-button:hover,input[type="submit"].form-button:hover,input[type='button'].form-button:hover,.button:focus,a.button:focus:link,a.button:focus:visited,button.button.button-hollow:focus,button.form-button:focus,input[type="submit"].form-button:focus,input[type='button'].form-button:focus {
    text-decoration: none
}

.button,button.button,a.button:link,a.button:visited {
    background-color: #0c99d5;
    border-color: #0b8fc7;
    color: #fff
}

.button:hover,.button:focus,button.button:hover,button.button:focus,a.button:link:hover,a.button:link:focus,a.button:visited:hover,a.button:visited:focus {
    background-color: #01affa
}

.button.button-dark,button.button.button-dark,a.button:link.button-dark,a.button:visited.button-dark {
    background-color: #00539f;
    border-color: #004b90;
    color: #fff
}

.button.button-dark:hover,.button.button-dark:focus,button.button.button-dark:hover,button.button.button-dark:focus,a.button:link.button-dark:hover,a.button:link.button-dark:focus,a.button:visited.button-dark:hover,a.button:visited.button-dark:focus {
    background-color: #0060b9
}

.button.button-green,button.button.button-green,a.button:link.button-green,a.button:visited.button-green {
    background-color: #4caf50;
    border-color: #47a44b;
    color: #fff
}

.button.button-green:hover,.button.button-green:focus,button.button.button-green:hover,button.button.button-green:focus,a.button:link.button-green:hover,a.button:link.button-green:focus,a.button:visited.button-green:hover,a.button:visited.button-green:focus {
    background-color: #51c455
}

.button.button-red,button.button.button-red,a.button:link.button-red,a.button:visited.button-red {
    background-color: #c13832;
    border-color: #b5342f;
    color: #fff
}

.button.button-red:hover,button.button.button-red:hover,a.button:link.button-red:hover,a.button:visited.button-red:hover {
    background-color: #d93a33
}

.button.button-orange,button.button.button-orange,a.button:link.button-orange,a.button:visited.button-orange {
    background-color: #f26c23;
    border-color: #f16215;
    color: #fff
}

.button.button-orange:hover,.button.button-orange:focus,button.button.button-orange:hover,button.button.button-orange:focus,a.button:link.button-orange:hover,a.button:link.button-orange:focus,a.button:visited.button-orange:hover,a.button:visited.button-orange:focus {
    background-color: #fe7931
}

.button.button-hollow,button.button.button-hollow,a.button.button-hollow:link,a.button.button-hollow:visited,button.form-button,input[type="submit"].form-button,input[type='button'].form-button {
    background-color: transparent;
    border-color: #0c99d5;
    color: #0c99d5
}

.button.button-hollow:hover,.button.button-hollow:focus,button.button.button-hollow:hover,button.button.button-hollow:focus,a.button.button-hollow:link:hover,a.button.button-hollow:link:focus,a.button.button-hollow:visited:hover,a.button.button-hollow:visited:focus,button.form-button:hover,button.form-button:focus,input[type="submit"].form-button:hover,input[type="submit"].form-button:focus,input[type='button'].form-button:hover,input[type='button'].form-button:focus {
    background-color: rgba(12,153,213,0.05);
    border-color: #01affa;
    color: #01affa
}

.button.button-hollow.button-light,button.button.button-hollow.button-light,a.button.button-hollow:link.button-light,a.button.button-hollow:visited.button-light,button.form-button.button-light,input[type="submit"].form-button.button-light,input[type='button'].form-button.button-light {
    color: #fff;
    border-color: #fff
}

.button.button-hollow.button-light:hover,.button.button-hollow.button-light:focus,button.button.button-hollow.button-light:hover,button.button.button-hollow.button-light:focus,a.button.button-hollow:link.button-light:hover,a.button.button-hollow:link.button-light:focus,a.button.button-hollow:visited.button-light:hover,a.button.button-hollow:visited.button-light:focus,button.form-button.button-light:hover,button.form-button.button-light:focus,input[type="submit"].form-button.button-light:hover,input[type="submit"].form-button.button-light:focus,input[type='button'].form-button.button-light:hover,input[type='button'].form-button.button-light:focus {
    background-color: rgba(255,255,255,0.05);
    border-color: #f2f2f2;
    color: #f2f2f2
}

.button.button-hollow.button-dark,button.button.button-hollow.button-dark,a.button.button-hollow:link.button-dark,a.button.button-hollow:visited.button-dark,button.form-button.button-dark,input[type="submit"].form-button.button-dark,input[type='button'].form-button.button-dark {
    color: #00539f;
    border-color: #00539f
}

.button.button-hollow.button-dark:hover,.button.button-hollow.button-dark:focus,button.button.button-hollow.button-dark:hover,button.button.button-hollow.button-dark:focus,a.button.button-hollow:link.button-dark:hover,a.button.button-hollow:link.button-dark:focus,a.button.button-hollow:visited.button-dark:hover,a.button.button-hollow:visited.button-dark:focus,button.form-button.button-dark:hover,button.form-button.button-dark:focus,input[type="submit"].form-button.button-dark:hover,input[type="submit"].form-button.button-dark:focus,input[type='button'].form-button.button-dark:hover,input[type='button'].form-button.button-dark:focus {
    background-color: rgba(0,83,159,0.05);
    border-color: #0060b9;
    color: #0060b9
}

.button.button-hollow.button-red,button.button.button-hollow.button-red,a.button.button-hollow:link.button-red,a.button.button-hollow:visited.button-red,button.form-button.button-red,input[type="submit"].form-button.button-red,input[type='button'].form-button.button-red {
    color: #c13832;
    border-color: #c13832
}

.button.button-hollow.button-red:hover,.button.button-hollow.button-red:focus,button.button.button-hollow.button-red:hover,button.button.button-hollow.button-red:focus,a.button.button-hollow:link.button-red:hover,a.button.button-hollow:link.button-red:focus,a.button.button-hollow:visited.button-red:hover,a.button.button-hollow:visited.button-red:focus,button.form-button.button-red:hover,button.form-button.button-red:focus,input[type="submit"].form-button.button-red:hover,input[type="submit"].form-button.button-red:focus,input[type='button'].form-button.button-red:hover,input[type='button'].form-button.button-red:focus {
    background-color: rgba(193,56,50,0.05);
    border-color: #d93a33;
    color: #d93a33
}

#newsletter-form .form-button {
    width: 100%
}

#survey-message {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #fff0b3;
    bottom: 0;
    min-height: 30px;
    overflow: hidden;
    padding: 10px 20px;
    position: fixed;
    text-align: center;
    transform: translateY(100%);
    width: 100%;
    z-index: 9999
}

#survey-message.hidden {
    display: none
}

#survey-message.animate {
    -webkit-transition: transform .25s ease-in;
    transition: transform .25s ease-in;
    -webkit-transform: translateY(0);
    transform: translateY(0)
}

#survey-message .survey-invite {
    font-size: 12px;
    font-size: .75rem;
    color: #000;
    margin: 0 25px
}

#survey-message .survey-invite span {
    display: block;
    margin-bottom: 5px
}

@media screen and (min-width:760px) {
    #survey-message .survey-invite span {
        display: inline
    }
}

#survey-message .survey-button {
    background-color: #00b6e0;
    border-radius: 2px;
    color: #fff;
    height: 20px;
    margin-left: 10px;
    padding: 2px 5px;
    text-decoration: none
}

#survey-message .survey-button:hover,#survey-message .survey-button:focus {
    text-decoration: underline
}

#survey-message .survey-button-close {
    overflow: hidden;
    text-indent: 120%;
    white-space: nowrap;
    -webkit-transition: transform .1s;
    transition: transform .1s;
    background: url("/media/img/mozorg/template/icon-close.56122c1547fd.svg") center center no-repeat;
    border: 0;
    height: 20px;
    padding: 0;
    position: absolute;
    right: 20px;
    top: 10px;
    width: 20px
}

#survey-message .survey-button-close:hover,#survey-message .survey-button-close:active,#survey-message .survey-button-close:focus {
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
}

