@font-face {
    font-family: 'paytmIcon';
    src: url('/assets/paytmIcon.eot?q7h0vv');
    src: url('/assets/paytmIcon.ttf') format('truetype'), url('/assets/paytmIcon.woff') format('woff'), url('/assets/paytmIcon.svg?#paytmIcon') format('svg');
    font-weight: normal;
    font-style: normal;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #ebebeb;
    border-radius: 20px
}

::-webkit-scrollbar-thumb {
    background-color: #00b9f5;
    border-radius: 20px
}

::-webkit-scrollbar-track {
    background-color: #f5f5f5;
    border-radius: 20px
}

.cursor {
    cursor: pointer
}

.valignMid {
    vertical-align: middle
}

[class*=" icon"],[class^=icon] {
    font-family: paytmIcon!important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.iconPaytmError .path1:before {
    content: "\E932";
    color: #00b9f5
}

.iconPaytmError .path2:before {
    content: "\E935";
    margin-left: -2.533203125em;
    color: #012b72
}

.iconPaytmError .path3:before {
    content: "\E936";
    margin-left: -2.533203125em;
    color: #00b9f5
}

.iconOfficialStore .path1:before {
    content: "\E933";
    color: #fff
}

.iconOfficialStore .path2:before {
    content: "\E934";
    margin-left: -1em;
    color: #00b9f5
}

.iconArrowLeft:before {
    content: "\E900"
}

.iconArrowRight:before {
    content: "\E901"
}

.iconPaytm .path1:before {
    content: "\E902";
    color: #00baf2
}

.iconPaytm .path2:before {
    content: "\E903";
    margin-left: -3.12109375em;
    color: #00baf2
}

.iconPaytm .path3:before {
    content: "\E904";
    margin-left: -3.12109375em;
    color: #20336b
}

.iconPaytm .path4:before {
    content: "\E905";
    margin-left: -3.12109375em;
    color: #20336b
}

.iconPaytm .path5:before {
    content: "\E906";
    margin-left: -3.12109375em;
    color: #20336b
}

.iconAndroid:before {
    content: "\E907"
}

.iconApple:before {
    content: "\E908"
}

.iconAssurance:before {
    content: "\E909"
}

.iconAssuredPaytm:before {
    content: "\E90A"
}

.iconBlackberry:before {
    content: "\E90B"
}

.iconCare:before {
    content: "\E90C"
}

.iconCircleCross:before {
    content: "\E90D"
}

.iconCircleRight:before {
    content: "\E90E"
}

.iconCross:before {
    content: "\E90F"
}

.iconDelete:before {
    content: "\E910"
}

.iconDelivery:before {
    content: "\E911"
}

.iconFacebook:before {
    content: "\E912"
}

.iconForward:before {
    content: "\E913"
}

.iconInstagram:before {
    content: "\E914"
}

.iconJava:before {
    content: "\E915"
}

.iconMenu:before {
    content: "\E916"
}

.iconOrder .path1:before {
    content: "\E917";
    color: #012b72
}

.iconOrder .path2:before {
    content: "\E918";
    margin-left: -1.2861328125em;
    color: #012b72
}

.iconOrder .path3:before {
    content: "\E919";
    margin-left: -1.2861328125em;
    color: #00b9f6
}

.iconOrder .path4:before {
    content: "\E91A";
    margin-left: -1.2861328125em;
    color: #00b9f6
}

.iconOrderGraph .path1:before {
    content: "\E91B";
    color: #002e6e
}

.iconOrderGraph .path2:before {
    content: "\E91C";
    margin-left: -1em;
    color: #00b9f6
}

.iconPinterest:before {
    content: "\E91D"
}

.iconProfile .path1:before {
    content: "\E91E";
    color: #012b72
}

.iconProfile .path2:before {
    content: "\E91F";
    margin-left: -1em;
    color: #00b9f6
}

.iconProfile .path3:before {
    content: "\E920";
    margin-left: -1em;
    color: #012b72
}

.iconPromise:before {
    content: "\E921"
}

.iconRupess:before {
    content: "\E922"
}

.iconScrollTop:before {
    content: "\E923"
}

.iconSearch:before {
    content: "\E924"
}

.iconShare:before {
    content: "\E925"
}

.iconStar:before {
    content: "\E926"
}

.iconStarFill .path1:before {
    content: "\E927";
    color: #fce515
}

.iconStarFill .path2:before {
    content: "\E928";
    margin-left: -1em;
    color: #ded215
}

.iconStore:before {
    content: "\E929"
}

.iconTrust:before {
    content: "\E92A"
}

.iconTwitter:before {
    content: "\E92B"
}

.iconWallet .path1:before {
    content: "\E92C";
    color: #012b72
}

.iconWallet .path2:before {
    content: "\E92D";
    margin-left: -1em;
    color: #00b9f5
}

.iconWindows:before {
    content: "\E92E"
}

.iconWishlistFill:before {
    content: "\E92F"
}

.iconWishlist:before {
    content: "\E930"
}

.iconYoutube:before {
    content: "\E931"
}

.mdInputCont {
    height: 40px;
    padding: 0
}

.mdInputCont .placeholder {
    position: relative;
    top: -2px;
    pointer-events: none;
    width: 100%;
    -webkit-transition: .25s cubic-bezier(.25,.8,.25,1);
    transition: .25s cubic-bezier(.25,.8,.25,1);
    -webkit-transform-origin: left top;
    transform-origin: left top;
    -webkit-transform: translate3d(0,28px,0) scale(1);
    transform: translate3d(0,28px,0) scale(1);
    font-size: 1.4rem;
    color: #666
}

.mdInputCont input {
    width: 100%;
    margin-top: auto;
    padding: 2px 2px 1px;
    line-height: 2.6rem;
    font-size: 1.4rem;
    color: #222;
    border: none;
    border-bottom: 1px solid #ddd
}

.inputFocussed .placeholder {
    color: #00b9f5;
    -webkit-transform: translate3d(0,6px,0) scale(.75);
    transform: translate3d(0,6px,0) scale(.75)
}

.inputFocussed input {
    border-color: #00b9f5!important;
    padding-bottom: 0!important;
    border-width: 0 0 2px!important
}

.inputFocussed input:focus {
    outline: 0!important
}

.inputHasValue .placeholder {
    color: #00b9f5;
    -webkit-transform: translate3d(0,6px,0) scale(.75);
    transform: translate3d(0,6px,0) scale(.75)
}

.inputHasValue input:focus {
    outline: 0!important
}

.radioInfo {
    float: left;
    margin-left: 40px
}

.radioInfo input[type=radio] {
    display: none
}

.radioInfo input[type=radio]+label {
    font-size: 1.2rem;
    color: #494949
}

.radioInfo input[type=radio]+label span {
    width: 18px;
    height: 18px;
    background-position: -1px -37px;
    background-image: url("/assets/sprite-icon2x.png");
    background-size: 242px 57px;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px
}

.radioInfo input[type=radio]:checked+label span {
    background-position: -41px -37px
}

.radioInfo label {
    font-size: 1.2rem;
    color: #494949
}

.radioInfo:first-child {
    margin-left: 0
}

input[type=number],input[type=password],input[type=tel],input[type=text],select {
    border: none;
    border-bottom: 1px solid #ebebeb;
    font-size: 1.4rem;
    width: 100%
}

.mainContainer {
    width: 94%;
    margin: 0 auto
}

.input[type=checkbox] {
    display: none
}

.input[type=checkbox]+label {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden
}

.input[type=checkbox]+label .labelName {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1
}

.input[type=checkbox]+label .check {
    width: 18px;
    height: 18px;
    position: relative;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    background-color: #fff;
    border-radius: 2px;
    border: 1px solid #deeaee;
    margin-right: 10px
}

.input[type=checkbox]:checked+label .check {
    border: 1px solid #00b9f5
}

.input[type=checkbox]:checked+label .check:before {
    content: "";
    width: 8px;
    height: 4px;
    border-left: 2px solid #00b9f5;
    border-bottom: 2px solid #00b9f5;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: left top;
    transform-origin: left top;
    -webkit-animation: checkAnimation .2s;
    animation: checkAnimation .2s;
    position: absolute;
    top: 8px;
    left: 2px
}

@-webkit-keyframes checkAnimation {
    0% {
        height: 0;
        width: 0
    }

    50% {
        height: 4px;
        width: 0
    }

    to {
        height: 4px;
        width: 8px
    }
}

@keyframes checkAnimation {
    0% {
        height: 0;
        width: 0
    }

    50% {
        height: 4px;
        width: 0
    }

    to {
        height: 4px;
        width: 8px
    }
}

@media (max-width:1024px) {
    .mainContainer {
        width: 960px
    }
}

html {
    font-family: Open Sans,arial,tahoma,verdana,sans-serif;
    font-size: 62.5%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased
}

body,html {
    line-height: 1.5
}

body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    font-size: 1.4rem;
    font-weight: 400;
    background: #f3f7f8;
    min-width: 1000px
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
    cursor: pointer;
    text-decoration: none
}

a:active,a:hover {
    outline-width: 0
}

b,strong {
    font-weight: inherit;
    font-weight: bolder
}

sub,sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

img {
    border-style: none;
    max-width: 100%
}

svg:not(:root) {
    overflow: hidden
}

button,input,optgroup,select,textarea {
    font: inherit;
    margin: 0
}

button,input {
    overflow: visible
}

button,select {
    text-transform: none
}

[type=reset],[type=submit],button,html [type=button] {
    -webkit-appearance: button
}

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em
}

[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

:focus {
    outline: none
}

* {
    box-sizing: border-box
}

iframe {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline
}

._2Bze {
    position: relative;
    margin-top: 97px
}

.R-WO {
    position: fixed;
    top: 0;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    width: 100%;
    z-index: 99
}

._18N- {
    margin-top: -27px
}

._2nhb {
    width: 100%;
    background: #f3f7f8;
    height: 26px;
    padding: 5px 4%
}

._2nhb ._13Jk {
    margin: 0 4px;
    font-size: 1.5rem;
    color: red
}

._2nhb ._3VzI {
    float: left;
    margin-top: -1px
}

._2nhb ._3VzI ._2egn {
    font-size: 1.2rem;
    padding: 0 5px;
    border-radius: 2px;
    text-decoration: none;
    cursor: pointer;
    color: #828282;
    line-height: 1.7rem;
    display: inline-block;
    vertical-align: top
}

._2nhb ._1F92 {
    float: right;
    white-space: nowrap
}

._2nhb ._1F92 ._3Qsk ._2egn {
    font-size: 1.2rem;
    color: #828282;
    text-decoration: none;
    margin: 0 7px;
    border-radius: 2px;
    cursor: pointer;
    position: relative;
    line-height: 1.6rem;
    display: inline-block;
    vertical-align: top
}

._2nhb ._1F92 ._3Qsk ._2egn:before {
    content: "|";
    position: absolute;
    top: -2px;
    left: -10px
}

._2nhb ._1F92 ._3Qsk:first-child ._2egn:before {
    content: "|";
    display: none
}

@media (max-width:1024px) {
    ._2nhb {
        width: 1024px
    }
}

._2GMD {
    position: fixed;
    border-radius: 2px;
    background: #fff;
    z-index: 13;
    right: 0;
    bottom: 10%;
    padding: 10px 12px;
    cursor: pointer;
    top: inherit;
    opacity: .8;
    box-shadow: 0 0 8px 0 rgba(0,0,0,.2)
}

._2GMD i {
    color: #9c9c9c;
    font-size: 1rem
}

._2GMD:hover {
    opacity: 1
}

._3xaG {
    display: none
}

._3AxU {
    width: 100%;
    height: 74px;
    padding: 0 4%;
    background: #fff;
    border-bottom: 1px solid #deeaee;
    min-width: 1000px
}

._3AxU,._22in {
    position: relative;
    float: left
}

._22in {
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    margin: -1px 3% 0 0
}

._22in i {
    font-size: 1.6rem;
    color: #494949
}

._3huM {
    float: right;
    width: 348px;
    position: relative;
    margin-top: 29px
}

@media (max-width:1024px) {
    ._3AxU {
        width: 1024px
    }

    ._3huM {
        width: 38%
    }

    ._22in {
        margin: -1px 5% 0 0
    }
}

._2ts1 {
    float: left;
    cursor: pointer;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-right: 3%;
    outline: none;
    text-decoration: none
}

._2ts1 i {
    font-size: 2.7rem
}

._2ts1 img {
    -webkit-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out
}

._3yej {
    width: 156px;
    max-height: 26px;
    text-align: center
}

@media (max-width:1024px) {
    ._2ts1 {
        margin-right: 5%
    }
}

._3HxD {
    width: 46%;
    float: left;
    padding: 6px 8px 8px;
    top: 50%;
    position: relative;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}

._3HxD:hover {
    background-color: #f5f8f9;
    border-radius: 2px
}

._3HxD ._2Ysz {
    position: absolute;
    top: 8px;
    left: 8px;
    font-size: 1.8rem;
    color: #b9b9b9
}

._3HxD ._2IaO {
    display: inline-block;
    margin-left: 15px
}

._3HxD input {
    width: 100%;
    font-size: 1.4rem;
    padding: 0 0 0 35px;
    border: none;
    background-color: transparent
}

._3HxD input:focus {
    outline: none
}

.SA04 {
    font-family: Open Sans,sans-serif;
    font-weight: 400;
    width: 575px;
    top: 50%;
    position: relative;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 10;
    display: inline-block
}

.SA04 input {
    border-width: 0 0 1px;
    font-weight: 400;
    font-size: 14px;
    width: 100%
}

.SA04 input:focus {
    outline: none
}

._3f1M {
    background: #fff;
    position: absolute;
    z-index: 150;
    margin-top: 8px;
    color: #000;
    width: 100%;
    left: 0;
    padding: 11px;
    box-shadow: 0 2px 2px #ddd
}

._3f1M ul {
    padding-left: 0
}

._3f1M ul li {
    margin: 0 0 0 30px;
    display: block;
    font-size: 12px;
    line-height: 18px;
    overflow: hidden;
    padding: 3px 0
}

._3f1M ul li span {
    padding: 2px 0;
    color: #000;
    cursor: pointer
}

._3f1M ul li ul li span {
    border: 1px solid #00b9f5;
    padding: 0 8px 1px;
    border-radius: 20px;
    color: #00b9f5
}

._3f1M ul._1jrs li {
    padding-left: 3px;
    float: left;
    width: 33.3%;
    margin: 0
}

._3f1M ul._1jrs li>div {
    cursor: pointer;
    background: #f5f8f9;
    color: #000;
    padding: 5px
}

._1QNT {
    font-size: 12px;
    font-weight: 800;
    line-height: 1;
    padding: 7px 0
}

._1M8n {
    color: #01b9f5
}

._3K0e {
    cursor: pointer
}

._2jgb {
    width: 20%;
    background: #fff;
    text-align: center;
    margin: 1%;
    vertical-align: top;
    display: inline-block
}

._2jgb img {
    max-height: 40px;
    max-width: 40px
}

._3Lvw {
    width: 72%;
    display: inline-block;
    padding-left: 6%
}

._3Lvw ._1hPg {
    display: block;
    font-size: 10px;
    line-height: 14px;
    color: #000;
    font-weight: 500
}

._3Lvw span.KGtA {
    font-weight: 800;
    padding-top: 5px
}

.WPva {
    float: right
}

@media (max-width:1200px) {
    ._3HxD {
        width: 43%
    }
}

@media (max-width:1024px) {
    ._3HxD {
        width: 40%
    }
}

.fklM {
    cursor: pointer;
    width: 116px;
    top: -12px;
    left: -40px;
    text-align: center;
    position: absolute;
    display: inline-block
}

.fklM ._1gG6 {
    margin-right: 8px;
    margin-top: 9px;
    font-size: 2rem
}

.fklM ._20nV {
    line-height: 1.4;
    display: inline-block;
    width: 78px;
    color: #000;
    text-align: left
}

.fklM ._20nV .VQt2 {
    font-size: 14px;
    font-weight: 600
}

.fklM ._20nV ._3fM- {
    font-size: 12px;
    float: right;
    margin-top: 12px;
    padding-right: 4px
}

.fklM ._20nV ._1RO5 {
    font-size: 10px
}

._2_g6 {
    width: 116px;
    left: 108px;
    top: -12px;
    position: absolute;
    display: inline-block;
    margin-top: 6px;
    cursor: pointer
}

._2_g6 ._2l7f {
    width: 20px;
    height: 23px;
    display: inline-block
}

._2_g6 i {
    font-size: 2.3rem;
    margin-left: -5px
}

._2_g6 ._39Hp {
    padding: 7px 0 0 5px;
    margin-left: 8px;
    font-size: 1.2rem;
    line-height: 1.6rem;
    vertical-align: super;
    width: 70px;
    display: inline-block
}

._2_g6 ._3vET {
    position: absolute;
    width: 22px;
    height: 22px;
    top: -10px;
    right: 83px;
    background: #f8631a;
    font-size: 1.2rem;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    line-height: 2.2rem;
    border: 1px solid #fff
}

._1nni {
    vertical-align: top
}

._3WBR {
    margin-top: -12px
}

._2eTn {
    margin-top: -3px
}

.JGxa {
    max-height: 380px;
    background: #fff;
    box-shadow: 0 0 3px 0 #a1a1a1;
    position: relative;
    width: 405px;
    margin: 15px 0 0 -160px;
    padding: 0 10px 10px;
    top: 0;
    left: 0
}

.JGxa ._2E6P {
    max-height: 250px;
    overflow: auto;
    margin: 10px 0;
    position: relative
}

.JGxa ._2E6P ._1f5L {
    margin-right: 5px;
    padding-bottom: 10px;
    margin-top: 20px;
    border-bottom: 1px dashed #deeaee
}

.JGxa ._2E6P ._1f5L ._3EF5 {
    display: inline-block;
    vertical-align: top
}

.JGxa ._2E6P ._1f5L ._3EF5 ._3nzw {
    width: 52px;
    height: 52px;
    cursor: pointer;
    margin: 0 10px 0 0;
    float: left;
    border: 1px solid #deeaee
}

.JGxa ._2E6P ._1f5L .g7Ay {
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    width: 220px
}

.JGxa ._2E6P ._1f5L .g7Ay h5 {
    text-align: left;
    margin: 0 0 10px;
    font-weight: 500
}

.JGxa ._2E6P ._1f5L .g7Ay h5 a {
    cursor: pointer;
    text-align: left;
    margin-bottom: 10px;
    margin-top: 0;
    font-size: 12px;
    color: #828282;
    text-decoration: none
}

.JGxa ._2E6P ._1f5L .g7Ay ._2IIQ {
    font-size: 12px;
    float: left;
    color: #828282;
    width: 40px;
    text-align: left
}

.JGxa ._2E6P ._1f5L .g7Ay ._3_BT {
    width: 68px;
    border: none;
    background-color: #fff;
    border-bottom: 1px solid rgba(0,0,0,.12);
    padding: 2px 2px 1px;
    font-size: 12px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

.JGxa ._2E6P ._1f5L .g7Ay ._3cyX {
    margin-left: -15px;
    color: #828282
}

.JGxa ._2E6P ._1f5L .g7Ay ._1Dv3 {
    color: #d0021b;
    margin-top: 4px;
    font-size: 12px
}

.JGxa ._2E6P ._1f5L .KYSE {
    font-size: 12px;
    width: 80px;
    text-align: right;
    font-weight: 800;
    display: inline-block;
    vertical-align: top
}

.JGxa ._2E6P ._1f5L .KYSE .qBft {
    margin-top: 25px;
    cursor: pointer
}

.JGxa ._2E6P ._1f5L .KYSE .qBft i {
    font-size: 1.2rem;
    color: #00b9f5
}

.JGxa ._2D1o {
    color: #d0021b;
    font-size: 12px;
    padding: 15px 20px;
    text-align: center;
    line-height: 1.2
}

.JGxa ._1GYC {
    width: 97%;
    background: #00b9f5;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    min-height: 40px;
    border: 0;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button
}

.JGxa ._1JVG {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #eee;
    opacity: .5
}

.JGxa ._1JVG span {
    position: absolute;
    left: 31%;
    top: 40%;
    font-size: 20px
}

._1Vt1 {
    position: absolute;
    top: -12px;
    display: inline-block;
    width: 130px;
    left: 241px
}

._1Vt1 .D2x1 {
    text-decoration: none;
    color: #000
}

._1Vt1 ._3B8E {
    width: 21px;
    height: 30px;
    float: left;
    margin: 0 8px 0 0;
    padding-top: 7px;
    overflow: hidden
}

._1Vt1 ._3B8E i {
    font-size: 2.4rem;
    margin-left: -1px
}

._1Vt1 ._3ac- {
    margin-top: 9px;
    display: inline-block;
    cursor: pointer;
    font-size: 12px
}

._1Vt1 ._34rU {
    float: left;
    margin-top: 12px
}

._3s3i {
    position: fixed;
    top: 35px;
    left: 4%;
    width: 90%;
    min-width: 910px;
    height: 515px;
    margin-left: -14px;
    background: #fff;
    border: 1px solid #eee;
    z-index: 110;
    font-size: 12px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.2)
}

._2Cob {
    width: 20%;
    height: 100%;
    float: left;
    padding: 0;
    margin: 0
}

._1Sq0 {
    width: 100%;
    height: 49px;
    padding: 10px 0 5px 1px;
    border-bottom: 1px solid #eee
}

._3mBv {
    width: 100%;
    overflow: hidden
}

._26bf {
    padding: 10px 0 0 10px;
    height: 458px;
    width: 106%;
    overflow-y: scroll
}

.a4dK {
    padding: 5px 0;
    margin: 0;
    margin-right: 3.7%;
    color: #000;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer
}

._142i {
    border-right: 2px solid #00b9f5;
    color: #00b9f5
}

._38cc {
    margin: auto 12px;
    color: #494949;
    -webkit-transform: translateY(20%);
    transform: translateY(20%)
}

._38cc i {
    font-size: 1.6rem;
    color: #494949
}

._2pDj {
    color: #00b9f5;
    margin-left: 12px;
    font-size: 1.4rem;
    line-height: 1.8rem;
    display: inline-block;
    vertical-align: top
}

.bbKy {
    background: #fff;
    border-left: 1px solid #eee;
    width: 80%;
    height: 100%;
    overflow: hidden;
    z-index: 999
}

.jKBV {
    position: fixed;
    width: 100%;
    top: 0;
    background: #fff;
    -webkit-transition: height 2s;
    transition: height 2s;
    z-index: 99;
    box-shadow: 0 8px 6px -6px #797979;
    -webkit-animation: _3b1v 1s;
    animation: _3b1v 1s;
    overflow: hidden
}

._1-9Z {
    width: 675px;
    text-align: center;
    height: 225px;
    margin: auto
}

._1-9Z .r_lt {
    width: 360px;
    height: 200px;
    float: left;
    margin-top: 11px
}

._1-9Z iframe {
    height: 200px;
    width: 360px;
    frameborder: 0
}

._TFh {
    float: right;
    width: 300px
}

._TFh ._1LG1 {
    font-size: 1.8rem;
    font-weight: 100;
    text-align: center;
    margin-top: 40px
}

._TFh ._3cFk {
    font-size: 33px;
    font-weight: 300;
    margin: 18px 0 28px;
    text-align: center
}

._TFh ._1xY3 {
    background-position: -160px -29px;
    padding: 4px 39px;
    margin-right: 20px;
    margin-left: 80px
}

._TFh ._1xY3,._TFh ._3xto {
    background-image: url("/assets/sprite-icon2x.png");
    background-size: 242px 57px;
    background-repeat: no-repeat;
    width: 78px;
    height: 24px;
    text-align: center;
    cursor: pointer
}

._TFh ._3xto {
    background-position: -79px -29px;
    padding: 4px 40px;
    margin-right: 40px
}

._3EvP {
    position: absolute;
    right: 100px;
    top: 17px;
    cursor: pointer
}

._3EvP i {
    font-size: 2.5rem;
    color: #000
}

@-webkit-keyframes _3b1v {
    0% {
        height: 0
    }

    to {
        height: 225px
    }
}

@keyframes _3b1v {
    0% {
        height: 0
    }

    to {
        height: 225px
    }
}

._1N8k {
    width: 100%;
    float: left;
    background: #f3f7f8
}

._3ejW {
    background: #012b72;
    text-align: left;
    height: 200px
}

._3ejW ._2kcr {
    width: 94%;
    position: relative;
    margin: 0 auto
}

._3ejW ._2kcr ._3CX4 {
    width: 8.333%;
    display: inline-block;
    margin: 8px 0;
    position: relative;
    text-align: center;
    vertical-align: top
}

._3ejW ._2kcr ._3CX4 ._1rUn {
    display: inline-block;
    color: #c2c2c2;
    text-align: center;
    font-size: 24px;
    cursor: pointer
}

._3ejW ._2kcr ._3CX4 ._1rUn ._25Jg {
    position: absolute;
    top: -28px;
    width: 100%;
    z-index: 101;
    left: 0
}

._3ejW ._2kcr ._3CX4 ._1rUn ._25Jg._25Ln {
    z-index: 50
}

._3ejW ._2kcr ._3CX4 ._1rUn ._25Jg .jTOH {
    padding: 2px 3px;
    background-color: #012b72;
    color: #fff;
    font-size: 1rem;
    border-radius: 1px;
    line-height: 12px;
    margin-bottom: 5px;
    font-weight: 600
}

._3ejW ._2kcr ._3CX4 ._1rUn ._3thc {
    height: 24px;
    vertical-align: middle;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

._3ejW ._2kcr ._3CX4 ._1rUn ._160X {
    margin-top: 4px;
    font-size: 12px;
    color: #fff;
    opacity: .5;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap
}

._3ejW ._2kcr ._3CX4 ._1rUn .aMNW {
    margin-top: 7px;
    height: 3px;
    background-color: #00b9f5;
    display: none
}

._3ejW ._2kcr ._3CX4 ._1rUn.SaN4 ._160X {
    opacity: 1
}

._3ejW ._2kcr ._3CX4 ._1rUn.SaN4 .aMNW {
    display: block
}

._3ejW ._2kcr ._3CX4:hover ._160X {
    opacity: 1
}

._3ejW ._2kcr ._3PqY,._3ejW ._2kcr ._3PqY:after,._3ejW ._2kcr ._3PqY:before {
    width: 3px;
    height: 3px;
    border: 1px solid #fff;
    border-radius: 50%;
    background: #fff
}

._3ejW ._2kcr ._3PqY {
    margin: 0 auto;
    position: relative;
    width: 5px;
    height: 5px;
    top: 20px;
    margin-bottom: 35px
}

._3ejW ._2kcr ._3PqY:after {
    content: "";
    position: absolute;
    right: 1px;
    margin: -1px 7px;
    top: 0
}

._3ejW ._2kcr ._3PqY:before {
    content: "";
    position: absolute;
    left: 1px;
    margin: -1px 7px
}

._3ejW ._2kcr ._1sbU {
    background: #fff;
    display: block;
    width: 20rem;
    position: absolute;
    right: -45px;
    top: 44px;
    z-index: 10;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 0 #e2e2e2
}

._3ejW ._2kcr ._1sbU ._3t0b {
    border-bottom: 1px solid #ebebeb;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 16px;
    height: 5rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

._3ejW ._2kcr ._1sbU ._3t0b:hover {
    background: #f5f8f9;
    color: #0e0e0e
}

._3ejW ._2kcr ._1sbU ._3t0b ._10lp {
    height: 24px;
    width: 24px
}

._3ejW ._2kcr ._1sbU ._3t0b ._3-JW {
    text-decoration: none;
    color: #000;
    padding-left: 15px;
    line-height: 4rem;
    font-size: 14px
}

._3ejW ._2kcr ._1sbU:after,._3ejW ._2kcr ._1sbU:before {
    content: "";
    display: block;
    position: absolute;
    left: 75%;
    width: 0;
    height: 0;
    border-style: solid;
    z-index: 11
}

._3ejW ._2kcr ._1sbU:after {
    top: -21px;
    border-color: transparent transparent #fff;
    border-width: 11px
}

._3ejW ._2kcr ._1sbU:before {
    top: -21px;
    border-color: transparent transparent #ddd;
    border-width: 10px
}

._3ejW ._2kcr ._1sbU.nvYt {
    display: none
}

.D8U5 {
    border-radius: 3px;
    box-shadow: 0 0 8px rgba(0,0,0,.05);
    background-color: #fff;
    margin: -124px auto 0;
    padding: 30px 30px 20px
}

.o1l3 {
    color: #7ed321;
    line-height: 1.4rem;
    float: left;
    padding-top: 14px
}

._1TRQ,.o1l3 {
    font-size: 1.2rem
}

._1TRQ {
    background-color: #d9edf7;
    padding: 5px;
    margin-bottom: 5px;
    margin-top: -5px
}

._3i4X {
    font-size: 1.6rem;
    line-height: 1.6rem;
    font-weight: 600;
    color: #333;
    margin: 0 auto 20px
}

._25HB {
    margin-top: -30px
}

._2Qte {
    width: 100%;
    display: inline-block
}

._2nSW {
    width: 80%;
    float: left;
    margin-top: 15px
}

._2NcV {
    width: 20%;
    float: left
}

.OdDe {
    display: inline-block
}

._7U3b,.OdDe,ul._2sqw {
    width: 100%
}

ul._2sqw {
    display: inline-block;
    vertical-align: top;
    padding: 0;
    margin: 0
}

ul._2sqw>li {
    width: 33%;
    float: left;
    margin-top: 10px;
    min-height: 55px;
    padding-right: 3%;
    list-style: none;
    position: relative
}

ul._2sqw>li._37pj {
    padding-top: 15px
}

ul._2sqw>li._37pj ._15Lj {
    position: absolute;
    margin-left: 150px
}

ul._2sqw>li ._3y8H {
    position: absolute;
    width: 130px;
    right: 10%;
    font-size: 1.1rem;
    top: 9px;
    color: #00b9f5;
    text-align: right;
    cursor: pointer
}

._2Y-v ._1zZC {
    display: block;
    margin-bottom: 10px
}

._2Y-v ._1zZC input {
    display: inline-block;
    float: left;
    margin-top: 3px
}

._2Y-v ._1zZC ._3T4z {
    font-weight: 800;
    padding-left: 8px
}

._2Y-v ._1zZC ._3T4z,._2Y-v ._1zZC i {
    font-size: 1.2rem;
    color: #00b9f5;
    display: inline-block;
    vertical-align: top
}

._2Y-v ._1zZC i {
    padding: .2rem 0 0 .8rem
}

._2Y-v ._1zZC .JlU4 {
    font-size: 1.1rem;
    font-style: italic;
    display: block;
    color: #909090;
    padding-left: 24px;
    font-weight: 300;
    min-height: 32px;
    float: left
}

._3MjJ {
    background: #00b9f5;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    margin: 0;
    min-height: 40px;
    text-transform: none;
    padding: 0 15px;
    outline: 0;
    border: 0;
    text-align: center;
    font-weight: 500;
    font-size: 1.4rem;
    width: 100%
}

._3MjJ._2ikI {
    cursor: default!important;
    background: rgba(0,185,245,.43)!important
}

._1iuc {
    padding-top: 12px
}

._1iuc,._1wKV {
    font-size: 1.2rem;
    color: #d0021b
}

._1wKV {
    clear: both
}

._2rzW {
    padding: 0;
    border: none;
    background: none;
    cursor: pointer
}

._3ezG {
    width: 16px;
    height: 16px;
    border: 1px solid #00ca7d;
    border-radius: 50%;
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    margin: 0 5px 0 0
}

._3ezG:before {
    content: "";
    position: absolute;
    width: 7px;
    height: 3px;
    border-left: 1px solid #00ca7d;
    border-bottom: 1px solid #00ca7d;
    top: 4px;
    left: 3px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

._2A9J {
    width: 130px;
    top: 28px
}

._1Gte,._2A9J {
    color: #909090;
    position: absolute;
    right: 10%;
    font-size: 1.1rem;
    text-align: right
}

._1Gte {
    width: 142px;
    top: -1px
}

._1K10 {
    width: 100%
}

._2ESB {
    position: absolute;
    padding-top: 12px;
    z-index: 97;
    display: block!important
}

._2ESB ul._1Y3A {
    width: 322px;
    max-height: 240px;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    background: #fff;
    border: 1px solid #ebebeb
}

._2ESB ul._1Y3A>li {
    width: 100%;
    display: inline-block;
    font-size: 1.6rem;
    border-bottom: 1px solid #ebebeb;
    padding: 6px;
    margin: 0;
    list-style-type: none;
    height: 52px!important
}

._2ESB ul._1Y3A>li span {
    display: inline-block;
    font-weight: 400;
    padding-left: 10px
}

._2ESB ul._1Y3A>li img {
    width: 36px;
    display: inline-block;
    vertical-align: top
}

._2ESB ul._1Y3A>li:last-child {
    border-bottom: none
}

._2QQP {
    background-color: #f6f6f6
}

._1DB1 {
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 0 8px 0 rgba(0,0,0,.05);
    margin: auto;
    margin-top: 16px;
    padding: 30px 30px 20px
}

._1DB1 .Geht {
    font-size: 1.6rem;
    font-weight: 600;
    color: #333;
    line-height: 1.6rem
}

._1DB1 ._1_yq {
    margin: 15px -22px 0
}

._1DB1 ._1_yq ._17WC {
    display: block;
    width: 100%;
    margin: 8px 0;
    text-align: center;
    text-decoration: none
}

._1DB1 ._1_yq ._17WC a {
    text-decoration: none
}

._1DB1 ._1_yq ._17WC ._1tnO {
    display: inline-block;
    cursor: pointer
}

._1DB1 ._1_yq ._17WC ._1tnO ._35yO {
    margin-bottom: 10px
}

._1DB1 ._1_yq ._17WC ._1tnO ._35yO .esCT {
    padding: 2px 3px;
    background-color: #012b72;
    color: #fff;
    font-size: 1rem;
    border-radius: 1px;
    line-height: 12px;
    margin-bottom: 5px;
    font-weight: 600
}

._1DB1 ._1_yq ._17WC ._1tnO ._1s60 {
    max-width: 31px;
    height: 24px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

._1DB1 ._1_yq ._17WC ._1tnO ._1s60:first-child {
    margin-top: 31px
}

._1DB1 ._1_yq ._17WC .KKNr {
    margin-top: 6px;
    font-size: 1.1rem;
    color: #909090;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    max-width: 115px;
    text-overflow: ellipsis
}

._1DB1 ._1_yq ._17WC:hover .KKNr {
    color: #012b72
}

._1lrV {
    position: relative;
    width: 100%
}

img {
    max-width: 100%
}

._16bw {
    width: 36px;
    height: 36px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: #fff;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.08);
    -webkit-transition: all .3s;
    transition: all .3s;
    border-radius: 18px;
    z-index: 5;
    opacity: 1;
    cursor: pointer;
    color: #909090
}

._16bw._2aRv img,._16bw._2xaF img {
    max-width: 100%;
    width: 10px
}

._16bw._2xaF {
    right: -26px
}

._16bw._2xaF span:before {
    content: "\203A";
    font-size: 30px;
    line-height: 20px
}

._16bw._2aRv {
    left: -26px
}

._16bw._2aRv span:before {
    content: "\2039";
    font-size: 30px;
    line-height: 18px
}

._2EKu {
    display: inline-block;
    height: 100%;
    min-height: 1px;
    vertical-align: bottom
}

._3sJ6 {
    height: 100%;
    overflow: hidden
}

._1Z9G {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: visible
}

._1Z9G ._16bw._2aRv,._1Z9G ._16bw._2xaF {
    opacity: 1
}

.IANV {
    height: 100%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

._3c2C {
    margin: 16px auto 0;
    padding: 0;
    border-radius: 3px;
    background-color: #fff;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 8px 0 rgba(0,0,0,.05)
}

._2WQt,._3c2C {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

._2WQt {
    -webkit-box-flex: 4;
    -ms-flex: 4;
    flex: 4;
    width: 40%;
    float: left
}

._3ZLv {
    width: 60%;
    -webkit-box-flex: 6.6;
    -ms-flex: 6.6;
    flex: 6.6;
    margin: 0;
    float: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

._3ZLv._27-k {
    width: 100%
}

._3ZLv ._1_Mr {
    width: 100%;
    display: block;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1
}

._3ZLv ._1_Mr img {
    width: 100%;
    max-width: 100%;
    height: auto;
    position: relative;
    vertical-align: bottom
}

._3ZLv ._2L2g,._3ZLv ._3OYD {
    height: 22px;
    width: 22px;
    background-color: #000;
    color: #fff
}

._3ZLv ._2L2g span:before,._3ZLv ._3OYD span:before {
    font-size: 28px;
    line-height: 18px
}

._3ZLv ._3OYD {
    right: 10px;
    opacity: 0
}

._3ZLv ._3OYD span:before {
    content: "\203A"
}

._3ZLv ._2L2g {
    left: 10px;
    opacity: 0
}

._3ZLv ._2L2g span:before {
    content: "\2039"
}

._3ZLv:hover ._2L2g,._3ZLv:hover ._3OYD {
    opacity: .3
}

._2SmH {
    width: 100%;
    display: table;
    position: relative
}

._2SmH ._1DyK {
    width: 20%;
    float: left;
    height: 85px;
    padding: 15px 10px;
    text-align: center;
    background-color: #fff;
    border-bottom: 3px solid transparent;
    cursor: pointer;
    border-right: 1px solid #ebebeb
}

._2SmH ._1DyK:last-child {
    border-right: none
}

._2SmH ._1DyK ._1JfW {
    font-size: 1.2rem;
    color: #494949;
    display: block;
    width: 98%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

._2SmH ._1DyK ._2DkJ {
    font-size: 1.1rem;
    color: #909090;
    display: block;
    margin-top: 8px
}

._2SmH ._1DyK.ywGk {
    background-color: #fff;
    border-bottom: 3px solid #00b9f5
}

._2SmH ._1DyK.ywGk ._2DkJ {
    color: orange
}

._3gjP {
    width: 50%;
    display: inline-block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

._3gjP:first-child {
    margin-left: 0
}

._3gjP ._3syA {
    width: 100%;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd
}

._3gjP ._3syA:first-child {
    margin-top: 0;
    border-top: none
}

._3gjP ._3syA ._3zME {
    width: 100%;
    height: 100%;
    position: relative
}

._3gjP ._2-gi {
    border-left: 1px solid #ebebeb
}

._34o4 {
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 0 8px 0 rgba(0,0,0,.05);
    margin-top: 16px;
    padding: 10px 8px
}

._34o4 ._3yJc .E7nC {
    display: block;
    margin: 8px 20%;
    text-align: center
}

._34o4 ._3yJc .E7nC,._34o4 ._3yJc .E7nC a {
    text-decoration: none
}

._34o4 ._3yJc .E7nC a ._1H9O {
    min-height: 64px
}

._34o4 ._3yJc .E7nC .FAe8 {
    display: inline-block;
    cursor: pointer
}

._2pgX {
    border-radius: 3px;
    background-color: #fff;
    margin-top: 16px;
    padding: 30px 30px 20px
}

._1_uk {
    box-shadow: 0 0 8px 0 rgba(0,0,0,.05)
}

._1x_x {
    font-size: 1.6rem;
    color: #333;
    margin-left: 0
}

._1AIr,._1x_x {
    line-height: 16px;
    font-weight: 600
}

._1AIr {
    display: inline-block;
    margin-left: 18px;
    position: relative;
    top: -1px
}

._1AIr,._1AIr i {
    font-size: 1.2rem;
    color: #00b9f5
}

._3Dmy {
    margin: 28px -22px 0
}

._3Dmy ._2TUX {
    width: 100%;
    vertical-align: bottom
}

._1GEJ {
    margin-left: 4px
}

._2NXd {
    width: 100%;
    padding: 5px;
    display: inline-block;
    text-align: center;
    position: relative;
    text-decoration: none
}

._2NXd ._343G {
    height: 255px;
    padding: 5px;
    -webkit-transition: -webkit-box-shadow .5s ease-out;
    transition: box-shadow .5s ease-out
}

._2NXd ._343G:hover {
    box-shadow: 0 0 6px #dedede;
    border-radius: 6px
}

._2NXd ._3TSU {
    width: 100%;
    height: 22px
}

._2NXd ._3fGk {
    width: 100%;
    height: 135px;
    margin: 5px 0;
    display: block
}

._2NXd ._3fGk img {
    max-width: 100%;
    width: auto;
    height: auto;
    max-height: 100%
}

._2NXd .wnaE {
    position: relative;
    max-width: 150px;
    font-size: 1rem;
    color: #012b72;
    background: #fff764;
    padding: 3px 11px 3px 5px;
    border: 1px solid #ded215;
    border-radius: 4px;
    z-index: 1;
    white-space: nowrap
}

._2NXd .wnaE:before {
    top: 6px;
    right: -4px;
    width: 6px;
    height: 6px;
    background: #fff;
    border-radius: 50%;
    z-index: 2
}

._2NXd .wnaE:after,._2NXd .wnaE:before {
    content: "";
    position: absolute;
    border: 1px solid #ded215
}

._2NXd .wnaE:after {
    top: 2px;
    right: -8px;
    width: 16px;
    height: 16px;
    background: #fff764;
    border-left: none;
    border-bottom: none;
    border-radius: 4px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: 1
}

._2NXd ._2mza {
    font-size: 1.2rem;
    color: #494949;
    line-height: 1.8rem;
    height: 3.6rem;
    padding: 0 0 0 5px;
    overflow: hidden;
    word-break: break-word;
    word-wrap: break-word;
    white-space: normal
}

._2NXd ._11Dh {
    width: 100%;
    display: block;
    padding: 10px 0 0 5px
}

._2NXd ._3ZIv {
    font-size: 1.4rem;
    color: #000;
    font-weight: 700;
    display: inline-block
}

._2NXd ._2c_K {
    color: #727272;
    text-decoration: line-through
}

._2NXd ._2c_K,._2NXd ._2gUN {
    font-size: 1.2rem;
    display: inline-block;
    padding-left: 10px
}

._2NXd ._2gUN {
    color: orange
}

._2NXd ._1cw6 {
    font-size: 1.4rem;
    color: #494949;
    display: inline-block;
    padding-right: 5px
}

._1VDL {
    border-radius: 3px;
    background-color: #fff;
    margin-top: 16px
}

._31xq {
    display: inline-block;
    width: 25%;
    padding: .2rem
}

._1T5m {
    padding: 0;
    margin-top: 15px
}

.Rh98 {
    padding: 30px 30px 20px
}

._3CgK {
    color: #333;
    font-size: 1.6rem;
    line-height: 1.6rem;
    font-weight: 600
}

._2oLo {
    min-height: 120px
}

.J3FT {
    width: 94%;
    padding: 25px 0;
    margin: 15px 3% 0;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 0 8px 0 rgba(0,0,0,.05)
}

._2H-U {
    width: 25%;
    display: inline-block;
    padding: 0 10px;
    text-align: center;
    vertical-align: top
}

._2H-U i {
    font-size: 2.4rem;
    color: #828282
}

._2H-U ._35u5 {
    font-size: 1.8rem
}

.hyQe {
    font-size: 1.4rem;
    font-weight: 600;
    padding: 10px 0
}

._26pb,.hyQe {
    color: #828282
}

._26pb {
    font-size: 1.2rem
}

._26pb a {
    color: #00b9f5
}

._1ExV {
    width: 94%;
    margin: 15px 3%;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 0 8px 0 rgba(0,0,0,.05);
    font-size: 1rem;
    padding: 6px 10px;
    color: #828282
}

._2QZP,._2RHx,._3yCU {
    width: 100%;
    float: left
}

._2QZP,._3yCU {
    padding: 10px 3%;
    background: #012b72
}

._2QZP ._2LhZ,._3yCU ._2LhZ {
    float: left
}

._2QZP ._2LhZ a,._3yCU ._2LhZ a {
    font-size: 1.2rem;
    color: #fff!important;
    font-weight: 600;
    margin-left: 15px;
    text-decoration: none
}

._2QZP ._2LhZ a:first-child,._3yCU ._2LhZ a:first-child {
    margin-left: 0
}

._2QZP ._2LhZ a:hover,._3yCU ._2LhZ a:hover {
    color: #00b9f5!important
}

._2QZP ._1afe,._3yCU ._1afe {
    float: right
}

._2QZP ._1afe i,._3yCU ._1afe i {
    color: hsla(0,0%,100%,.6)
}

._2QZP ._1afe ._2XC0,._3yCU ._1afe ._2XC0 {
    font-size: 1.7rem
}

._2QZP ._1afe ._3dib,._3yCU ._1afe ._3dib {
    font-size: 1.3rem
}

._2QZP ._1afe ._7qWw,._2QZP ._1afe ._39Ix,._3yCU ._1afe ._7qWw,._3yCU ._1afe ._39Ix {
    font-size: 1.7rem
}

._2QZP ._1afe ._2U1Z,._3yCU ._1afe ._2U1Z {
    font-size: 1.8rem
}

._2QZP ._1afe ._3Iep,._3yCU ._1afe ._3Iep {
    font-size: 1.3rem
}

._2QZP ._1afe .adUs,._3yCU ._1afe .adUs {
    font-size: 2rem
}

._2QZP ._1afe ._1oXN,._3yCU ._1afe ._1oXN {
    font-size: 1.7rem
}

._2QZP ._1afe ._2a_O,._3yCU ._1afe ._2a_O {
    font-size: 1.5rem
}

._2QZP ._1afe a,._3yCU ._1afe a {
    font-size: 1.8rem;
    color: #fff!important;
    padding: 5px 10px;
    text-decoration: none;
    opacity: .6
}

._2QZP ._1afe a:hover i,._3yCU ._1afe a:hover i {
    color: #fff
}

._2QZP ._1afe .z7-a,._3yCU ._1afe .z7-a {
    border-right: 1px solid #fff;
    padding: 0;
    margin: 0 10px;
    opacity: .6
}

._2QZP {
    background: #fff!important
}

.Sk-H {
    margin-top: 10px
}

.Sk-H .DHtu {
    float: left
}

.Sk-H .DHtu i {
    font-size: 1.1rem;
    padding-left: 10px
}

.Sk-H .DHtu i:first-child {
    padding-left: 0
}

.Sk-H .DHtu ._3wbm {
    font-size: 1.1rem;
    color: #000;
    font-weight: 600;
    padding: 0 0 0 15px;
    vertical-align: text-top
}

.Sk-H ._2xws {
    float: right
}

.Sk-H ._2xws ._33nf {
    margin-right: 5px
}

.Sk-H ._2xws ._33nf,.Sk-H ._2xws a {
    width: 105px;
    height: 42px;
    font-size: 1.1rem;
    color: #000!important;
    float: left;
    padding: 5px;
    text-decoration: none;
    border: 1px solid #deeaee;
    cursor: pointer
}

.Sk-H ._2xws ._33nf ._2PzZ,.Sk-H ._2xws a ._2PzZ {
    font-weight: 600;
    line-height: 1rem;
    display: block;
    white-space: nowrap
}

.Sk-H ._2xws a+a {
    width: 108px;
    margin-left: 10px;
    padding: 3px 5px
}

._1mRB {
    width: 100%;
    float: left
}

._1mRB ._1nt6 {
    font-size: 1.1rem;
    color: #f5a623;
    float: left;
    padding-right: 15px
}

._1mRB ._2Pp1 {
    width: 680px;
    float: left;
    font-size: 1.1rem;
    color: #828282
}

._1mRB ._2Pp1 a {
    font-size: 1.1rem;
    color: #00b9f5
}

._2f9z {
    width: 100%;
    float: left;
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid #deeaee
}

._2f9z .Ufob {
    width: 25%;
    float: left;
    min-height: 156px;
    max-height: 230px;
    padding-right: 25px;
    margin-bottom: 20px
}

._2f9z .Ufob .wQJK {
    position: relative;
    padding-left: 10px
}

._2f9z .Ufob .wQJK:first-child {
    padding-left: 0!important
}

._2f9z .Ufob .wQJK:before {
    content: "|";
    position: absolute;
    top: -2px;
    left: 2px
}

._2f9z a {
    font-size: 11px;
    color: #828282;
    text-decoration: none
}

._2f9z a:hover {
    color: #00b9f5
}

._2f9z a._1KrF {
    color: #000!important;
    display: block;
    margin-bottom: 10px
}

._2f9z a.JYpj {
    color: #00b9f5!important;
    padding-left: 5px
}

._2raK {
    width: 94%;
    font-size: 1.1rem;
    padding: 15px 15px 0;
    margin: 15px 3%;
    color: #828282;
    overflow: hidden;
    clear: both;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 0 8px 0 rgba(0,0,0,.05)
}

._2raK h2 {
    font-size: 1.4rem;
    color: #000;
    font-weight: 600;
    padding: 0 0 20px;
    margin: 0
}

._2raK a {
    font-size: 1.1rem;
    color: #00b9f5;
    text-decoration: none
}

._2raK p {
    font-size: 1.1rem;
    padding: 0 0 10px;
    margin: 0
}

._20PO {
    vertical-align: top
}

._24Kq {
    background-image: url("/assets/sprite-icon2x.png");
    background-size: 242px 57px;
    background-repeat: no-repeat;
    display: inline-block
}

._1l73 {
    width: 28px;
    height: 13px;
    background-position: -52px 0
}

._190x {
    width: 35px;
    background-position: -92px 0
}

._190x,.jWav {
    height: 13px;
    margin-left: 10px
}

.jWav {
    width: 32px;
    background-position: -132px 0
}

._1AUd {
    width: 40px;
    height: 13px;
    background-position: -1px 0
}

._1AUd,._2RCB {
    margin-left: 10px
}

._2RCB {
    width: 39px;
    height: 12px;
    background-position: -174px 0
}

._2tHN {
    width: 16px;
    height: 15px;
    margin-left: 10px;
    background-position: -223px 0
}

._15j9 {
    width: 34px;
    height: 11px;
    margin: 0 5px -1px 0;
    background-position: -30px -18px
}

._23Kp {
    width: 17px;
    height: 17px;
    margin: 0 5px 0 0;
    background-position: -1px -18px
}

@media (max-width:1024px) {
    ._2QZP,._3yCU {
        width: 1024px
    }

    ._1afe,._2LhZ {
        width: 100%;
        text-align: center;
        padding: 5px 0
    }
}

._1AkQ {
    position: relative;
    width: 715px;
    height: 435px;
    background: #fff;
    box-shadow: 0 0 15px 6px rgba(0,0,0,.1)
}

._1AkQ .TSZy {
    z-index: 0;
    height: 0;
    float: left
}

._1AkQ .TSZy ._1xtz {
    margin: 20px 200px 200px 290px;
    font-size: 15px
}

._1AkQ .TSZy ._3ot5 {
    width: 100px;
    height: 100px;
    margin-top: 140px;
    margin-left: 305px
}

._3i6R {
    color: #00b9f5;
    line-height: 25px;
    position: absolute;
    right: 10px;
    text-align: center;
    top: 5px;
    width: 24px;
    font-size: 20px;
    text-decoration: none;
    font-weight: 700;
    cursor: pointer
}

html {
    font-family: Open Sans,arial,tahoma,verdana,sans-serif;
    font-size: 62.5%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased
}

body,html {
    line-height: 1.5
}

body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    font-size: 1.4rem;
    font-weight: 400;
    background: #f3f7f8;
    min-width: 1000px
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
    cursor: pointer;
    text-decoration: none
}

a:active,a:hover {
    outline-width: 0
}

b,strong {
    font-weight: inherit;
    font-weight: bolder
}

sub,sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

img {
    border-style: none;
    max-width: 100%
}

svg:not(:root) {
    overflow: hidden
}

button,input,optgroup,select,textarea {
    font: inherit;
    margin: 0
}

button,input {
    overflow: visible
}

button,select {
    text-transform: none
}

[type=reset],[type=submit],button,html [type=button] {
    -webkit-appearance: button
}

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em
}

[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

:focus {
    outline: none
}

* {
    box-sizing: border-box
}

iframe {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline
}

._38G2 {
    background: #fff;
    padding: 20px;
    position: relative;
    border-radius: 4px;
    box-shadow: 0 0 15px 6px rgba(0,0,0,.1);
    width: 465px
}

.v8XN {
    font-size: 14px;
    color: #000;
    font-weight: 600;
    padding: 0 0 20px
}

._1jBO {
    font-size: 13px;
    color: #121212
}

._1Z0W {
    background: #00b9f5;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    margin: 0;
    min-height: 40px;
    box-shadow: none;
    text-transform: none;
    padding: 0 15px;
    outline: 0;
    border: 0;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    width: 100%
}

._2yJO {
    width: 150px
}

._2AV6 {
    text-align: right
}

._8P3z {
    color: #00b9f5;
    font-size: 12px
}

.WDeS {
    border-width: 0 0 1px;
    border-color: rgba(0,0,0,.12);
    width: 100%
}

.gVnY {
    margin: 25px 0 0
}

.upVI {
    margin: 10px 0
}

._2MaZ {
    color: #7ed321
}

._3mHD {
    color: #d0021b
}

._1xq2,.nXiD {
    font-size: 12px
}

._1xq2 {
    color: #828282;
    margin: 30px 15px 0 0;
    text-decoration: underline;
    cursor: pointer;
    position: absolute;
    right: 0
}

._1xq2:hover {
    color: #00b9f5
}

.bsO2 {
    position: relative
}
