#epb-ok {
    float: left;
    cursor: pointer;
    background-color: #4d90fe;
    background-image: -moz-linear-gradient(top,#4d90fe,#4787ed);
    border: 1px solid #3079ed;
    border-radius: 2px;
    color: #fff;
    cursor: default;
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    height: 20px;
    line-height: 20px;
    margin-right: 0px;
    min-width: 26px;
    outline: 0;
    padding: 0 8px;
    text-align: center;
    white-space: nowrap
}

#epb-ok:hover {
    cursor: pointer;
    background-color: #357ae8;
    background-image: -moz-linear-gradient(top,#4d90fe,#357ae8);
    border: 1px solid #2f5bb7;
    border-bottom-color: 2f 5bb 7
}

#epb-ok:active {
    background: #357ae8;
    border: 1px solid #2f5bb7;
    border-top: 1px solid #2f5bb7;
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.3)
}

#epb-ok:focus {
    border: 1px solid #fff;
    border: 1px solid rgba(0,0,0,0);
    -moz-box-shadow: inset 0 0 0 1px #fff;
    outline: none
}

#epb-notice {
    float: left;
    padding: 3px 10px 0 0;
}

.cookie-line {
    width: 610px;
    margin: 0 auto;
    position: relative;
    top: -40px;
}

* {
    margin: 0
}

html,body {
    height: 100%
}

.container {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0
auto -351px;
    position: relative;
    z-index: 1
}

.stickyFooter {
    position: relative;
    z-index: 1
}

.stickyFooter,.push {
    height: 351px
}

.containerNoWidget {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0
auto -152px;
    position: relative
}

.stickyFooterNoWidget {
    position: relative;
    z-index: 1
}

.pushNoWidget {
    height: 152px
}

.stickyFooterNoWidget,
.stickyFooterNoWidget
.footer {
    height: 112px
}

.container,.containerNoWidget,.stickyFooter,.stickyFooterNoWidget {
    min-width: 940px
}

.styled {
    display: none;
    position: absolute;
    z-index: -1000;
    left: -1000px;
    top: -1000px
}

div.radio {
    padding: 5px
0 0 0
}

.radio,
.radio
label {
    cursor: pointer;
    line-height: 18px !important
}

span.radio {
    position: relative;
    top: 3px;
    display: block;
    width: 13px;
    height: 13px;
    line-height: 13px !important;
    font-size: 1px;
    background: url('http://cdnrep.reimage.com/website/newwebsite/radio.gif') no-repeat left top;
    float: left;
    margin: 0
8px 0 0
}

div.file {
}

input.file {
    border: solid 1px #929292;
    height: 15px;
    padding: 6px
7px;
    direction: ltr;
    display: none
}

input.fileInput {
    margin: 0
0 0 5px
}

input.select {
    border: solid 1px #929292;
    border-right: none;
    height: 15px;
    padding: 6px
7px;
    direction: ltr;
    display: none
}

.selectWrapper
.options {
    background: #fff;
    border: solid 1px #696969;
    padding: 4px
0;
    overflow: auto;
    max-height: 150px
}

.selectWrapper .options a,
.selectWrapper .options a:hover {
    display: block;
    line-height: 17px;
    height: 17px;
    background: #fff;
    text-decoration: none;
    color: #595959;
    padding: 0
7px;
    font-weight: normal
}

.selectWrapper .options a:hover {
    background: #60a5ab;
    color: #fff
}

body {
    font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
    font-size: 12px;
    color: #595959;
    margin: 0;
    padding: 0;
    background: #fff
}

input,textarea {
    font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
    font-size: 12px;
    color: #595959
}

h1 {
    margin: 0
0 19px 0;
    font-size: 29px;
    color: #60a5ab;
    padding: 0;
    display: inline-block
}

h2 {
    margin: 0
0 16px 0;
    font-size: 20px;
    color: #60a5ab;
    padding: 0
}

h2
span {
    color: #595959;
    position: relative;
    top: 0px;
    font-size: 20px
}

h3 {
    margin: 0
0 7px 0;
    font-size: 14px;
    color: #3c3c3c;
    padding: 0
}

h3.first {
    padding: 3px
0 0 0
}

h4 {
    margin: 0
0 5px 0;
    font-size: 14px;
    color: #3c3c3c;
    padding: 0
0 7px 0;
    border-bottom: solid 3px #bfbfbf
}

h5 {
    margin: 0
0 7px 0;
    font-size: 12px;
    color: #3c3c3c;
    padding: 5px
0 0 0;
    font-weight: bold
}

h6 {
    margin: 0
0 7px 0;
    font-size: 12px;
    color: #3c3c3c;
    padding: 5px
0 0 0;
    font-weight: bold
}

p {
    margin: 0
0 18px 0;
    line-height: 18px
}

p.first {
    padding: 2px
0 0 0
}

p.last {
    margin: 0
}

p.ul {
    margin-bottom: 6px
}

ul,ol {
    margin: 0
0 17px 31px;
    padding: 0;
    line-height: 18px
}

ul.last {
    margin-bottom: 0
}

ul.notitle {
    margin-left: 14px
}

ul.alpha {
    list-style: lower-alpha
}

ul.links {
    list-style: none;
    margin: 0
}

ul.special
li {
    padding: 0
0 6px 0
}

ul.bullet {
    margin: 0;
    list-style: none
}

ul.bullet
li {
    padding: 0
0 6px 0
}

div.last {
    padding-bottom: 0
}

a,a:hover {
    text-decoration: underline;
    color: #595959
}

a:hover {
    text-decoration: none
}

a:active {
    border: none;
    outline: none
}

:focus {
    -moz-outline-style: none
}

a:focus,input:focus {
    outline: none
}

a
img {
    border: none
}

.bodyRelative {
    position: relative
}

.bodyContent a,
.bodyContent a:hover {
    color: #418d94;
    font-weight: bold
}

.content {
    width: 940px;
    margin: 0
auto
}

.clear {
    clear: both
}

.hide {
    display: none
}

.header {
    height: 62px;
    background: #d6d6d6 url('http://cdnrep.reimage.com/website/newwebsite/header_bg.gif') repeat-x bottom;
    margin: 0
0 14px 0
}

.logo {
    width: 330px;
    float: left;
    margin: 14px
0 0 0
}

a.reimage_logo,a.reimage_logo:hover {
    text-decoration: none;
    background: url('http://cdnrep.reimage.com/website/newwebsite/reimage.png') no-repeat;
    display: block;
    width: 139px;
    height: 37px;
    float: left
}

.logo_desc {
    background: url('http://cdnrep.reimage.com/website/newwebsite/logo_desc.png') no-repeat;
    width: 179px;
    height: 20px;
    margin: 10px
0 0 149px
}

.safecharge-header {
    background: url('https://cdnrep.reimage.com/website/newwebsite/pricing-mac/safecharge-header.png') no-repeat;
    float: right;
    width: 123px;
    height: 34px;
    margin-top: 10px
}

.seal {
    float: right;
    margin-right: 10px;
    margin-top: 10px
}

.norton {
    margin: 0
}

.sub_header {
    padding: 0
0 15px 0
}

.download_reimage {
    float: right;
    width: 435px;
    _width: 448px
}

.download_reimage a,
.download_reimage a:hover {
    display: block;
    width: 154px;
    height: 31px;
    background: url('http://cdnrep.reimage.com/website/newwebsite/header_css.png') no-repeat;
    text-decoration: none
}

.download_reimage a:hover {
    background: url('http://cdnrep.reimage.com/website/newwebsite/header_css.png') no-repeat left -31px
}

.upperGoogle1 {
    float: left;
    width: 45px;
    padding: 7px;
    _width: 45px
}

.upperFacebook {
    float: left;
    width: 200px;
    padding: 5px
}

.downloadInner {
    float: right
}

.lowerRap {
    width: 600px;
    margin: 20px
auto 0
}

.lowerRapper {
    width: 940px;
    margin: 20px
auto 0
}

.lowerCategory {
    width: 880px;
    margin: 20px
auto 0
}

.lowerGoogle1 {
    float: left;
    width: 50px;
    padding: 5px
}

.lowerFacebook {
    margin-left: 60px;
    width: 590px
}

.noFacebook {
    width: 124px
}

.header-callcenter {
    float: right;
    margin-top: 20px;
    font-size: 14px
}

.menu {
    float: right;
    padding: 0
5px 0 0
}

.reimage_menu
ul {
    padding: 0
}

.reimage_menu {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: bold
}

.reimage_menu
li {
    float: left;
    list-style: none;
    margin: 0
11px 0 0;
    position: relative;
    z-index: 999
}

.reimage_menu li
a {
    display: block;
    text-decoration: none;
    height: 62px;
    line-height: 62px;
    white-space: nowrap;
    padding: 0
8px;
    color: #929292
}

.reimage_menu li a:hover {
    background: url('http://cdnrep.reimage.com/website/newwebsite/menu/menu_hover.gif') repeat-x;
    color: #418d94
}

.reimage_menu li a
span {
    display: block
}

.reimage_menu li a:hover
span {
    background: url('http://cdnrep.reimage.com/website/newwebsite/menu/menuArrow.gif') no-repeat center bottom
}

.reimage_menu li
a.selected {
    background: url('http://cdnrep.reimage.com/website/newwebsite/menu/menu_hover.gif') repeat-x;
    color: #418d94
}

.reimage_menu li a.selected
span {
    background: url('http://cdnrep.reimage.com/website/newwebsite/menu/menuArrow.png') no-repeat center bottom
}

.reimage_menu li
div.subMenu {
    visibility: hidden;
    position: absolute;
    left: -100px;
    top: 56px;
    z-index: 1000
}

.t,.f {
    height: 10px;
    line-height: 10px;
    font-size: 1px;
    clear: both
}

.t .l, .t
.r {
    width: 10px;
    float: left;
    background: url('http://cdnrep.reimage.com/website/newwebsite/menu/corner.png') no-repeat top left;
    margin: -10px 0 0 0
}

.t
.r {
    float: right;
    background: url('http://cdnrep.reimage.com/website/newwebsite/menu/corner.png') no-repeat top right
}

.t
.m {
    margin: 0
10px;
    background: url('http://cdnrep.reimage.com/website/newwebsite/menu/repeat-x.png') repeat-x top
}

.f .l, .f
.r {
    width: 10px;
    float: left;
    background: url('http://cdnrep.reimage.com/website/newwebsite/menu/corner.png') no-repeat bottom left;
    margin: -10px 0 0 0
}

.f
.r {
    float: right;
    background: url('http://cdnrep.reimage.com/website/newwebsite/menu/corner.png') no-repeat bottom right
}

.f
.m {
    margin: 0
10px;
    background: url('http://cdnrep.reimage.com/website/newwebsite/menu/repeat-x.png') repeat-x bottom
}

.mL {
    background: url('http://cdnrep.reimage.com/website/newwebsite/menu/repeat-y.png') repeat-y left
}

.mR {
    background: url('http://cdnrep.reimage.com/website/newwebsite/menu/repeat-y.png') repeat-y right
}

.mC {
    background: #fff;
    margin: 0
6px;
    padding: 0
4px
}

.reimage_menu li
ul {
    background: #fff;
    margin: 0
}

.reimage_menu li ul
li {
    margin: 0;
    float: none;
    display: block;
    border-bottom: solid 1px #dcdcdc;
    text-align: center
}

.reimage_menu
li.arrow {
    position: absolute;
    width: 35px;
    height: 20px;
    line-height: 20px;
    top: -14px;
    border: 0;
    font-size: 1px;
    background: url('http://cdnrep.reimage.com/website/newwebsite/menu/menuArrow.gif') no-repeat center
}

.reimage_menu li ul
li.last {
    border: none
}

.reimage_menu li ul li
a {
    background: #fff;
    height: 29px;
    line-height: 29px;
    color: #418d94;
    padding: 0
17px
}

.reimage_menu li ul li a:hover {
    background: #60a5ab;
    color: #fff
}

.breadcrumb {
    height: 31px;
    line-height: 31px
}

.breadcrumb
.title {
    font-weight: bold;
    float: left;
    margin: 0
10px 0 0
}

.breadcrumb
span {
    font-weight: bold;
    color: #418d94
}

.footer {
    background: #dbdbdb url('http://cdnrep.reimage.com/website/newwebsite/footer_bg.gif') repeat-x;
    margin: 40px
0 0 0;
    height: 112px
}

.footer
.content {
    text-align: center;
    font-size: 11px;
    color: #807f7f
}

.footer
.copyright {
    padding: 22px
0 23px 0
}

.footer
.copyFirst {
    padding: 22px
0 10px 0
}

.footer
.copySec {
    padding: 0
0 5px 0
}

.footer
.partner {
    padding: 0
0 15px 0
}

.footer
.partnerNew {
    padding: 5px
0 0 40px;
    display: inline-block;
    width: 305px
}

.footer .partner
a {
    margin: 0
16px 0 0
}

.trusteLink {
    position: relative;
    top: 0px
}

.trustediv {
    float: left;
    display: none
}

.mcafeediv {
    float: left
}

.nortondiv {
    float: left;
    position: relative;
    top: -8px
}

.patent-footer {
    float: left;
    background: url("http://cdnrep.reimage.com/website/newwebsite/patent-footer.png") no-repeat;
    width: 80px;
    height: 28px;
    margin-top: 2px !important
}

.bodyContent {
}

.block {
    clear: both;
    padding: 0
0 37px 0
}

.blockEmpty {
    padding: 0
0 6px 0
}

.blockLast {
    padding: 0
}

.block
.left {
    float: left;
    width: 180px;
    vertical-align: top;
    padding: 6px
0 0 0
}

.block
.right {
    margin: 0
0 0 180px;
    vertical-align: top
}

.block
.innerLefter {
    width: 175px
}

.block .right
.firstImage {
    margin-top: 30px
}

.block .right
.secImage {
    margin-top: 50px
}

.block .right
.financial {
    float: left;
    width: 350px
}

.financial div b,
.rnd div
b {
    font-size: 14px
}

.block .right
.rnd {
    margin: 0
0 0 400px
}

.plus {
    background: url('http://cdnrep.reimage.com/website/newwebsite/plus.png') no-repeat;
    padding: 0
0 0 25px
}

.boxes {
    clear: both;
    padding: 67px
0 0 0;
    height: 132px
}

.boxWithBanner {
    padding-top: 0
}

.boxes a,
.boxes a:hover {
    color: #418d94;
    font-weight: bold
}

.boxes
.boxContent {
    line-height: 18px
}

.boxes .pic
.boxContent {
    padding: 0
0 0 116px;
    height: 100px
}

.boxes
.box {
    float: left;
    margin: 0
20px 0 0
}

.boxes
.last {
    margin: 0
}

.boxes4
.box {
    width: 220px
}

.boxes3
.box {
    width: 300px
}

.boxes2
.box {
    width: 370px
}

.boxes2 {
    padding-left: 180px
}

.boxes2 .box
.boxContent {
    padding-right: 5px
}

.how_works
.boxContent {
    background: url('http://cdnrep.reimage.com/website/newwebsite/boxes/how_reimage_works.png') no-repeat left 5px
}

.purchase
.boxContent {
    background: url('http://cdnrep.reimage.com/website/newwebsite/boxes/purchase.png') no-repeat left 5px
}

.reimage_can_fix
.boxContent {
    background: url('http://cdnrep.reimage.com/website/newwebsite/boxes/reimage_can_fix.png') no-repeat left 5px
}

.reimage_news
.boxContent {
    background: url('http://cdnrep.reimage.com/website/newwebsite/boxes/reimage_news.png') no-repeat left 5px
}

.biography
.boxContent {
    background: url('http://cdnrep.reimage.com/website/newwebsite/boxes/biography.png') no-repeat left 5px
}

.latest_version
.boxContent {
    background: url('http://cdnrep.reimage.com/website/newwebsite/boxes/latest_version.png') no-repeat left 5px
}

.who_is_reimage
.boxContent {
    background: url('http://cdnrep.reimage.com/website/newwebsite/boxes/who_is_reimage.png') no-repeat left 5px
}

.fan_mail
.boxContent {
    background: url('http://cdnrep.reimage.com/website/newwebsite/boxes/fan_mail.png') no-repeat left 5px
}

.reimage_awards
.boxContent {
    background: url('http://cdnrep.reimage.com/website/newwebsite/boxes/reimage_awards.png') no-repeat left 5px
}

.press_release
.boxContent {
    background: url('http://cdnrep.reimage.com/website/newwebsite/boxes/reimage_in_the_press.jpg') no-repeat left 5px
}

.press_release
.boxContent {
    background: url('http://cdnrep.reimage.com/website/newwebsite/boxes/reimage_in_the_press.jpg') no-repeat left 5px
}

.careers
.boxContent {
    background: url('http://cdnrep.reimage.com/website/newwebsite/boxes/careers.png') no-repeat left 5px
}

.contact_us
.boxContent {
    background: url('http://cdnrep.reimage.com/website/newwebsite/boxes/contact_us.jpg') no-repeat left 5px
}

.stability
.boxContent {
    background: url('http://cdnrep.reimage.com/website/newwebsite/boxes/stability.png') no-repeat left 5px
}

.security
.boxContent {
    background: url('http://cdnrep.reimage.com/website/newwebsite/boxes/security.png') no-repeat left 5px
}

.pc_tips
.boxContent {
    background: url('http://cdnrep.reimage.com/website/newwebsite/boxes/pc_tips.jpg') no-repeat left 5px
}

.submit_ticket
.boxContent {
    background: url('http://cdnrep.reimage.com/website/newwebsite/boxes/submit_ticket.png') no-repeat left 5px
}

.sys_req
.boxContent {
    background: url('http://cdnrep.reimage.com/website/newwebsite/boxes/system_requirements.png') no-repeat left 5px
}

.pricing_boxes {
    height: 213px;
    padding-top: 58px
}

.pricing_boxes
.box {
    padding: 91px
0 0 0
}

.pricing_boxes .box
.boxContent {
    padding: 0
}

.pricing_boxes
.pricing_license {
    background: url('http://cdnrep.reimage.com/website/newwebsite/boxes/license.png') no-repeat top center
}

.pricing_boxes
.pricing_money {
    background: url('http://cdnrep.reimage.com/website/newwebsite/boxes/money.jpg') no-repeat top center
}

.pricing_boxes
.pricing_support {
    background: url('http://cdnrep.reimage.com/website/newwebsite/boxes/support.jpg') no-repeat top center
}

.pricing_boxes
.pricing_privacy_policy {
    background: url('http://cdnrep.reimage.com/website/newwebsite/boxes/privacy_policy.jpg') no-repeat top center
}

.independence_boxes {
    height: 250px;
    padding-top: 40px
}

.pricing_boxes
.pricing_license_independence {
    background: url('http://cdnrep.reimage.com/website/newwebsite/pricing/independence/pricing_id.png') no-repeat top center;
    padding: 140px
0 0 0;
    height: 100px
}

.pricing_boxes
.pricing_money_independence {
    background: url('http://cdnrep.reimage.com/website/newwebsite/pricing/independence/money_id.png') no-repeat top center;
    padding: 140px
0 0 0;
    height: 100px
}

.pricing_boxes
.pricing_support_independence {
    background: url('http://cdnrep.reimage.com/website/newwebsite/pricing/independence/support_id.png') no-repeat top center;
    padding: 140px
0 0 0;
    height: 100px
}

.pricing_boxes
.pricing_privacy_policy_independence {
    background: url('http://cdnrep.reimage.com/website/newwebsite/pricing/independence/privacy_id.png') no-repeat top center;
    padding: 140px
0 0 0;
    height: 100px
}

.abtest_boxes {
    height: 160px
}

.abtest_boxes
.boxAB {
    padding: 0
}

.pricing_boxes
.pricing_password {
    background: url('http://cdnrep.reimage.com/website/newwebsite/boxes/password.png') no-repeat top center
}

.leading_company
.boxContent {
    background: url('http://cdnrep.reimage.com/website/newwebsite/boxes/leading_company.png') no-repeat left 4px
}

.techcrunch
.boxContent {
    background: url('http://cdnrep.reimage.com/website/newwebsite/boxes/techcrunch_home.png') no-repeat left 4px
}

.daily
.boxContent {
    background: url('http://cdnrep.reimage.com/website/newwebsite/boxes/daily_home.png') no-repeat left 4px
}

.pcworld
.boxContent {
    background: url('http://cdnrep.reimage.com/website/newwebsite/boxes/pcworld_home.png') no-repeat left 4px
}

.fox8
.boxContent {
    background: url('http://cdnrep.reimage.com/website/newwebsite/boxes/fox8_home.png') no-repeat left 4px
}

.stability_os
.stability_os_pic {
    height: 111px;
    padding: 11px
0 0 0;
    text-align: center
}

.stability_os
.stability_os_pic2016 {
    height: 111px;
    padding: 0
0 11px 0;
    text-align: center
}

.stability_os
.stability_link {
    padding: 7px
0 0 0
}

.error_404 {
    background: url('http://cdnrep.reimage.com/website/newwebsite/errors/404.png') no-repeat right 53px;
    padding: 19px
0 30px 0;
    width: 863px
}

.error_404
h1 {
    font-size: 120px;
    margin-left: -11px;
    height: 154px
}

.error_404 h1
b {
    float: left
}

.error_404 h1
span {
    float: left;
    font-size: 45px;
    font-weight: bold;
    display: block;
    margin: 21px
0 0 9px
}

.error_500 {
    background: url('http://cdnrep.reimage.com/website/newwebsite/errors/500.png') no-repeat right 27px;
    padding: 123px
0 100px 90px;
    width: 760px
}

.error_500
h1 {
    font-size: 50px;
    margin: 0
0 4px 0
}

.error_500 h1
span {
    font-size: 30px;
    display: block;
    font-weight: bold;
    position: relative;
    top: -4px
}

.error_500
p {
    font-size: 20px;
    font-weight: bold;
    line-height: normal
}

.error_maintenance {
    background: url('http://cdnrep.reimage.com/website/newwebsite/errors/maintenance.png') no-repeat right 27px;
    padding: 114px
0 170px 60px;
    width: 820px
}

.error_maintenance
h1 {
    font-size: 30px;
    margin: 0
0 12px 0
}

.error_maintenance
p {
    font-size: 20px;
    font-weight: bold
}

.errorspace {
    padding-bottom: 105px
}

.banner {
    padding: 0
0 60px 180px
}

.banner
.boxes2 {
    padding: 0;
    height: 90px
}

.boxes2
.lastBox {
    width: 200px;
    padding: 3px
0 0 170px
}

.banner
a.scanButton {
    background: url('http://cdnrep.reimage.com/website/newwebsite/banner/banner_css.png') no-repeat;
    width: 210px;
    height: 47px;
    display: block;
    text-decoration: none;
    margin-bottom: 10px
}

.banner a.scanButton:hover {
    background-position: 0px -47px
}

.banner
a.purchaseButton {
    background: url('http://cdnrep.reimage.com/website/newwebsite/banner/banner_css.png') no-repeat;
    width: 210px;
    height: 47px;
    display: block;
    text-decoration: none;
    background-position: 0px -94px
}

.banner a.purchaseButton:hover {
    background-position: 0px -141px
}

.supportTag {
    background: url('http://cdnrep.reimage.com/website/newwebsite/content/support/support_tag.png') no-repeat;
    width: 131px;
    height: 106px;
    position: absolute;
    top: -15px;
    right: -165px;
    padding: 167px
0 0 30px
}

.supportTag
a.chat {
    text-decoration: none;
    display: block;
    width: 90px;
    height: 25px
}

.beeTag {
    background: url('http://cdnrep.reimage.com/website/newwebsite/content/support/bee_tag.png') no-repeat;
    width: 161px;
    height: 273px;
    position: absolute;
    top: 75px;
    left: 140px
}

.supportPricing {
    position: relative;
    height: 274px
}

.supportPricing
.supportTag {
    top: 0;
    left: -20px
}

.headerHome {
    margin: 0
}

.headerHomeBG {
    background: #3c3c3c url('http://cdnrep.reimage.com/website/newwebsite/content/home/homeBG.gif') repeat-x;
    height: 217px
}

.headerHomeBG
.headC {
    padding: 38px
0 0 45px;
    position: relative
}

.headC
.bigBee {
    background: url('http://cdnrep.reimage.com/website/newwebsite/content/home/bee_big.png') no-repeat;
    width: 155px;
    height: 179px;
    position: absolute;
    top: 10px;
    right: 0
}

.headerHomeBG
.bullet {
    width: 489px;
    float: left
}

.headerHomeBG
h1 {
    color: #e7e7e7;
    font-size: 26px;
    margin-bottom: 12px
}

.headerHomeBG
ul {
    list-style: none;
    margin: 0
}

.headerHomeBG
li {
    background: url('http://cdnrep.reimage.com/website/newwebsite/content/home/bullet.png') no-repeat left 2px;
    color: #fffefe;
    font-size: 15px;
    padding: 0
0 8px 26px
}

.headerHomeBG
.buttons {
    margin: 0
0 0 489px;
    padding: 12px
0 0 0
}

.headerHomeBG .buttons a,
.headerHomeBG .buttons a:hover {
    display: block;
    width: 210px;
    height: 47px;
    text-decoration: none;
    margin: 0
0 6px 0;
    color: #fff
}

.headerHomeBG .buttons
a.scan {
    background: url('http://cdnrep.reimage.com/website/newwebsite/content/home/home_css.png') no-repeat
}

.headerHomeBG .buttons a.scan:hover {
    background: url('http://cdnrep.reimage.com/website/newwebsite/content/home/home_css.png') no-repeat left -47px
}

.headerHomeBG .buttons
a.video {
    background: url('http://cdnrep.reimage.com/website/newwebsite/content/home/home_css.png') no-repeat left -94px
}

.headerHomeBG .buttons a.video:hover {
    background: url('http://cdnrep.reimage.com/website/newwebsite/content/home/home_css.png') no-repeat left -141px
}

.bees {
    background: url('http://cdnrep.reimage.com/website/newwebsite/content/home/bee_container.png') no-repeat;
    width: 840px;
    height: 143px;
    margin: 114px
auto 0 auto;
    position: relative
}

.bees
h2 {
    color: #696969;
    margin: 0
0 6px 0
}

.bees
p {
    margin: 0
}

.bee1,.bee2,.bee3 {
    position: relative;
    padding: 20px
0 0 21px
}

.bee1 {
    width: 280px;
    float: left
}

.bee2 {
    width: 274px;
    float: left
}

.bee3 {
    margin: 0
0 0 596px
}

.bees
.num {
    width: 47px;
    height: 47px;
    position: absolute;
    top: -21px
}

.bee1
.num {
    background: url('http://cdnrep.reimage.com/website/newwebsite/content/home/num.png') no-repeat top;
    left: 177px
}

.bee2
.num {
    background: url('http://cdnrep.reimage.com/website/newwebsite/content/home/num.png') no-repeat left -47px;
    left: 171px
}

.bee3
.num {
    background: url('http://cdnrep.reimage.com/website/newwebsite/content/home/num.png') no-repeat bottom;
    left: 181px
}

.bees .pic,
.bees .flash,
.flash
.picFlash {
    position: absolute
}

.bees
.flash {
    z-index: 100
}

.bees .pic a,
.flash .picFlash
a {
    display: block;
    text-decoration: none
}

.bee1 .pic,
.bee1 .flash
.picFlash {
    background: url('http://cdnrep.reimage.com/website/newwebsite/content/home/bees.png') no-repeat left top;
    top: -78px;
    left: 57px;
    width: 116px;
    height: 87px
}

.bee1
.flash {
    top: -95px;
    left: 41px
}

.bee1 .flash
.picFlash {
    top: 17px;
    left: 16px;
    display: none
}

.bee1 .pic a,
.bee1 .flash .picFlash
a {
    width: 116px;
    height: 87px
}

.bee2 .pic,
.bee2 .flash
.picFlash {
    background: url('http://cdnrep.reimage.com/website/newwebsite/content/home/bees.png') no-repeat left -87px;
    top: -83px;
    left: 55px;
    width: 114px;
    height: 108px
}

.bee2
.flash {
    top: -94px;
    left: 39px
}

.bee2 .flash
.picFlash {
    top: 11px;
    left: 16px;
    display: none
}

.bee2 .pic a,
.bee2 .flash .picFlash
a {
    width: 114px;
    height: 108px
}

.bee3 .pic,
.bee3 .flash
.picFlash {
    background: url('http://cdnrep.reimage.com/website/newwebsite/content/home/bees.png') no-repeat left bottom;
    top: -82px;
    left: 53px;
    width: 116px;
    height: 93px
}

.bee3
.flash {
    top: -95px;
    left: 37px
}

.bee3 .flash
.picFlash {
    top: 13px;
    left: 16px;
    display: none
}

.bee3 .pic a,
.bee3 .flash .picFlash
a {
    width: 116px;
    height: 93px
}

.boxesHome1 {
    padding: 50px
0 0 0;
    height: 170px
}

.boxesHome1 .box
.boxContent {
    height: 142px
}

.boxesHome2 {
    padding: 42px
0 0 0
}

.headerHomeXmas {
    background: url('http://cdnrep.reimage.com/website/newwebsite/content/home/home_xmas_back.png') repeat-x;
    height: 210px
}

.headerHomeBGXmas {
    background: url('http://cdnrep.reimage.com/website/newwebsite/content/home/home_xmas_background2.png') no-repeat;
    height: 217px;
    width: 1220px;
    margin: 0
auto
}

.headC
.bigBeeXmas {
    background: url('http://cdnrep.reimage.com/website/newwebsite/content/home/home_xmas_bee.png') no-repeat;
    width: 143px;
    height: 191px;
    position: absolute;
    top: 7px;
    right: 23px
}

.headC
.xmasLeaf {
    background: url('http://cdnrep.reimage.com/website/newwebsite/content/home/xmas_leaf.png') no-repeat;
    width: 51px;
    height: 49px;
    position: absolute;
    top: 29px;
    right: 365px
}

.headerHome {
    margin: 0
}

.headerHomeBGSup {
    background: #3c3c3c url('http://cdnrep.reimage.com/website/newwebsite/content/home/homeBG.png') repeat-x;
    height: 263px
}

.headerHomeBGSup
.headCSup {
    position: relative
}

.headCSup
.support {
    background: url('http://cdnrep.reimage.com/website/newwebsite/content/home/support_2473.png') no-repeat;
    width: 225px;
    height: 86px;
    float: left;
    position: relative;
    padding: 198px
0 0 157px
}

.support
a.chat {
    text-decoration: none;
    display: block;
    width: 90px;
    height: 25px
}

.support
.beeSupport {
    background: url('http://cdnrep.reimage.com/website/newwebsite/content/home/bee_support.png') no-repeat;
    width: 111px;
    height: 132px;
    position: absolute;
    top: 85px;
    left: 9px
}

.headerHomeBGSup
.bulletSup {
    width: 489px;
    float: left;
    padding: 24px
0 0 60px
}

.headerHomeBGSup
h1 {
    color: #e7e7e7;
    font-size: 26px;
    margin-bottom: 2px
}

.headerHomeBGSup
h2 {
    color: #a6cccf;
    font-size: 15px;
    margin-bottom: 12px
}

.headerHomeBGSup
ul {
    list-style: none;
    margin: 0
}

.headerHomeBGSup
li {
    background: url('http://cdnrep.reimage.com/website/newwebsite/content/home/bullet.png') no-repeat left 2px;
    color: #fffefe;
    font-size: 15px;
    padding: 0
0 8px 26px
}

.headerHomeBGSup a,
.headerHomeBGSup a:hover {
    display: block;
    width: 210px;
    height: 47px;
    text-decoration: none;
    margin: 0
0 6px 0;
    color: #fff
}

.downloadButton {
    width: 210px;
    float: left
}

.headerHomeBGSup
a.scan {
    background: url('http://cdnrep.reimage.com/website/newwebsite/content/home/home_css.png') no-repeat
}

.headerHomeBGSup a.scan:hover {
    background: url('http://cdnrep.reimage.com/website/newwebsite/content/home/home_css.png') no-repeat left -47px
}

.videoButton {
    margin: 0
0 0 210px
}

.headerHomeBGSup
a.video {
    background: url('http://cdnrep.reimage.com/website/newwebsite/content/home/home_css.png') no-repeat left -94px
}

.headerHomeBGSup a.video:hover {
    background: url('http://cdnrep.reimage.com/website/newwebsite/content/home/home_css.png') no-repeat left -141px
}

#fancybox-loading {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    margin-left: -20px;
    cursor: pointer;
    overflow: hidden;
    z-index: 1104;
    display: none
}

#fancybox-loading
div {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 480px;
    background-image: url('http://cdnrep.reimage.com/website/newwebsite/fancybox/black/fancybox.png')
}

#fancybox-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1100;
    display: none
}

#fancybox-tmp {
    padding: 0;
    margin: 0;
    border: 0;
    overflow: auto;
    display: none
}

#fancybox-wrap {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    z-index: 1101;
    outline: none;
    display: none
}

#fancybox-outer {
    position: relative;
    width: 100%;
    height: 100%;
    background: #fff
}

#fancybox-content {
    width: 0;
    height: 0;
    padding: 0;
    outline: none;
    position: relative;
    overflow: hidden;
    z-index: 1102;
    border: 0px
solid #fff
}

#fancybox-hide-sel-frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 1101
}

#fancybox-close {
    position: absolute;
    top: -15px;
    right: -15px;
    width: 30px;
    height: 30px;
    background: transparent url('http://cdnrep.reimage.com/website/newwebsite/fancybox/black/fancybox.png') -40px 0px;
    cursor: pointer;
    z-index: 1103;
    display: none
}

#fancybox-error {
    color: #444;
    font: normal 12px/20px Arial;
    padding: 14px;
    margin: 0
}

#fancybox-img {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    line-height: 0;
    vertical-align: top
}

#fancybox-frame {
    width: 100%;
    height: 100%;
    border: none;
    display: block
}

#fancybox-left,#fancybox-right {
    position: absolute;
    bottom: 0px;
    height: 100%;
    width: 35%;
    cursor: pointer;
    outline: none;
    background: transparent url('http://cdnrep.reimage.com/website/newwebsite/fancybox/blank.gif');
    z-index: 1102;
    display: none
}

#fancybox-left {
    left: 0px
}

#fancybox-right {
    right: 0px
}

#fancybox-left-ico,#fancybox-right-ico {
    position: absolute;
    top: 50%;
    left: -9999px;
    width: 30px;
    height: 30px;
    margin-top: -15px;
    cursor: pointer;
    z-index: 1102;
    display: block
}

#fancybox-left-ico {
    background-image: url('http://cdnrep.reimage.com/website/newwebsite/fancybox/black/fancybox.png');
    background-position: -40px -30px
}

#fancybox-right-ico {
    background-image: url('http://cdnrep.reimage.com/website/newwebsite/fancybox/black/fancybox.png');
    background-position: -40px -60px
}

#fancybox-left:hover,#fancybox-right:hover {
    visibility: visible
}

#fancybox-left:hover
span {
    left: 20px
}

#fancybox-right:hover
span {
    left: auto;
    right: 20px
}

.fancybox-bg {
    position: absolute;
    padding: 0;
    margin: 0;
    border: 0;
    width: 20px;
    height: 20px;
    z-index: 1001
}

#fancybox-bg-n {
    top: -20px;
    left: 0;
    width: 100%;
    background-image: url('http://cdnrep.reimage.com/website/newwebsite/fancybox/black/fancybox-x.png')
}

#fancybox-bg-ne {
    top: -20px;
    right: -20px;
    background-image: url('http://cdnrep.reimage.com/website/newwebsite/fancybox/black/fancybox.png');
    background-position: -40px -162px
}

#fancybox-bg-e {
    top: 0;
    right: -20px;
    height: 100%;
    background-image: url('http://cdnrep.reimage.com/website/newwebsite/fancybox/black/fancybox-y.png');
    background-position: -20px 0px
}

#fancybox-bg-se {
    bottom: -20px;
    right: -20px;
    background-image: url('http://cdnrep.reimage.com/website/newwebsite/fancybox/black/fancybox.png');
    background-position: -40px -182px
}

#fancybox-bg-s {
    bottom: -20px;
    left: 0;
    width: 100%;
    background-image: url('http://cdnrep.reimage.com/website/newwebsite/fancybox/black/fancybox-x.png');
    background-position: 0px -20px
}

#fancybox-bg-sw {
    bottom: -20px;
    left: -20px;
    background-image: url('http://cdnrep.reimage.com/website/newwebsite/fancybox/black/fancybox.png');
    background-position: -40px -142px
}

#fancybox-bg-w {
    top: 0;
    left: -20px;
    height: 100%;
    background-image: url('http://cdnrep.reimage.com/website/newwebsite/fancybox/black/fancybox-y.png')
}

#fancybox-bg-nw {
    top: -20px;
    left: -20px;
    background-image: url('http://cdnrep.reimage.com/website/newwebsite/fancybox/black/fancybox.png');
    background-position: -40px -122px
}

#fancybox-title {
    font-family: Helvetica;
    font-size: 12px;
    z-index: 1102
}

.fancybox-title-inside {
    padding-bottom: 10px;
    text-align: center;
    color: #333;
    background: #fff;
    position: relative
}

.fancybox-title-outside {
    padding-top: 10px;
    color: #fff
}

.fancybox-title-over {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #FFF;
    text-align: left
}

#fancybox-title-over {
    padding: 10px;
    background-image: url('http://cdnrep.reimage.com/website/newwebsite/fancybox/fancy_title_over.png');
    display: block
}

.fancybox-title-float {
    position: absolute;
    left: 0;
    bottom: -20px;
    height: 32px
}

#fancybox-title-float-wrap {
    border: none;
    border-collapse: collapse;
    width: auto
}

#fancybox-title-float-wrap
td {
    border: none;
    white-space: nowrap
}

#fancybox-title-float-left {
    padding: 0
0 0 15px;
    background: url('http://cdnrep.reimage.com/website/newwebsite/fancybox/black/fancybox.png') -40px -90px no-repeat
}

#fancybox-title-float-main {
    color: #FFF;
    line-height: 29px;
    font-weight: bold;
    padding: 0
0 3px 0;
    background: url('http://cdnrep.reimage.com/website/newwebsite/fancybox/black/fancybox-x.png') 0px -40px
}

#fancybox-title-float-right {
    padding: 0
0 0 15px;
    background: url('http://cdnrep.reimage.com/website/newwebsite/fancybox/black/fancybox.png') -55px -90px no-repeat
}

.fancybox-ie6 #fancybox-close {
    background: transparent;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://cdnrep.reimage.com/website/newwebsite/fancybox/fancy_close.png', sizingMethod='scale')
}

.fancybox-ie6 #fancybox-left-ico {
    background: transparent;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://cdnrep.reimage.com/website/newwebsite/fancybox/fancy_nav_left.png', sizingMethod='scale')
}

.fancybox-ie6 #fancybox-right-ico {
    background: transparent;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://cdnrep.reimage.com/website/newwebsite/fancybox/fancy_nav_right.png', sizingMethod='scale')
}

.fancybox-ie6 #fancybox-title-over {
    background: transparent;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://cdnrep.reimage.com/website/newwebsite/fancybox/fancy_title_over.png', sizingMethod='scale');
    zoom: 1
}

.fancybox-ie6 #fancybox-title-float-left {
    background: transparent;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://cdnrep.reimage.com/website/newwebsite/fancybox/fancy_title_left.png', sizingMethod='scale')
}

.fancybox-ie6 #fancybox-title-float-main {
    background: transparent;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://cdnrep.reimage.com/website/newwebsite/fancybox/fancy_title_main.png', sizingMethod='scale')
}

.fancybox-ie6 #fancybox-title-float-right {
    background: transparent;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://cdnrep.reimage.com/website/newwebsite/fancybox/fancy_title_right.png', sizingMethod='scale')
}

.fancybox-ie6 #fancybox-bg-w, .fancybox-ie6 #fancybox-bg-e, .fancybox-ie6 #fancybox-left, .fancybox-ie6 #fancybox-right,#fancybox-hide-sel-frame {
    height: expression(this.parentNode.clientHeight+"px")
}

#fancybox-loading.fancybox-ie6 {
    position: absolute;
    margin-top: 0;
    top: expression( (-20 + (document.documentElement.clientHeight ? document.documentElement.clientHeight/2 : document.body.clientHeight/2 ) + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop )) + 'px')
}

#fancybox-loading.fancybox-ie6
div {
    background: transparent;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://cdnrep.reimage.com/website/newwebsite/fancybox/fancy_loading.png', sizingMethod='scale')
}

.fancybox-ie .fancybox-bg {
    background: transparent !important
}

.fancybox-ie #fancybox-bg-n {
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://cdnrep.reimage.com/website/newwebsite/fancybox/fancy_shadow_n.png', sizingMethod='scale')
}

.fancybox-ie #fancybox-bg-ne {
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://cdnrep.reimage.com/website/newwebsite/fancybox/fancy_shadow_ne.png', sizingMethod='scale')
}

.fancybox-ie #fancybox-bg-e {
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://cdnrep.reimage.com/website/newwebsite/fancybox/fancy_shadow_e.png', sizingMethod='scale')
}

.fancybox-ie #fancybox-bg-se {
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://cdnrep.reimage.com/website/newwebsite/fancybox/fancy_shadow_se.png', sizingMethod='scale')
}

.fancybox-ie #fancybox-bg-s {
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://cdnrep.reimage.com/website/newwebsite/fancybox/fancy_shadow_s.png', sizingMethod='scale')
}

.fancybox-ie #fancybox-bg-sw {
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://cdnrep.reimage.com/website/newwebsite/fancybox/fancy_shadow_sw.png', sizingMethod='scale')
}

.fancybox-ie #fancybox-bg-w {
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://cdnrep.reimage.com/website/newwebsite/fancybox/fancy_shadow_w.png', sizingMethod='scale')
}

.fancybox-ie #fancybox-bg-nw {
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://cdnrep.reimage.com/website/newwebsite/fancybox/fancy_shadow_nw.png', sizingMethod='scale')
}
/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp {
    padding: 0;
    margin: 0;
    border: 0;
    outline: none;
    vertical-align: top;
}

.fancybox-wrap {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8020;
}

.fancybox-skin {
    position: relative;
    background: #f9f9f9;
    color: #444;
    text-shadow: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.fancybox-opened {
    z-index: 8030;
}

.fancybox-opened .fancybox-skin {
    -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.fancybox-outer, .fancybox-inner {
    position: relative;
}

.fancybox-inner {
    overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
    -webkit-overflow-scrolling: touch;
}

.fancybox-error {
    color: #444;
    font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0;
    padding: 15px;
    white-space: nowrap;
}

.fancybox-image, .fancybox-iframe {
    display: block;
    width: 100%;
    height: 100%;
}

.fancybox-image {
    max-width: 100%;
    max-height: 100%;
}

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
    background-image: url('fancybox_sprite.png');
}

#fancybox-loading {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -22px;
    margin-left: -22px;
    background-position: 0 -108px;
    opacity: 0.8;
    cursor: pointer;
    z-index: 8060;
}

#fancybox-loading div {
    width: 44px;
    height: 44px;
    background: url('fancybox_loading.gif') center center no-repeat;
}

.fancybox-close {
    position: absolute;
    top: -18px;
    right: -18px;
    width: 36px;
    height: 36px;
    cursor: pointer;
    z-index: 8040;
}

.fancybox-nav {
    position: absolute;
    top: 0;
    width: 40%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
    background: transparent url('blank.gif');
 /* helps IE */
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    z-index: 8040;
}

.fancybox-prev {
    left: 0;
}

.fancybox-next {
    right: 0;
}

.fancybox-nav span {
    position: absolute;
    top: 50%;
    width: 36px;
    height: 34px;
    margin-top: -18px;
    cursor: pointer;
    z-index: 8040;
    visibility: hidden;
}

.fancybox-prev span {
    left: 10px;
    background-position: 0 -36px;
}

.fancybox-next span {
    right: 10px;
    background-position: 0 -72px;
}

.fancybox-nav:hover span {
    visibility: visible;
}

.fancybox-tmp {
    position: absolute;
    top: -99999px;
    left: -99999px;
    visibility: hidden;
    max-width: 99999px;
    max-height: 99999px;
    overflow: visible !important;
}

/* Overlay helper */

.fancybox-lock {
    overflow: hidden !important;
    width: auto;
}

.fancybox-lock body {
    overflow: hidden !important;
}

.fancybox-lock-test {
    overflow-y: hidden !important;
}

.fancybox-overlay {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    display: none;
    z-index: 8010;
	/*background: url('fancybox_overlay.png');*/
}

.fancybox-overlay-fixed {
    position: fixed;
    bottom: 0;
    right: 0;
}

.fancybox-lock .fancybox-overlay {
    overflow: auto;
    overflow-y: scroll;
}

/* Title helper */

.fancybox-title {
    visibility: hidden;
    font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
    position: relative;
    text-shadow: none;
    z-index: 8050;
}

.fancybox-opened .fancybox-title {
    visibility: visible;
}

.fancybox-title-float-wrap {
    position: absolute;
    bottom: 0;
    right: 50%;
    margin-bottom: -35px;
    z-index: 8050;
    text-align: center;
}

.fancybox-title-float-wrap .child {
    display: inline-block;
    margin-right: -100%;
    padding: 2px 20px;
    background: transparent;
 /* Fallback for web browsers that doesn't support RGBa */
	background: rgba(0, 0, 0, 0.8);
	-webkit-border-radius: 15px;
	   -moz-border-radius: 15px;
	        border-radius: 15px;
	text-shadow: 0 1px 2px #222;
	color: #FFF;
	font-weight: bold;
	line-height: 24px;
	white-space: nowrap;
}

.fancybox-title-outside-wrap {
	position: relative;
	margin-top: 10px;
	color: #fff;
}

.fancybox-title-inside-wrap {
	padding-top: 10px;
}

.fancybox-title-over-wrap {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #fff;
	padding: 10px;
	background: #000;
	background: rgba(0, 0, 0, .8);
}

/*Retina graphics!*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	   only screen and (min--moz-device-pixel-ratio: 1.5),
	   only screen and (min-device-pixel-ratio: 1.5){

	#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
		background-image: url('fancybox_sprite@2x.png');
		background-size: 44px 152px; /*The size of the normal image, half the size of the hi-res image*/
	}

	#fancybox-loading div {
		background-image: url('fancybox_loading@2x.gif');
		background-size: 24px 24px; /*The size of the normal image, half the size of the hi-res image*/
	}
}

.fancybox-skin, .fancybox-tmp { background: transparent; }

.fancybox-title-inside-wrap	{background: transparent !important; padding: 0; margin: 0; height: 40px; line-height: 40px; display: block;}
.fancybox-title-inside-wrap a, .fancybox-title-inside-wrap a:hover	{text-decoration: none; position: relative; display: block;}
a.download-link-ie, a.download-link-ie:hover				{top: -50px; height: 40px; line-height: 40px;}
a.download-link-chrome, a.download-link-chrome:hover		{top: -80px; height: 40px; line-height: 40px;}
a.download-link-firefox, a.download-link-firefox:hover		{top: -50px; height: 40px; line-height: 40px;}
a.download-link-edge, a.download-link-edge:hover			{top: -50px; height: 35px; line-height: 35px; left: 20px;}
a.ie9 , a.ie9:hover											{top: -50px; height: 40px; line-height: 40px; font-size: 100px; overflow: hidden;}
