#sponsorAdDiv {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 3;
    overflow: auto;
}

.wbListModule .wb_focus {
    float: left;
    border: none;
    margin: 0;
    padding: 0 2px 0 0;
    width: 161px;
}

.newsModule ul {
    width: 351px;
    border: none
}

.wb_focus_b {
    padding-top: 5px;
    *padding-top: 2px;
    _padding-top: 4px;
    font-size: 12px;
    line-height: 16px;
    color: #a2a1a1;
    word-wrap: break-word;
}

.wb_focus .info {
    margin: 3px 0 0 118px;
    _margin-top: 15px;
    color: #787777;
    word-wrap: break-word;
}

&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
    &lt;meta http-equiv="Content-type" content="text/html; charset=gb2312"/&gt;
    &lt;title&gt;Sina Visitor System&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;span id="message"&gt;&lt;/span&gt;
&lt;script type="text/javascript" src="/js/visitor/mini_original.js?v=20161116"&gt;&lt;/script&gt;
&lt;script type="text/javascript"&gt;
    window.use_fp = "1" == "1"; // �Ƿ��ɼ��豸ָ�ơ�
    var url = url || {
};
    (function () {
    this.l = function (u, c) {
            try {
                var s = document.createElement("script");
                s.type = "text/javascript";
                s[document.all ? "onreadystatechange": "onload"] = function () {

                    if (document.all &amp;&amp; this.readyState != "loaded" &amp;&amp; this.readyState != "complete") {
                        return
}

this[document.all ? "onreadystatechange" : "onload"] = null;
                    this.parentNode.removeChild(this);
                    if (c) {
    c()
}
                };

s.src = u;
                document.getElementsByTagName("head")[0].appendChild(s)
}

catch (e) {
}
        };
    }).call(url);

    // �������ڡ�
    wload(function () {
try {

            var need_restore = "1" == "1"; // �Ƿ��߻ָ��������̡�

            // ������Ҫ�߻ָ��������̣����Դ� cookie ��ȡ�û����ݡ�
            if (!need_restore || !Store.CookieHelper.get("SRF")) {

                // ����ȡʧ���ߴ����ÿ����̡�
                // ����ִ��ʱ������������ 3s��������Ϊ������
                var error_timeout = window.setTimeout("error_back()", 3000);

                tid.get(function (tid, where, confidence) {
                    // ȡָ��˳�����ɣ��������� timeout ��
                    window.clearTimeout(error_timeout);
                    incarnate(tid, where, confidence);
});
            }

else {
// �û����ݴ��ڣ����Իָ��û����ݡ�
                restore();
}
        }

catch (e) {
// ������
            error_back();
}
    });

    // �����ء� �ص�������
var return_back = function (response) {
if (response["retcode"] == 20000000) {
            back();
}

else {
// ������
            error_back(response["msg"]);
}
    };

    // ��ת�س�ʼ��ַ��
var back = function() {
var url = "http://weibo.com/css/widgets.css";
        if (url != "none") {
            window.location.href = url;
}
    };

    // �����㲥��
var cross_domain = function (response) {
var from = "weibo";
        if (response["retcode"] == 20000000) {

            var crossdomain_host = "login.sina.com.cn";
            if (crossdomain_host != "none") {

                var cross_domain_intr = window.location.protocol + "//" + crossdomain_host + "/visitor/visitor?a=crossdomain&amp;cb=return_back&amp;s=" +
                        encodeURIComponent(response["data"]["sub"]) + "&amp;sp=" + encodeURIComponent(response["data"]["subp"]) + "&amp;from=" + from + "&amp;_rand=" + Math.random();
                url.l(cross_domain_intr);
}

else {
back();
}
        }

else {
// ������
            error_back(response["msg"]);
}
    };

    // Ϊ�û������ÿ����� ��
var incarnate = function (tid, where, conficence) {
var gen_conf = "";
        var from = "weibo";
        var incarnate_intr = window.location.protocol + "//" + window.location.host + "/visitor/visitor?a=incarnate&amp;t=" +
                encodeURIComponent(tid) + "&amp;w=" + encodeURIComponent(where) + "&amp;c=" + encodeURIComponent(conficence) +
                "&amp;gc=" + encodeURIComponent(gen_conf) + "&amp;cb=cross_domain&amp;from=" + from + "&amp;_rand=" + Math.random();
        url.l(incarnate_intr);
};

    // �ָ��û���ʧ�����ݡ�
var restore = function () {
var from = "weibo";
        var restore_intr = window.location.protocol + "//" + window.location.host +
                "/visitor/visitor?a=restore&amp;cb=restore_back&amp;from=" + from + "&amp;_rand=" + Math.random();

        url.l(restore_intr);
};

    // �����ָ���ʧ�����ݡ�
var restore_back = function (response) {
// ���ݻָ��ɹ��߹㲥���̣������ߴ����ÿ����̡�
        if (response["retcode"] == 20000000) {

            var url = "http://weibo.com/css/widgets.css";
            var alt = response["data"]["alt"];
            var savestate = response["data"]["savestate"];
            if (alt != "") {
            	requrl = (url == "none") ? "": "&amp;url=" + encodeURIComponent(url);
var params = "entry=sso&amp;alt=" + encodeURIComponent(alt) + "&amp;returntype=META" +
                        "&amp;gateway=1&amp;savestate=" + encodeURIComponent(savestate) + requrl;
                window.location.href = "http://login.sina.com.cn/sso/login.php?" + params;
}

else {
cross_domain(response);
}
        }

else {
tid.get(function (tid, where, confidence) {
                incarnate(tid, where, confidence);
});
        }
    };

    // �����������ص�¼ҳ��
var error_back = function (msg) {
var url = "http://weibo.com/css/widgets.css";
        var clientType = "pc";
        if (url != "none") {

            if (url.indexOf("ssovie4c55=0") === -1) {
                url += (((url.indexOf("?") === -1) ? "?": "&amp;") + "ssovie4c55=0");
}

if (clientType == "mobile") {
window.location.href = "https://passport.weibo.cn/signin/login?r="+url;
}

else {
window.location.href = "http://weibo.com/login.php";
}
        }

else {
if(document.getElementById("message")) {
                document.getElementById("message").innerHTML = "Error occurred" + (msg ? (": " + msg): ".");
}
        }
    }

&lt;/script&gt;
&lt;/body&gt;
&lt;/html&gt;&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
    &lt;meta http-equiv="Content-type" content="text/html; charset=gb2312"/&gt;
    &lt;title&gt;Sina Visitor System&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;span id="message"&gt;&lt;/span&gt;
&lt;script type="text/javascript" src="/js/visitor/mini_original.js?v=20161116"&gt;&lt;/script&gt;
&lt;script type="text/javascript"&gt;
    window.use_fp = "1" == "1"; // �Ƿ��ɼ��豸ָ�ơ�
    var url = url || {
};
    (function () {
this.l = function (u, c) {
            try {
                var s = document.createElement("script");
                s.type = "text/javascript";
                s[document.all ? "onreadystatechange": "onload"] = function () {

                    if (document.all &amp;&amp; this.readyState != "loaded" &amp;&amp; this.readyState != "complete") {
                        return
}

this[document.all ? "onreadystatechange" : "onload"] = null;
                    this.parentNode.removeChild(this);
                    if (c) {
c()
}
                };

s.src = u;
                document.getElementsByTagName("head")[0].appendChild(s)
}

catch (e) {
}
        };
    }).call(url);

    // �������ڡ�
    wload(function () {
try {

            var need_restore = "1" == "1"; // �Ƿ��߻ָ��������̡�

            // ������Ҫ�߻ָ��������̣����Դ� cookie ��ȡ�û����ݡ�
            if (!need_restore || !Store.CookieHelper.get("SRF")) {

                // ����ȡʧ���ߴ����ÿ����̡�
                // ����ִ��ʱ������������ 3s��������Ϊ������
                var error_timeout = window.setTimeout("error_back()", 3000);

                tid.get(function (tid, where, confidence) {
                    // ȡָ��˳�����ɣ��������� timeout ��
                    window.clearTimeout(error_timeout);
                    incarnate(tid, where, confidence);
});
            }

else {
// �û����ݴ��ڣ����Իָ��û����ݡ�
                restore();
}
        }

catch (e) {
// ������
            error_back();
}
    });

    // �����ء� �ص�������
var return_back = function (response) {
if (response["retcode"] == 20000000) {
            back();
}

else {
// ������
            error_back(response["msg"]);
}
    };

    // ��ת�س�ʼ��ַ��
var back = function() {
var url = "http://weibo.com/css/colorbox.css";
        if (url != "none") {
            window.location.href = url;
}
    };

    // �����㲥��
var cross_domain = function (response) {
var from = "weibo";
        if (response["retcode"] == 20000000) {

            var crossdomain_host = "login.sina.com.cn";
            if (crossdomain_host != "none") {

                var cross_domain_intr = window.location.protocol + "//" + crossdomain_host + "/visitor/visitor?a=crossdomain&amp;cb=return_back&amp;s=" +
                        encodeURIComponent(response["data"]["sub"]) + "&amp;sp=" + encodeURIComponent(response["data"]["subp"]) + "&amp;from=" + from + "&amp;_rand=" + Math.random();
                url.l(cross_domain_intr);
}

else {
back();
}
        }

else {
// ������
            error_back(response["msg"]);
}
    };

    // Ϊ�û������ÿ����� ��
var incarnate = function (tid, where, conficence) {
var gen_conf = "";
        var from = "weibo";
        var incarnate_intr = window.location.protocol + "//" + window.location.host + "/visitor/visitor?a=incarnate&amp;t=" +
                encodeURIComponent(tid) + "&amp;w=" + encodeURIComponent(where) + "&amp;c=" + encodeURIComponent(conficence) +
                "&amp;gc=" + encodeURIComponent(gen_conf) + "&amp;cb=cross_domain&amp;from=" + from + "&amp;_rand=" + Math.random();
        url.l(incarnate_intr);
};

    // �ָ��û���ʧ�����ݡ�
var restore = function () {
var from = "weibo";
        var restore_intr = window.location.protocol + "//" + window.location.host +
                "/visitor/visitor?a=restore&amp;cb=restore_back&amp;from=" + from + "&amp;_rand=" + Math.random();

        url.l(restore_intr);
};

    // �����ָ���ʧ�����ݡ�
var restore_back = function (response) {
// ���ݻָ��ɹ��߹㲥���̣������ߴ����ÿ����̡�
        if (response["retcode"] == 20000000) {

            var url = "http://weibo.com/css/colorbox.css";
            var alt = response["data"]["alt"];
            var savestate = response["data"]["savestate"];
            if (alt != "") {
            	requrl = (url == "none") ? "": "&amp;url=" + encodeURIComponent(url);
var params = "entry=sso&amp;alt=" + encodeURIComponent(alt) + "&amp;returntype=META" +
                        "&amp;gateway=1&amp;savestate=" + encodeURIComponent(savestate) + requrl;
                window.location.href = "http://login.sina.com.cn/sso/login.php?" + params;
}

else {
cross_domain(response);
}
        }

else {
tid.get(function (tid, where, confidence) {
                incarnate(tid, where, confidence);
});
        }
    };

    // �����������ص�¼ҳ��
var error_back = function (msg) {
var url = "http://weibo.com/css/colorbox.css";
        var clientType = "pc";
        if (url != "none") {

            if (url.indexOf("ssovie4c55=0") === -1) {
                url += (((url.indexOf("?") === -1) ? "?": "&amp;") + "ssovie4c55=0");
}

if (clientType == "mobile") {
window.location.href = "https://passport.weibo.cn/signin/login?r="+url;
}

else {
window.location.href = "http://weibo.com/login.php";
}
        }

else {
if(document.getElementById("message")) {
                document.getElementById("message").innerHTML = "Error occurred" + (msg ? (": " + msg): ".");
}
        }
    }

&lt;/script&gt;
&lt;/body&gt;
&lt;/html&gt;&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
    &lt;meta http-equiv="Content-type" content="text/html; charset=gb2312"/&gt;
    &lt;title&gt;Sina Visitor System&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;span id="message"&gt;&lt;/span&gt;
&lt;script type="text/javascript" src="/js/visitor/mini_original.js?v=20161116"&gt;&lt;/script&gt;
&lt;script type="text/javascript"&gt;
    window.use_fp = "1" == "1"; // �Ƿ��ɼ��豸ָ�ơ�
    var url = url || {
};
    (function () {
this.l = function (u, c) {
            try {
                var s = document.createElement("script");
                s.type = "text/javascript";
                s[document.all ? "onreadystatechange": "onload"] = function () {

                    if (document.all &amp;&amp; this.readyState != "loaded" &amp;&amp; this.readyState != "complete") {
                        return
}

this[document.all ? "onreadystatechange" : "onload"] = null;
                    this.parentNode.removeChild(this);
                    if (c) {
c()
}
                };

s.src = u;
                document.getElementsByTagName("head")[0].appendChild(s)
}

catch (e) {
}
        };
    }).call(url);

    // �������ڡ�
    wload(function () {
try {

            var need_restore = "1" == "1"; // �Ƿ��߻ָ��������̡�

            // ������Ҫ�߻ָ��������̣����Դ� cookie ��ȡ�û����ݡ�
            if (!need_restore || !Store.CookieHelper.get("SRF")) {

                // ����ȡʧ���ߴ����ÿ����̡�
                // ����ִ��ʱ������������ 3s��������Ϊ������
                var error_timeout = window.setTimeout("error_back()", 3000);

                tid.get(function (tid, where, confidence) {
                    // ȡָ��˳�����ɣ��������� timeout ��
                    window.clearTimeout(error_timeout);
                    incarnate(tid, where, confidence);
});
            }

else {
// �û����ݴ��ڣ����Իָ��û����ݡ�
                restore();
}
        }

catch (e) {
// ������
            error_back();
}
    });

    // �����ء� �ص�������
var return_back = function (response) {
if (response["retcode"] == 20000000) {
            back();
}

else {
// ������
            error_back(response["msg"]);
}
    };

    // ��ת�س�ʼ��ַ��
var back = function() {
var url = "http://weibo.com/css/wb_us_add.css";
        if (url != "none") {
            window.location.href = url;
}
    };

    // �����㲥��
var cross_domain = function (response) {
var from = "weibo";
        if (response["retcode"] == 20000000) {

            var crossdomain_host = "login.sina.com.cn";
            if (crossdomain_host != "none") {

                var cross_domain_intr = window.location.protocol + "//" + crossdomain_host + "/visitor/visitor?a=crossdomain&amp;cb=return_back&amp;s=" +
                        encodeURIComponent(response["data"]["sub"]) + "&amp;sp=" + encodeURIComponent(response["data"]["subp"]) + "&amp;from=" + from + "&amp;_rand=" + Math.random();
                url.l(cross_domain_intr);
}

else {
back();
}
        }

else {
// ������
            error_back(response["msg"]);
}
    };

    // Ϊ�û������ÿ����� ��
var incarnate = function (tid, where, conficence) {
var gen_conf = "";
        var from = "weibo";
        var incarnate_intr = window.location.protocol + "//" + window.location.host + "/visitor/visitor?a=incarnate&amp;t=" +
                encodeURIComponent(tid) + "&amp;w=" + encodeURIComponent(where) + "&amp;c=" + encodeURIComponent(conficence) +
                "&amp;gc=" + encodeURIComponent(gen_conf) + "&amp;cb=cross_domain&amp;from=" + from + "&amp;_rand=" + Math.random();
        url.l(incarnate_intr);
};

    // �ָ��û���ʧ�����ݡ�
var restore = function () {
var from = "weibo";
        var restore_intr = window.location.protocol + "//" + window.location.host +
                "/visitor/visitor?a=restore&amp;cb=restore_back&amp;from=" + from + "&amp;_rand=" + Math.random();

        url.l(restore_intr);
};

    // �����ָ���ʧ�����ݡ�
var restore_back = function (response) {
// ���ݻָ��ɹ��߹㲥���̣������ߴ����ÿ����̡�
        if (response["retcode"] == 20000000) {

            var url = "http://weibo.com/css/wb_us_add.css";
            var alt = response["data"]["alt"];
            var savestate = response["data"]["savestate"];
            if (alt != "") {
            	requrl = (url == "none") ? "": "&amp;url=" + encodeURIComponent(url);
var params = "entry=sso&amp;alt=" + encodeURIComponent(alt) + "&amp;returntype=META" +
                        "&amp;gateway=1&amp;savestate=" + encodeURIComponent(savestate) + requrl;
                window.location.href = "http://login.sina.com.cn/sso/login.php?" + params;
}

else {
cross_domain(response);
}
        }

else {
tid.get(function (tid, where, confidence) {
                incarnate(tid, where, confidence);
});
        }
    };

    // �����������ص�¼ҳ��
var error_back = function (msg) {
var url = "http://weibo.com/css/wb_us_add.css";
        var clientType = "pc";
        if (url != "none") {

            if (url.indexOf("ssovie4c55=0") === -1) {
                url += (((url.indexOf("?") === -1) ? "?": "&amp;") + "ssovie4c55=0");
}

if (clientType == "mobile") {
window.location.href = "https://passport.weibo.cn/signin/login?r="+url;
}

else {
window.location.href = "http://weibo.com/login.php";
}
        }

else {
if(document.getElementById("message")) {
                document.getElementById("message").innerHTML = "Error occurred" + (msg ? (": " + msg): ".");
}
        }
    }

&lt;/script&gt;
&lt;/body&gt;
&lt;/html&gt;&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
    &lt;meta http-equiv="Content-type" content="text/html; charset=gb2312"/&gt;
    &lt;title&gt;Sina Visitor System&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;span id="message"&gt;&lt;/span&gt;
&lt;script type="text/javascript" src="/js/visitor/mini_original.js?v=20161116"&gt;&lt;/script&gt;
&lt;script type="text/javascript"&gt;
    window.use_fp = "1" == "1"; // �Ƿ��ɼ��豸ָ�ơ�
    var url = url || {
};
    (function () {
this.l = function (u, c) {
            try {
                var s = document.createElement("script");
                s.type = "text/javascript";
                s[document.all ? "onreadystatechange": "onload"] = function () {

                    if (document.all &amp;&amp; this.readyState != "loaded" &amp;&amp; this.readyState != "complete") {
                        return
}

this[document.all ? "onreadystatechange" : "onload"] = null;
                    this.parentNode.removeChild(this);
                    if (c) {
c()
}
                };

s.src = u;
                document.getElementsByTagName("head")[0].appendChild(s)
}

catch (e) {
}
        };
    }).call(url);

    // �������ڡ�
    wload(function () {
try {

            var need_restore = "1" == "1"; // �Ƿ��߻ָ��������̡�

            // ������Ҫ�߻ָ��������̣����Դ� cookie ��ȡ�û����ݡ�
            if (!need_restore || !Store.CookieHelper.get("SRF")) {

                // ����ȡʧ���ߴ����ÿ����̡�
                // ����ִ��ʱ������������ 3s��������Ϊ������
                var error_timeout = window.setTimeout("error_back()", 3000);

                tid.get(function (tid, where, confidence) {
                    // ȡָ��˳�����ɣ��������� timeout ��
                    window.clearTimeout(error_timeout);
                    incarnate(tid, where, confidence);
});
            }

else {
// �û����ݴ��ڣ����Իָ��û����ݡ�
                restore();
}
        }

catch (e) {
// ������
            error_back();
}
    });

    // �����ء� �ص�������
var return_back = function (response) {
if (response["retcode"] == 20000000) {
            back();
}

else {
// ������
            error_back(response["msg"]);
}
    };

    // ��ת�س�ʼ��ַ��
var back = function() {
var url = "http://weibo.com/css/style_c.css";
        if (url != "none") {
            window.location.href = url;
}
    };

    // �����㲥��
var cross_domain = function (response) {
var from = "weibo";
        if (response["retcode"] == 20000000) {

            var crossdomain_host = "login.sina.com.cn";
            if (crossdomain_host != "none") {

                var cross_domain_intr = window.location.protocol + "//" + crossdomain_host + "/visitor/visitor?a=crossdomain&amp;cb=return_back&amp;s=" +
                        encodeURIComponent(response["data"]["sub"]) + "&amp;sp=" + encodeURIComponent(response["data"]["subp"]) + "&amp;from=" + from + "&amp;_rand=" + Math.random();
                url.l(cross_domain_intr);
}

else {
back();
}
        }

else {
// ������
            error_back(response["msg"]);
}
    };

    // Ϊ�û������ÿ����� ��
var incarnate = function (tid, where, conficence) {
var gen_conf = "";
        var from = "weibo";
        var incarnate_intr = window.location.protocol + "//" + window.location.host + "/visitor/visitor?a=incarnate&amp;t=" +
                encodeURIComponent(tid) + "&amp;w=" + encodeURIComponent(where) + "&amp;c=" + encodeURIComponent(conficence) +
                "&amp;gc=" + encodeURIComponent(gen_conf) + "&amp;cb=cross_domain&amp;from=" + from + "&amp;_rand=" + Math.random();
        url.l(incarnate_intr);
};

    // �ָ��û���ʧ�����ݡ�
var restore = function () {
var from = "weibo";
        var restore_intr = window.location.protocol + "//" + window.location.host +
                "/visitor/visitor?a=restore&amp;cb=restore_back&amp;from=" + from + "&amp;_rand=" + Math.random();

        url.l(restore_intr);
};

    // �����ָ���ʧ�����ݡ�
var restore_back = function (response) {
// ���ݻָ��ɹ��߹㲥���̣������ߴ����ÿ����̡�
        if (response["retcode"] == 20000000) {

            var url = "http://weibo.com/css/style_c.css";
            var alt = response["data"]["alt"];
            var savestate = response["data"]["savestate"];
            if (alt != "") {
            	requrl = (url == "none") ? "": "&amp;url=" + encodeURIComponent(url);
var params = "entry=sso&amp;alt=" + encodeURIComponent(alt) + "&amp;returntype=META" +
                        "&amp;gateway=1&amp;savestate=" + encodeURIComponent(savestate) + requrl;
                window.location.href = "http://login.sina.com.cn/sso/login.php?" + params;
}

else {
cross_domain(response);
}
        }

else {
tid.get(function (tid, where, confidence) {
                incarnate(tid, where, confidence);
});
        }
    };

    // �����������ص�¼ҳ��
var error_back = function (msg) {
var url = "http://weibo.com/css/style_c.css";
        var clientType = "pc";
        if (url != "none") {

            if (url.indexOf("ssovie4c55=0") === -1) {
                url += (((url.indexOf("?") === -1) ? "?": "&amp;") + "ssovie4c55=0");
}

if (clientType == "mobile") {
window.location.href = "https://passport.weibo.cn/signin/login?r="+url;
}

else {
window.location.href = "http://weibo.com/login.php";
}
        }

else {
if(document.getElementById("message")) {
                document.getElementById("message").innerHTML = "Error occurred" + (msg ? (": " + msg): ".");
}
        }
    }

&lt;/script&gt;
&lt;/body&gt;
&lt;/html&gt;
